# SQL Server Database

In [1]:
import sqlalchemy
from sqlalchemy import text
from functools import partial
import pandas as pd
from sql_connector import Database

2023-05-07 20:28:35,134 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2023-05-07 20:28:35,134 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-07 20:28:35,137 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-05-07 20:28:35,137 INFO sqlalchemy.engine.Engine [generated in 0.00043s] ()
2023-05-07 20:28:35,142 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-05-07 20:28:35,142 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ()
2023-05-07 20:28:35,146 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2023-05-07 20:28:35,147 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ()
2023-05-07 20:28:35,153 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-07 20:28:35,153 INFO sqlalchemy.engine.Engine SELECT DB_NAME()
2023-05-07 20:28:35,154 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ()
2023-05-07 20:28:35,156 INFO sqlalchemy.engine.Engine ROLLBACK
Connection to NBA was successful.

## Create Engine

In [2]:
nba = Database(database='NBA')

mssql+pyodbc://sa:***@localhost:1433/NBA?driver=ODBC+Driver+17+for+SQL+Server

## Create Table

### Columns to Create

In [24]:
player_shotLocations = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba\data\player_shotLocations.csv", header=[0,1], skipinitialspace=True,)
games_played = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba\data\games_played.csv", parse_dates=['DateTime'])

### Execute SQL to Create Table

In [ ]:
create_team_table = text("""
CREATE TABLE teams(
team_id INT PRIMARY KEY NOT NULL,
team_name VARCHAR(20),
team_abbreviation CHAR(3),
arena_name VARCHAR(30),
team_year INT
)
""")

create_player_table = text("""
CREATE TABLE players(
player_id INT PRIMARY KEY,
player_name VARCHAR(30)
)""")

create_player_team_table = text("""
CREATE TABLE player_team_history(
id INT NOT NULL IDENTITY(1,1),
player_id INT FOREIGN KEY REFERENCES players(player_id),
player_age INT,
team_id INT FOREIGN KEY REFERENCES teams(team_id),
year VARCHAR(10)
)
""")

with nba.engine.begin() as conn:
    conn.execute(create_team_table)
    conn.execute(create_player_table)
    conn.execute(create_player_team_table)

## Add Columns to Table

In [ ]:
add_arena_col = text("""
ALTER TABLE teams
ADD arena_name VARCHAR(30);
""")

with nba.engine.begin() as conn:
    conn.execute(add_arena_col)

## Insert Table

In [38]:
teams_df = games_played.set_index('DateTime').rename(columns={'Visitor':'team_name', 'Visitor_short':'team_abbreviation',})[['team_name','team_abbreviation','Arena']].drop_duplicates().copy()
teams_df['year'] = teams_df.index.year
teams_df

,team_name,team_abbreviation,Arena,year
DateTime,,,,
2000-10-31 19:30:00,Charlotte Hornets,CHH,Philips Arena,2000
2000-10-31 19:30:00,Cleveland Cavaliers,CLE,Continental Airlines Arena,2000
2000-10-31 19:30:00,Washington Wizards,WAS,TD Waterhouse Centre,2000
2000-10-31 20:00:00,Milwaukee Bucks,MIL,Reunion Arena,2000
2000-10-31 20:00:00,Philadelphia 76ers,PHI,Madison Square Garden (IV),2000
...,...,...,...,...
2023-03-25 22:00:00,Philadelphia 76ers,PHI,Footprint Center,2023
2023-03-31 22:30:00,Denver Nuggets,DEN,Footprint Center,2023
2023-04-04 22:00:00,San Antonio Spurs,SAS,Footprint Center,2023
2023-04-06 20:00:00,Portland Trail Blazers,POR,Moody Center,2023
2023-04-08 16:00:00,Minnesota Timberwolves,MIN,Moody Center,2023

### Execute SQL Statement to INSERT

In [ ]:
insert_table = text("""
INSERT INTO teams (team_id, team_name)
VALUES (:player_id, :player_name)
""")

with nba.engine.begin() as conn:
    conn.execute(insert_table, [{"player_id": 1, "player_name": 1}, {"player_id": 2, "player_name": 4}],)

# Drop Table

In [21]:
drop_table = text("""
DROP TABLE player_team_history;
DROP TABLE players;
DROP TABLE teams;
""")

with nba.engine.begin() as conn:
    conn.execute(drop_table)

2023-05-07 23:04:28,093 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-07 23:04:28,094 INFO sqlalchemy.engine.Engine
DROP TABLE player_team_history;
DROP TABLE players;
DROP TABLE teams;

2023-05-07 23:04:28,094 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ()
2023-05-07 23:04:28,108 INFO sqlalchemy.engine.Engine COMMIT