# SQL Server Database

In [1]:
import sqlalchemy
from sqlalchemy import text, bindparam
from functools import partial
import pandas as pd
from sql_connector import DB
import re
import hashlib
import numpy as np

# show all columns
pd.set_option('display.max_columns', None)

Connection to NBA was successful.

## Create Engine

In [2]:
nba = DB(db_name='NBA')
tempdb = DB(db_name='tempdb')

### Disable and Enable FK Constrains, IDENTITY_INSERT to Insert Data

#### Read Data

In [326]:
player_shotLocations = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\player_shotLocations.csv", skipinitialspace=True, index_col=0)
games_played = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\games_played.csv", parse_dates=['DateTime'])
players = pd.read_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\players.csv', parse_dates=['BirthDate'], names=['PlayerName', 'FromYear', 'ToYear', 'PositionID', 'Height', 'Weight', 'BirthDate', 'College'], header=0)
play_by_play = pd.read_parquet(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\play_by_play.parquet")

#### Insert Positions

In [62]:
positions = pd.read_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\position.csv')
positions

   PositionID PositionName     Description
0           1          F-C  Forward-center
1           2          C-F  Center-forward
2           3            C          Center
3           4            G           Guard
4           5            F         Forward
5           6          G-F   Guard-forward
6           7          F-G   Forward-guard

In [ ]:
# Disable FK constrains and set IDENTITY_INSERT to ON
with nba.engine.connect() as connection:
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'"))
    connection.execute(text("SET IDENTITY_INSERT Position ON"))

# Insert positions table
positions.to_sql('Position', con=nba.engine, if_exists='append', index=False)  # Use the engine here

# Re-enable FK constraints and set IDENTITY_INSERT to OFF
with nba.engine.connect() as connection:
    connection.execute(text("SET IDENTITY_INSERT Position OFF"))
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'"))

#### Insert Players

In [ ]:
players = pd.read_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\players.csv', parse_dates=['BirthDate'], names=['PlayerName', 'FromYear', 'ToYear', 'PositionID', 'Height', 'Weight', 'BirthDate', 'College'], header=0)

# Read positions from sql
with nba.engine.connect() as connection:
    positions = connection.execute(text("SELECT * FROM Position")).fetchall()
    positions = pd.DataFrame(positions, columns=['PositionID', 'PositionName', 'Description'])

# Join positions to players
players = players.merge(positions, left_on='PositionID', right_on='PositionName', how='left', suffixes=('_x', ''))\
    .drop(columns=['PositionID_x', 'PositionName', 'Description'])

In [ ]:
# Disable FK constrains and set IDENTITY_INSERT to ON
with nba.engine.connect() as connection:
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'"))
    # connection.execute(text("SET IDENTITY_INSERT Player ON"))

# Insert positions table
players.to_sql('Player', con=nba.engine, if_exists='append', index=False)  # Use the engine here

# Re-enable FK constraints and set IDENTITY_INSERT to OFF
with nba.engine.connect() as connection:
    # connection.execute(text("SET IDENTITY_INSERT Player OFF"))
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'"))

#### Clean Players (sql)

In [355]:
with nba.engine.connect() as connection:
    players_sql = connection.execute(text('SELECT * FROM Player')).fetchall()
    players_sql = pd.DataFrame(players_sql, columns=['PlayerID', 'PlayerName', 'FromYear', 'ToYear', 'PositionID', 'Height', 'Weight', 'BirthDate', 'College'])

# Find all special characters in PlayerName and convert to simplified alphanumeric value
special_chars = players['PlayerName'].str.findall(r'[^a-zA-Z0-9 ]')
special_chars = [re.sub(r'\W+', '_', char).lower() for sublist in special_chars for char in sublist]
special_chars = list(set(special_chars))
special_chars

2023-08-27 21:27:36,595 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-27 21:27:36,596 INFO sqlalchemy.engine.Engine SELECT * FROM Player
2023-08-27 21:27:36,596 INFO sqlalchemy.engine.Engine [cached since 891.7s ago] ()
2023-08-27 21:27:36,643 INFO sqlalchemy.engine.Engine ROLLBACK

['ū',
 '_',
 'ń',
 'i̇',
 'è',
 'ã',
 'ğ',
 'ı',
 'ö',
 'ý',
 'á',
 'ú',
 'ș',
 'ê',
 'ē',
 'ß',
 'ģ',
 'ä',
 'ā',
 'ï',
 'š',
 'ç',
 'ć',
 'í',
 'ü',
 'ò',
 'ô',
 'é',
 'ž',
 'ş',
 'ó',
 'ř',
 'č',
 'ð',
 'ņ',
 'ë']

#### Create and Insert Arena csv

In [ ]:
arena = teams[['Arena', 'Attendance']].groupby('Arena').max().reset_index()
arena.columns = ['ArenaName', 'Capacity']
arena.to_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\arena.csv', index=False)

In [216]:
arena = pd.read_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\arena.csv')
arena

                  ArenaName  Capacity
0           ARCO Arena (II)   17317.0
1               AT&T Center   19615.0
2         AccorHotels Arena   15885.0
3         Air Canada Centre   21050.0
4                 Alamodome   68323.0
..                      ...       ...
88     Visa Athletic Center       NaN
89             Vivint Arena   18206.0
90  Vivint Smart Home Arena   19911.0
91          Wachovia Center   21068.0
92       Wells Fargo Center   21509.0

[93 rows x 2 columns]

In [217]:

# Disable FK constrains and set IDENTITY_INSERT to ON
with nba.engine.connect() as connection:
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'"))
    # connection.execute(text("SET IDENTITY_INSERT Player ON"))

# Insert positions table
arena.to_sql('Arena', con=nba.engine, if_exists='append', index=False)  # Use the engine here

# Re-enable FK constraints and set IDENTITY_INSERT to OFF
with nba.engine.connect() as connection:
    # connection.execute(text("SET IDENTITY_INSERT Player OFF"))
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'"))

2023-08-23 01:09:04,303 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:09:04,304 INFO sqlalchemy.engine.Engine EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'
2023-08-23 01:09:04,304 INFO sqlalchemy.engine.Engine [cached since 8.826e+04s ago] ()
2023-08-23 01:09:04,356 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 01:09:04,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:09:04,365 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2023-08-23 01:09:04,365 INFO sqlalchemy.engine.Engine [cached since 8.839e+04s ago] ('BASE TABLE', 'VIEW', 'Arena', 'dbo')
2023-08-23 01:09:04,371 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 01:09:04,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:09:04,375 INFO sqlalchemy.engine.Engine INSERT INTO [Arena] ([ArenaName], [Capacity]) VALUES (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ? ... 445 characters truncated ... , ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?)
2023-08-23 01:09:04,375 INFO sqlalchemy.engine.Engine [generated in 0.00033s (insertmanyvalues) 1/1 (unordered)] ('ARCO Arena (II)', 17317.0, 'AT&T Center', 19615.0, 'AccorHotels Arena', 15885.0, 'Air Canada Centre', 21050.0, 'Alamodome', 68323.0, 'Amalie Arena', 3800.0, 'America West Arena', 19023.0, 'American Airlines Center', 21156.0, 'AmericanAirlines Arena', 21103.0, 'Amway Arena', 17519.0, 'Amway Center', 19482.0, 'BMO Harris Bradley Center', 18717.0, 'Ball Arena', 19983.0, 'Bankers Life Fieldhouse', 18165.0, 'Barclays Center', 18241.0, 'Bradley Center', 18717.0, 'Capital One Arena', 20476.0, 'Charlotte Bobcats Arena', 19561.0, 'Charlotte Coliseum', 23799.0, 'Chase Center', 18064.0, 'Chesapeake Energy Arena', 18203.0, 'Compaq Center', 16285.0, 'Conseco Fieldhouse', 18345.0, 'Continental Airlines Arena', 20174.0, 'Crypto.com Arena', 19068.0 ... 86 parameters truncated ... 'Scotiabank Arena', 20917.0, 'Sleep Train Arena', 17458.0, 'Smoothie King Center', 18962.0, 'Spectrum Center', 19641.0, 'State Farm Arena', 19176.0, 'TD Banknorth Garden', 18624.0, 'TD Garden', 19156.0, 'TD Waterhouse Centre', 17283.0, 'Talking Stick Resort Arena', 18319.0, 'Target Center', 20412.0, 'The Arena', None, 'The Arena in Oakland', 20310.0, 'The O2 Arena', 19078.0, 'The Palace of Auburn Hills', 22076.0, 'Time Warner Cable Arena', 19636.0, 'Toyota Center', 18583.0, 'US Airways Center', 18422.0, 'UW–Milwaukee Panther Arena', 11046.0, 'United Center', 23534.0, 'Verizon Center', 20435.0, 'Visa Athletic Center', None, 'Vivint Arena', 18206.0, 'Vivint Smart Home Arena', 19911.0, 'Wachovia Center', 21068.0, 'Wells Fargo Center', 21509.0)
2023-08-23 01:09:04,403 INFO sqlalchemy.engine.Engine COMMIT
2023-08-23 01:09:04,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:09:04,411 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2023-08-23 01:09:04,411 INFO sqlalchemy.engine.Engine [cached since 8.839e+04s ago] ('dbo', 'BASE TABLE')
2023-08-23 01:09:04,419 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 01:09:04,421 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:09:04,421 INFO sqlalchemy.engine.Engine EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'
2023-08-23 01:09:04,421 INFO sqlalchemy.engine.Engine [cached since 8.813e+04s ago] ()
2023-08-23 01:09:04,442 INFO sqlalchemy.engine.Engine ROLLBACK

#### Create and Insert Teams csv

In [130]:
# Get unique teams from games_played
games_played[['Home', 'Home_short']].drop_duplicates().reset_index(drop=True).to_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\team.csv', index=False)

In [223]:
teams = pd.read_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\team.csv', names=['TeamName', 'TeamShort'], header=0)
teams.head()

           TeamName TeamShort
0     Atlanta Hawks       ATL
1   New Jersey Nets       NJN
2     Orlando Magic       ORL
3  Dallas Mavericks       DAL
4   New York Knicks       NYK

In [224]:
# Disable FK constrains and set IDENTITY_INSERT to ON
with nba.engine.connect() as connection:
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'"))
    # connection.execute(text("SET IDENTITY_INSERT Player ON"))

# Insert positions table
teams.to_sql('Team', con=nba.engine, if_exists='append', index=False)  # Use the engine here

# Re-enable FK constraints and set IDENTITY_INSERT to OFF
with nba.engine.connect() as connection:
    # connection.execute(text("SET IDENTITY_INSERT Player OFF"))
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'"))

2023-08-23 01:13:26,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:13:26,857 INFO sqlalchemy.engine.Engine EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'
2023-08-23 01:13:26,857 INFO sqlalchemy.engine.Engine [cached since 8.852e+04s ago] ()
2023-08-23 01:13:26,869 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 01:13:26,875 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:13:26,876 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2023-08-23 01:13:26,877 INFO sqlalchemy.engine.Engine [cached since 8.865e+04s ago] ('BASE TABLE', 'VIEW', 'Team', 'dbo')
2023-08-23 01:13:26,879 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 01:13:26,881 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:13:26,882 INFO sqlalchemy.engine.Engine INSERT INTO [Team] ([TeamName], [TeamShort]) VALUES (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?)
2023-08-23 01:13:26,882 INFO sqlalchemy.engine.Engine [generated in 0.00032s (insertmanyvalues) 1/1 (unordered)] ('Atlanta Hawks', 'ATL', 'New Jersey Nets', 'NJN', 'Orlando Magic', 'ORL', 'Dallas Mavericks', 'DAL', 'New York Knicks', 'NYK', 'Toronto Raptors', 'TOR', 'Chicago Bulls', 'CHI', 'Houston Rockets', 'HOU', 'San Antonio Spurs', 'SAS', 'Utah Jazz', 'UTA', 'Golden State Warriors', 'GSW', 'Portland Trail Blazers', 'POR', 'Vancouver Grizzlies', 'VAN', 'Boston Celtics', 'BOS', 'Philadelphia 76ers', 'PHI', 'Charlotte Hornets', 'CHH', 'Cleveland Cavaliers', 'CLE', 'Miami Heat', 'MIA', 'Seattle SuperSonics', 'SEA', 'Los Angeles Lakers', 'LAL', 'Denver Nuggets', 'DEN', 'Phoenix Suns', 'PHX', 'Los Angeles Clippers', 'LAC', 'Washington Wizards', 'WAS', 'Detroit Pistons', 'DET', 'Indiana Pacers', 'IND', 'Minnesota Timberwolves', 'MIN', 'Milwaukee Bucks', 'MIL', 'Sacramento Kings', 'SAC', 'Memphis Grizzlies', 'MEM', 'New Orleans Hornets', 'NOH', 'Charlotte Bobcats', 'CAB', 'New Orleans/Oklahoma City Hornets', 'NCH', 'Oklahoma City Thunder', 'OKC', 'Brooklyn Nets', 'BKN', 'New Orleans Pelicans', 'NOP')
2023-08-23 01:13:26,890 INFO sqlalchemy.engine.Engine COMMIT
2023-08-23 01:13:26,895 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:13:26,896 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2023-08-23 01:13:26,896 INFO sqlalchemy.engine.Engine [cached since 8.865e+04s ago] ('dbo', 'BASE TABLE')
2023-08-23 01:13:26,902 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 01:13:26,904 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 01:13:26,904 INFO sqlalchemy.engine.Engine EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'
2023-08-23 01:13:26,905 INFO sqlalchemy.engine.Engine [cached since 8.839e+04s ago] ()
2023-08-23 01:13:26,921 INFO sqlalchemy.engine.Engine ROLLBACK

#### Merge and Insert Games Played

In [243]:
# Query the database for teams and arena
with nba.engine.connect() as connection:
    teams = connection.execute(text("SELECT TeamID, TeamName FROM Team")).fetchall()
    teams = pd.DataFrame(teams, columns=['TeamID', 'TeamName'])
    arena = connection.execute(text("SELECT ArenaID, ArenaName FROM Arena")).fetchall()
    arena = pd.DataFrame(arena, columns=['ArenaID', 'ArenaName'])

2023-08-23 22:04:37,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 22:04:37,934 INFO sqlalchemy.engine.Engine SELECT TeamID, TeamName FROM Team
2023-08-23 22:04:37,935 INFO sqlalchemy.engine.Engine [cached since 7.488e+04s ago] ()
2023-08-23 22:04:37,946 INFO sqlalchemy.engine.Engine SELECT ArenaID, ArenaName FROM Arena
2023-08-23 22:04:37,946 INFO sqlalchemy.engine.Engine [cached since 7.488e+04s ago] ()
2023-08-23 22:04:37,949 INFO sqlalchemy.engine.Engine ROLLBACK

In [262]:
# Merge teams and arena with games_played
games_played = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\games_played.csv", parse_dates=['DateTime'])
games_played = games_played.merge(teams, left_on='Home', right_on='TeamName', how='left', suffixes=('_x', 'Home'), )
games_played = games_played.merge(teams, left_on='Visitor', right_on='TeamName', how='left', suffixes=('Home', 'Visitor'), )
games_played = games_played.merge(arena, left_on='Arena', right_on='ArenaName', how='left', suffixes=('_x', ''))
games_played = games_played[['DateTime', 'Visitor PTS', 'Home PTS', 'OT','Attendance','game_id', 'TeamIDHome','TeamIDVisitor', 'ArenaID']]
games_played.rename(columns={'Visitor PTS': 'VisitorPTS', 'Home PTS': 'HomePTS', 'TeamIDHome': 'HomeTeamID', 'TeamIDVisitor': 'VisitorTeamID', 'game_id': 'GameID'}, inplace=True)

In [265]:
# Disable FK constrains and set IDENTITY_INSERT to ON
with nba.engine.connect() as connection:
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'"))

# Insert positions table
games_played.to_sql('GamesPlayed', con=nba.engine, if_exists='append', index=False)  # Use the engine here

# Re-enable FK constraints and set IDENTITY_INSERT to OFF
with nba.engine.connect() as connection:
    connection.execute(text("EXEC sp_MSforeachtable @command1='ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL'"))

2023-08-23 22:14:28,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 22:14:28,857 INFO sqlalchemy.engine.Engine EXEC sp_MSforeachtable @command1='ALTER TABLE ? NOCHECK CONSTRAINT ALL'
2023-08-23 22:14:28,858 INFO sqlalchemy.engine.Engine [cached since 1.642e+05s ago] ()
2023-08-23 22:14:28,868 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 22:14:28,876 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 22:14:28,877 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2023-08-23 22:14:28,877 INFO sqlalchemy.engine.Engine [cached since 1.643e+05s ago] ('BASE TABLE', 'VIEW', 'GamesPlayed', 'dbo')
2023-08-23 22:14:28,880 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-23 22:14:28,898 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-23 22:14:29,060 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,061 INFO sqlalchemy.engine.Engine [generated in 0.13269s (insertmanyvalues) 1/127 (unordered)] (datetime.datetime(2000, 10, 31, 19, 30), 106.0, 82.0, None, 18465.0, '200010311930CHHATL', 1, 16, 57.0, datetime.datetime(2000, 10, 31, 19, 30), 86.0, 82.0, None, 14505.0, '200010311930CLENJN', 2, 17, 24.0, datetime.datetime(2000, 10, 31, 19, 30), 86.0, 97.0, None, 13349.0, '200010311930WASORL', 3, 24, 76.0, datetime.datetime(2000, 10, 31, 20, 0), 93.0, 97.0, None, 16600.0, '200010312000MILDAL', 4, 28, 63.0, datetime.datetime(2000, 10, 31, 20, 0), 101.0, 72.0, None, 19763.0, '200010312000PHINYK', 5, 15, 46.0, datetime.datetime(2000, 10, 31, 20, 0), 104.0, 95.0, None, 19800.0 ... 1997 parameters truncated ... 15323.0, '200012012000CLEDET', 25, 17, 82.0, datetime.datetime(2000, 12, 1, 20, 30), 91.0, 86.0, None, 22099.0, '200012012030NYKCHI', 7, 5, 87.0, datetime.datetime(2000, 12, 1, 22, 0), 86.0, 76.0, 'OT', 11758.0, '200012012200INDVAN', 13, 26, 36.0, datetime.datetime(2000, 12, 1, 22, 30), 100.0, 109.0, None, 18997.0, '200012012230SASLAL', 20, 9, 67.0, datetime.datetime(2000, 12, 1, 22, 30), 98.0, 105.0, None, 17317.0, '200012012230PHXSAC', 29, 22, 1.0, datetime.datetime(2000, 12, 2, 14, 30), 94.0, 101.0, None, 9827.0, '200012021430MILATL', 1, 28, 57.0)
2023-08-23 22:14:29,202 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,202 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/127 (unordered)] (datetime.datetime(2000, 12, 2, 19, 30), 89.0, 94.0, None, 13360.0, '200012021930UTACHH', 16, 10, 19.0, datetime.datetime(2000, 12, 2, 19, 30), 112.0, 78.0, None, 20562.0, '200012021930PHICLE', 17, 15, 38.0, datetime.datetime(2000, 12, 2, 19, 30), 95.0, 74.0, None, 14897.0, '200012021930ORLNJN', 2, 3, 24.0, datetime.datetime(2000, 12, 2, 19, 30), 90.0, 100.0, None, 19763.0, '200012021930MINNYK', 5, 27, 46.0, datetime.datetime(2000, 12, 2, 20, 0), 93.0, 90.0, None, 20674.0, '200012022000MIAWAS', 24, 18, 45.0, datetime.datetime(2000, 12, 2, 20, 30), 96.0, 85.0, None, 12648.0 ... 1997 parameters truncated ... 16045.0, '200101042000SEAMIN', 27, 19, 78.0, datetime.datetime(2001, 1, 4, 20, 0), 92.0, 95.0, 'OT', 19763.0, '200101042000ORLNYK', 5, 3, 46.0, datetime.datetime(2001, 1, 4, 20, 30), 96.0, 98.0, None, 21488.0, '200101042030WASCHI', 7, 24, 87.0, datetime.datetime(2001, 1, 4, 20, 30), 97.0, 107.0, None, 11646.0, '200101042030DETHOU', 8, 25, 22.0, datetime.datetime(2001, 1, 5, 19, 0), 89.0, 121.0, None, 20240.0, '200101051900SEAPHI', 15, 19, 30.0, datetime.datetime(2001, 1, 5, 19, 0), 115.0, 105.0, None, 19800.0, '200101051900DALTOR', 6, 4, 4.0)
2023-08-23 22:14:29,264 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,265 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/127 (unordered)] (datetime.datetime(2001, 1, 5, 19, 30), 100.0, 88.0, None, 12699.0, '200101051930GSWBOS', 14, 11, 32.0, datetime.datetime(2001, 1, 5, 21, 0), 87.0, 100.0, None, 15205.0, '200101052100UTADEN', 21, 10, 55.0, datetime.datetime(2001, 1, 5, 21, 0), 76.0, 108.0, None, 18359.0, '200101052100VANPHX', 22, 13, 7.0, datetime.datetime(2001, 1, 5, 22, 0), 115.0, 119.0, None, 20580.0, '200101052200MILPOR', 12, 28, 65.0, datetime.datetime(2001, 1, 5, 22, 30), 86.0, 73.0, None, 12484.0, '200101052230CHHLAC', 23, 16, 67.0, datetime.datetime(2001, 1, 5, 22, 30), 93.0, 91.0, 'OT', 17317.0 ... 1997 parameters truncated ... 17329.0, '200102062000SACMIL', 28, 29, 16.0, datetime.datetime(2001, 2, 6, 21, 0), 80.0, 97.0, None, 17197.0, '200102062100CHIPHX', 22, 7, 7.0, datetime.datetime(2001, 2, 7, 19, 0), 91.0, 94.0, None, 13493.0, '200102071900MILBOS', 14, 28, 32.0, datetime.datetime(2001, 2, 7, 19, 0), 112.0, 87.0, None, 17661.0, '200102071900HOUPHI', 15, 8, 30.0, datetime.datetime(2001, 2, 7, 19, 30), 107.0, 89.0, None, 13324.0, '200102071930SASCLE', 17, 9, 38.0, datetime.datetime(2001, 2, 7, 19, 30), 93.0, 96.0, '2OT', 19763.0, '200102071930DALNYK', 5, 4, 46.0)
2023-08-23 22:14:29,329 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,329 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/127 (unordered)] (datetime.datetime(2001, 2, 7, 19, 30), 98.0, 107.0, None, 13548.0, '200102071930WASORL', 3, 24, 76.0, datetime.datetime(2001, 2, 7, 20, 0), 88.0, 117.0, None, 18274.0, '200102072000SACMIN', 27, 29, 78.0, datetime.datetime(2001, 2, 7, 22, 0), 80.0, 97.0, None, 20510.0, '200102072200SEAPOR', 12, 19, 65.0, datetime.datetime(2001, 2, 7, 22, 30), 88.0, 89.0, None, 13447.0, '200102072230LACGSW', 11, 23, 80.0, datetime.datetime(2001, 2, 7, 22, 30), 83.0, 85.0, None, 18997.0, '200102072230PHXLAL', 20, 22, 67.0, datetime.datetime(2001, 2, 7, 22, 30), 92.0, 82.0, None, 13240.0 ... 1997 parameters truncated ... 16018.0, '200103141930VANCHH', 16, 13, 19.0, datetime.datetime(2001, 3, 14, 19, 30), 97.0, 87.0, None, 12943.0, '200103141930ORLCLE', 17, 3, 38.0, datetime.datetime(2001, 3, 14, 19, 30), 104.0, 114.0, None, 19600.0, '200103141930SACMIA', 18, 29, 9.0, datetime.datetime(2001, 3, 14, 20, 0), 100.0, 106.0, 'OT', 35676.0, '200103142000MINSAS', 9, 27, 5.0, datetime.datetime(2001, 3, 14, 20, 30), 85.0, 67.0, None, 22835.0, '200103142030PHICHI', 7, 15, 87.0, datetime.datetime(2001, 3, 14, 21, 0), 83.0, 95.0, None, 14313.0, '200103142100INDDEN', 21, 26, 55.0)
2023-08-23 22:14:29,397 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,397 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/127 (unordered)] (datetime.datetime(2001, 3, 14, 22, 0), 84.0, 79.0, None, 19980.0, '200103142200PHXPOR', 12, 22, 65.0, datetime.datetime(2001, 3, 14, 22, 30), 102.0, 83.0, None, 16186.0, '200103142230UTAGSW', 11, 10, 80.0, datetime.datetime(2001, 3, 15, 19, 30), 125.0, 119.0, 'OT', 22076.0, '200103151930LALDET', 25, 20, 82.0, datetime.datetime(2001, 3, 15, 19, 30), 72.0, 88.0, None, 19763.0, '200103151930TORNYK', 5, 6, 46.0, datetime.datetime(2001, 3, 15, 20, 0), 108.0, 102.0, None, 16112.0, '200103152000SEAMIL', 28, 19, 16.0, datetime.datetime(2001, 3, 15, 20, 30), 83.0, 103.0, None, 17472.0 ... 1997 parameters truncated ... 18997.0, '200104151730PORLAL', 20, 12, 67.0, datetime.datetime(2001, 4, 15, 20, 0), 99.0, 90.0, None, 16678.0, '200104152000CHHDET', 25, 16, 82.0, datetime.datetime(2001, 4, 15, 21, 0), 107.0, 99.0, 'OT', 15194.0, '200104152100DALSEA', 19, 4, 42.0, datetime.datetime(2001, 4, 15, 22, 0), 86.0, 88.0, None, 19023.0, '200104152200SACPHX', 22, 29, 7.0, datetime.datetime(2001, 4, 16, 19, 0), 83.0, 106.0, None, 14413.0, '200104161900ATLCHH', 16, 1, 19.0, datetime.datetime(2001, 4, 16, 19, 30), 78.0, 80.0, None, 15908.0, '200104161930NYKCLE', 17, 5, 38.0)
2023-08-23 22:14:29,460 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,461 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/127 (unordered)] (datetime.datetime(2001, 4, 16, 19, 30), 101.0, 89.0, None, 17248.0, '200104161930MILORL', 3, 28, 76.0, datetime.datetime(2001, 4, 16, 22, 30), 110.0, 101.0, None, 13393.0, '200104162230DALGSW', 11, 4, 80.0, datetime.datetime(2001, 4, 16, 22, 30), 80.0, 100.0, None, 19347.0, '200104162230PHXLAC', 23, 22, 67.0, datetime.datetime(2001, 4, 16, 22, 30), 100.0, 110.0, None, 17317.0, '200104162230VANSAC', 29, 13, 1.0, datetime.datetime(2001, 4, 17, 19, 0), 92.0, 94.0, 'OT', 19800.0, '200104171900DETTOR', 6, 25, 4.0, datetime.datetime(2001, 4, 17, 19, 30), 119.0, 122.0, None, 13257.0 ... 1997 parameters truncated ... 22076.0, '200111171930INDDET', 25, 26, 82.0, datetime.datetime(2001, 11, 17, 20, 0), 93.0, 98.0, None, 13874.0, '200111172000CLEMEM', 30, 17, 61.0, datetime.datetime(2001, 11, 17, 20, 0), 95.0, 103.0, None, 19479.0, '200111172000ORLMIN', 27, 3, 78.0, datetime.datetime(2001, 11, 17, 20, 0), 94.0, 82.0, None, 17318.0, '200111172000PHINJN', 2, 15, 24.0, datetime.datetime(2001, 11, 17, 20, 30), 87.0, 124.0, None, 11978.0, '200111172030DALHOU', 8, 4, 22.0, datetime.datetime(2001, 11, 17, 20, 30), 93.0, 104.0, None, 18717.0, '200111172030UTAMIL', 28, 10, 16.0)
2023-08-23 22:14:29,527 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,528 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/127 (unordered)] (datetime.datetime(2001, 11, 17, 22, 30), 88.0, 93.0, None, 13076.0, '200111172230CHIGSW', 11, 7, 80.0, datetime.datetime(2001, 11, 17, 22, 30), 103.0, 93.0, None, 11992.0, '200111172230DENSEA', 19, 21, 42.0, datetime.datetime(2001, 11, 18, 15, 30), 86.0, 99.0, None, 17334.0, '200111181530NYKLAC', 23, 5, 67.0, datetime.datetime(2001, 11, 18, 20, 0), 87.0, 81.0, None, 14823.0, '200111182000TORPHX', 22, 6, 7.0, datetime.datetime(2001, 11, 18, 21, 30), 85.0, 93.0, None, 18997.0, '200111182130SACLAL', 20, 29, 67.0, datetime.datetime(2001, 11, 19, 21, 0), 96.0, 99.0, 'OT', 11319.0 ... 1997 parameters truncated ... 19405.0, '200112212000LALMEM', 30, 20, 61.0, datetime.datetime(2001, 12, 21, 20, 0), 89.0, 94.0, None, 17237.0, '200112212000CHHMIN', 27, 16, 78.0, datetime.datetime(2001, 12, 21, 20, 30), 74.0, 109.0, None, 22831.0, '200112212030DENSAS', 9, 21, 5.0, datetime.datetime(2001, 12, 21, 22, 0), 81.0, 83.0, None, 18522.0, '200112212200DETPOR', 12, 25, 65.0, datetime.datetime(2001, 12, 21, 22, 30), 111.0, 108.0, 'OT', 12129.0, '200112212230SEAGSW', 11, 19, 80.0, datetime.datetime(2001, 12, 22, 19, 0), 88.0, 101.0, None, 9775.0, '200112221900CHHATL', 1, 16, 57.0)
2023-08-23 22:14:29,591 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,592 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/127 (unordered)] (datetime.datetime(2001, 12, 22, 19, 30), 109.0, 103.0, None, 12449.0, '200112221930INDCLE', 17, 26, 38.0, datetime.datetime(2001, 12, 22, 19, 30), 87.0, 86.0, None, 19763.0, '200112221930WASNYK', 5, 24, 46.0, datetime.datetime(2001, 12, 22, 20, 0), 104.0, 90.0, None, 12960.0, '200112222000UTANJN', 2, 10, 24.0, datetime.datetime(2001, 12, 22, 20, 30), 95.0, 74.0, None, 19121.0, '200112222030MINCHI', 7, 27, 87.0, datetime.datetime(2001, 12, 22, 20, 30), 80.0, 102.0, None, 19920.0, '200112222030ORLDAL', 4, 3, 8.0, datetime.datetime(2001, 12, 22, 20, 30), 110.0, 115.0, None, 11628.0 ... 1997 parameters truncated ... 15021.0, '200201241930MIAORL', 3, 18, 76.0, datetime.datetime(2002, 1, 24, 20, 0), 99.0, 88.0, None, 16659.0, '200201242000SEAMIL', 28, 19, 16.0, datetime.datetime(2002, 1, 24, 20, 30), 103.0, 98.0, None, 10357.0, '200201242030NJNHOU', 8, 2, 22.0, datetime.datetime(2002, 1, 24, 21, 0), 104.0, 97.0, None, 16045.0, '200201242100DALDEN', 21, 4, 55.0, datetime.datetime(2002, 1, 24, 21, 0), 80.0, 113.0, None, 17317.0, '200201242100UTASAC', 29, 10, 1.0, datetime.datetime(2002, 1, 24, 22, 0), 82.0, 120.0, None, 18740.0, '200201242200MEMPOR', 12, 30, 65.0)
2023-08-23 22:14:29,656 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,656 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/127 (unordered)] (datetime.datetime(2002, 1, 25, 19, 0), 81.0, 90.0, None, 16012.0, '200201251900CHHIND', 26, 16, 23.0, datetime.datetime(2002, 1, 25, 19, 0), 100.0, 107.0, None, 19800.0, '200201251900MINTOR', 6, 27, 4.0, datetime.datetime(2002, 1, 25, 19, 30), 107.0, 90.0, None, 9948.0, '200201251930DETATL', 1, 25, 57.0, datetime.datetime(2002, 1, 25, 19, 30), 106.0, 90.0, None, 18624.0, '200201251930PHIBOS', 14, 15, 32.0, datetime.datetime(2002, 1, 25, 22, 30), 91.0, 94.0, None, 18997.0, '200201252230SASLAL', 20, 9, 67.0, datetime.datetime(2002, 1, 26, 12, 30), 77.0, 90.0, None, 15238.0 ... 1997 parameters truncated ... 15878.0, '200203021900CLEATL', 1, 17, 57.0, datetime.datetime(2002, 3, 2, 20, 30), 109.0, 95.0, None, 20140.0, '200203022030MIADAL', 4, 18, 8.0, datetime.datetime(2002, 3, 2, 20, 30), 104.0, 103.0, 'OT', 18717.0, '200203022030PORMIL', 28, 12, 16.0, datetime.datetime(2002, 3, 2, 21, 0), 104.0, 97.0, None, 15686.0, '200203022100HOUPHX', 22, 8, 7.0, datetime.datetime(2002, 3, 2, 21, 0), 116.0, 105.0, None, 18641.0, '200203022100MINUTA', 10, 27, 26.0, datetime.datetime(2002, 3, 2, 22, 30), 95.0, 109.0, None, 18964.0, '200203022230GSWLAC', 23, 11, 67.0)
2023-08-23 22:14:29,719 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,720 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/127 (unordered)] (datetime.datetime(2002, 3, 3, 12, 30), 96.0, 84.0, None, 19800.0, '200203031230PHITOR', 6, 15, 4.0, datetime.datetime(2002, 3, 3, 15, 0), 83.0, 81.0, None, 8632.0, '200203031500DETCHH', 16, 25, 19.0, datetime.datetime(2002, 3, 3, 15, 0), 96.0, 71.0, None, 14121.0, '200203031500SEAMEM', 30, 19, 61.0, datetime.datetime(2002, 3, 3, 15, 0), 84.0, 92.0, None, 13676.0, '200203031500CHINJN', 2, 7, 24.0, datetime.datetime(2002, 3, 3, 15, 0), 99.0, 83.0, None, 19763.0, '200203031500SASNYK', 5, 9, 46.0, datetime.datetime(2002, 3, 3, 18, 0), 97.0, 86.0, None, 17317.0 ... 1997 parameters truncated ... 17042.0, '200204022100UTADEN', 21, 10, 55.0, datetime.datetime(2002, 4, 2, 22, 30), 91.0, 107.0, None, 13127.0, '200204022230PORGSW', 11, 12, 80.0, datetime.datetime(2002, 4, 3, 19, 0), 90.0, 97.0, None, 9217.0, '200204031900MIACHH', 16, 18, 19.0, datetime.datetime(2002, 4, 3, 19, 0), 83.0, 89.0, 'OT', 20652.0, '200204031900PHXPHI', 15, 22, 30.0, datetime.datetime(2002, 4, 3, 19, 0), 104.0, 117.0, None, 19800.0, '200204031900CHITOR', 6, 7, 4.0, datetime.datetime(2002, 4, 3, 19, 30), 107.0, 86.0, None, 22076.0, '200204031930SACDET', 25, 29, 82.0)
2023-08-23 22:14:29,781 INFO sqlalchemy.engine.Engine INSERT INTO [GamesPlayed] ([DateTime], [VisitorPTS], [HomePTS], [OT], [Attendance], [GameID], [HomeTeamID], [VisitorTeamID], [ArenaID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ? ... 6548 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-23 22:14:29,782 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/127 (unordered)] (datetime.datetime(2002, 4, 3, 20, 0), 90.0, 105.0, None, 18717.0, '200204032000WASMIL', 28, 24, 16.0, datetime.datetime(2002, 4, 3, 20, 0), 81.0, 92.0, None, 17183.0, '200204032000MEMMIN', 27, 30, 78.0, datetime.datetime(2002, 4, 3, 20, 0), 92.0, 94.0, None, 20049.0, '200204032000LALNJN', 2, 20, 24.0, datetime.datetime(2002, 4, 3, 20, 30), 88.0, 90.0, None, 19223.0, '200204032030SEASAS', 9, 19, 5.0, datetime.datetime(2002, 4, 3, 21, 0), 87.0, 99.0, None, 18591.0, '200204032100LACUTA', 10, 23, 26.0, datetime.datetime(2002, 4, 4, 19, 30), 94.0, 95.0, None, 10634.0 ... 1997 parameters truncated ... 16713.0, '200211022030ORLMIL', 28, 3, 16.0, datetime.datetime(2002, 11, 2, 20, 30), 95.0, 100.0, None, 15419.0, '200211022030MIANOH', 31, 18, 50.0, datetime.datetime(2002, 11, 2, 21, 0), 92.0, 101.0, None, 19098.0, '200211022100GSWUTA', 10, 11, 26.0, datetime.datetime(2002, 11, 2, 22, 0), 96.0, 79.0, None, 19991.0, '200211022200DENPOR', 12, 21, 65.0, datetime.datetime(2002, 11, 3, 15, 30), 72.0, 74.0, None, 14275.0, '200211031530DETLAC', 23, 25, 67.0, datetime.datetime(2002, 11, 3, 18, 0), 78.0, 88.0, None, 15468.0, '200211031800SACMIA', 18, 29, 9.0)

#### Process play_by_play and make team_name based on full team name

In [ ]:
nba = DB(db_name='NBA')

sql_query_games = text("""
SELECT GameID, HomeTeamID, VisitorTeamID, HomeTeam.TeamName, VisitorTeam.TeamName FROM GamesPlayed
INNER JOIN Team AS HomeTeam ON GamesPlayed.HomeTeamID = HomeTeam.TeamID
INNER JOIN Team AS VisitorTeam ON GamesPlayed.VisitorTeamID = VisitorTeam.TeamID""")

sql_query_players = text("""
SELECT PlayerID, PlayerName, FromYear, ToYear FROM Player
WHERE ToYear >= 2000""")


with nba.engine.connect() as conn:
    games_played = conn.execute(sql_query_games).fetchall()
    games_played = pd.DataFrame(games_played, columns=['GameID', 'HomeTeamID', 'VisitorTeamID', 'HomeTeamName', 'VisitorTeamName'])
    
    players = conn.execute(sql_query_players).fetchall()
    players = pd.DataFrame(players, columns=['PlayerID', 'PlayerName', 'FromYear', 'ToYear'])

# Inner join games_played with play_by_play on gameid
pbp_final = games_played.merge(play_by_play, left_on='GameID', right_on='game_id', how='inner').drop('game_id', axis=1)
# Create new column for game year
pbp_final['game_year'] = pbp_final['datetime'].dt.year

def get_full_team_name(row):
    # Handle special cases first
    if row['team_name'].lower().strip() == "la clippers":
        return 23
    elif row['team_name'].lower().strip() == "la lakers":
        return 20

    z = re.match('.*{}.*'.format(row['team_name'].lower().strip()), row['VisitorTeamName'].lower().strip())
    x = re.match('.*{}.*'.format(row['team_name'].lower().strip()), row['HomeTeamName'].lower().strip())
    if z:
        # print(z.group().title())
        return row['VisitorTeamID']
    elif x:
        # print(x.group().title())
        return row['HomeTeamID']
    else:
        return None


pbp_final['TeamID'] = pbp_final.apply(get_full_team_name, axis=1)

# Merge dataframe based on PlayerName to get PlayerID as FK to Player table
pbp_final = pbp_final.merge(players, left_on='player_name', right_on='PlayerName', how='inner')

# Eliminate rows where game year is not between the player's FromYear and ToYear
pbp_final = pbp_final[(pbp_final['game_year'] >= pbp_final['FromYear']) & (pbp_final['game_year'] <= pbp_final['ToYear'])]

# Drop unnecessary columns
pbp_final.drop([
    'HomeTeamID', 
    'VisitorTeamID', 
    'HomeTeamName',
    'VisitorTeamName',
    'player_name',
    'team_name',
    'game_year', 
    'PlayerName', 
    'FromYear', 
    'ToYear'], axis=1, inplace=True)

# Rename Columns
pbp_final.rename(columns={
    'time_left': 'TimeLeft',
    'score_status': 'ScoreStatus',
    'x_shot_pos': 'X_Shot_Pos',
    'y_shot_pos': 'Y_Shot_Pos',
    'quarter': 'Quarter',
    'shot_status': 'ShotStatus',
    'full_text': 'FullText',
    'datetime': 'GameDate',}, inplace=True)

def generate_hash(row):
    # Convert each column to a string and concatenate to create a unique string
    unique_str = (
        str(row['PlayerID']) +
        str(row['TimeLeft']) +
        str(row['TeamID']) +
        str(row['ScoreStatus']) +
        str(row['X_Shot_Pos']) +
        str(row['Y_Shot_Pos']) +
        str(row['Quarter']) +
        str(row['ShotStatus']) +
        str(row['FullText']) +
        str(row['GameDate']) +
        str(row['GameID'])
    )
    
    # Hash the unique string using SHA-1 algorithm
    result = hashlib.sha1(unique_str.encode()).hexdigest()
    return result

# Create ShotsHashID column
pbp_final['ShotsHashID'] = pbp_final.apply(generate_hash, axis=1)
pbp_final.drop_duplicates(subset=['ShotsHashID'], inplace=True)

with nba.engine.connect() as connection:
    db_hashid = connection.execute(text("SELECT ShotsHashID FROM ShotsTaken")).fetchall()

# Check if hashid already in db
pbp_final = pbp_final.loc[~pbp_final['ShotsHashID'].isin([i[0] for i in db_hashid])].copy()

pbp_final.to_sql('ShotsTaken', con=nba.engine, if_exists='append', index=False)

In [307]:
test = pd.read_sql(text("SELECT TOP 1000 * FROM ShotsTaken"), con=nba.engine.connect())

def calculate_distance(x_shot: int, y_shot: int, x_basket: int, y_basket: int):
    x = x_shot - x_basket
    y = y_shot - y_basket
    d = np.sqrt(x**2 + y**2) / 10
    return round(d)

distance = np.vectorize(calculate_distance)
test['distance'] = distance(
    test['X_Shot_Pos'], test['Y_Shot_Pos'] * 1, 250, 417.5)
test['ft'] = test['FullText'].str.extract(r'(\d{1,2}) ft')

2023-08-26 00:35:51,967 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-26 00:35:51,968 INFO sqlalchemy.engine.Engine SELECT TOP 1000 * FROM ShotsTaken
2023-08-26 00:35:51,968 INFO sqlalchemy.engine.Engine [generated in 0.00110s] ()

In [309]:
for i in test[['X_Shot_Pos', 'Y_Shot_Pos', 'distance', 'ft']].values:
    print(i)

[83 268 22 '22']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[258 373 5 '5']
[296 394 5 '6']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[175 169 26 '26']
[296 118 30 '31']
[348 306 15 '16']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[5 291 28 '27']
[240 420 1 '0']
[240 420 1 '0']
[334 268 17 '18']
[198 207 22 '22']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[270 163 26 '26']
[240 420 1 '0']
[393 207 25 '26']
[213 220 20 '20']
[363 279 18 '19']
[240 420 1 '0']
[240 420 1 '0']
[207 340 9 '9']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[241 308 11 '11']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[241 253 16 '17']
[240 420 1 '0']
[240 420 1 '0']
[428 236 25 '26']
[236 357 6 '6']
[240 420 1 '0']
[393 220 24 '25']
[344 405 9 '11']
[240 420 1 '0']
[68 220 27 '26']
[240 420 1 '0']
[139 186 26 '25']
[116 333 16 '15']
[386 213 25 '25']
[232 285 13 '14']
[240 420 1 '0']
[240 420 1 '0']
[5 295 27 '27']
[240 420 1 '0']
[298 291 14 '14']
[240 420 1 '0']
[313 420 6 '7']
[450 279 24 '25']
[298 405 5 '6']
[11 367 24 '24']
[19 344 24 '23']
[240 420 1 '0']
[240 420 1 '0']
[399 295 19 '20']
[407 234 24 '25']
[240 420 1 '0']
[240 420 1 '0']
[91 344 18 '17']
[414 241 24 '25']
[116 422 13 '12']
[182 249 18 '18']
[47 85 39 '39']
[240 420 1 '0']
[240 420 1 '0']
[110 283 19 '19']
[287 177 24 '25']
[154 266 18 '18']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[414 401 16 '18']
[55 257 25 '25']
[240 420 1 '0']
[291 390 5 '6']
[228 373 5 '5']
[334 257 18 '19']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[70 241 25 '25']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[378 416 13 '14']
[240 420 1 '0']
[70 291 22 '21']
[240 420 1 '0']
[5 426 25 '24']
[26 295 26 '25']
[108 163 29 '29']
[72 228 26 '26']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[78 333 19 '18']
[240 420 1 '0']
[240 420 1 '0']
[433 382 19 '20']
[7 363 25 '24']
[7 333 26 '25']
[433 241 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[302 382 6 '7']
[433 211 28 '28']
[374 352 14 '15']
[108 192 27 '26']
[363 386 12 '13']
[40 255 27 '26']
[240 420 1 '0']
[240 420 1 '0']
[456 270 25 '26']
[34 283 25 '25']
[240 420 1 '0']
[393 338 16 '17']
[384 314 17 '18']
[240 420 1 '0']
[348 394 10 '11']
[325 268 17 '17']
[393 224 24 '25']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[99 220 25 '24']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[189 390 7 '6']
[130 206 24 '24']
[344 169 27 '27']
[83 135 33 '33']
[240 420 1 '0']
[359 420 11 '12']
[264 152 27 '27']
[154 253 19 '19']
[116 186 27 '26']
[116 186 27 '26']
[116 416 13 '12']
[240 420 1 '0']
[441 268 24 '25']
[240 420 1 '0']
[240 420 1 '0']
[291 357 7 '8']
[169 186 25 '24']
[240 420 1 '0']
[11 291 27 '26']
[240 420 1 '0']
[135 357 13 '12']
[240 420 1 '0']
[240 420 1 '0']
[262 241 18 '18']
[240 420 1 '0']
[213 152 27 '27']
[55 220 28 '27']
[355 295 16 '17']
[344 350 12 '13']
[240 420 1 '0']
[116 179 27 '27']
[240 420 1 '0']
[431 152 32 '33']
[240 420 1 '0']
[251 344 7 '8']
[251 401 2 '2']
[239 384 4 '4']
[350 158 28 '28']
[308 152 27 '28']
[232 390 3 '3']
[240 420 1 '0']
[156 268 18 '17']
[26 272 27 '26']
[247 312 11 '11']
[240 420 1 '0']
[64 251 25 '24']
[228 420 2 '1']
[228 420 2 '1']
[258 211 21 '21']
[228 424 2 '1']
[428 268 23 '24']
[198 175 25 '25']
[222 182 24 '24']
[414 251 23 '24']
[34 279 26 '25']
[384 295 18 '19']
[26 302 25 '24']
[240 420 1 '0']
[441 279 24 '25']
[222 333 9 '9']
[450 279 24 '25']
[277 262 16 '16']
[142 268 18 '18']
[11 268 28 '27']
[262 207 21 '21']
[240 420 1 '0']
[2 390 25 '24']
[240 420 1 '0']
[298 405 5 '6']
[348 169 27 '27']
[325 169 26 '27']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[241 220 20 '20']
[270 344 8 '8']
[262 163 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[306 333 10 '11']
[344 264 18 '19']
[213 413 4 '3']
[184 413 7 '6']
[228 384 4 '4']
[306 184 24 '25']
[116 201 25 '25']
[291 394 5 '6']
[192 390 6 '6']
[213 420 4 '3']
[169 407 8 '7']
[329 190 24 '25']
[222 420 3 '2']
[228 420 2 '1']
[43 247 27 '26']
[240 420 1 '0']
[323 137 29 '29']
[240 420 1 '0']
[106 186 27 '27']
[121 251 21 '21']
[240 420 1 '0']
[240 420 1 '0']
[325 251 18 '19']
[156 175 26 '26']
[78 302 21 '20']
[340 179 25 '26']
[240 420 1 '0']
[240 161 26 '26']
[240 420 1 '0']
[264 384 4 '4']
[365 247 21 '21']
[473 416 22 '23']
[401 207 26 '27']
[401 384 15 '17']
[466 272 26 '27']
[182 390 7 '7']
[264 394 3 '4']
[258 405 1 '2']
[258 405 1 '2']
[125 196 25 '25']
[264 401 2 '3']
[47 302 23 '23']
[256 224 19 '20']
[236 169 25 '25']
[171 190 24 '24']
[99 411 15 '14']
[240 420 1 '0']
[393 230 24 '24']
[240 420 1 '0']
[369 257 20 '21']
[118 428 13 '12']
[220 375 5 '5']
[240 420 1 '0']
[240 420 1 '0']
[262 169 25 '25']
[262 295 12 '13']
[142 340 13 '13']
[393 384 15 '16']
[428 230 26 '27']
[85 394 17 '16']
[420 247 24 '25']
[240 420 1 '0']
[240 420 1 '0']
[102 207 26 '25']
[240 420 1 '0']
[144 236 21 '21']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[236 179 24 '24']
[240 420 1 '0']
[106 420 14 '13']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[121 251 21 '21']
[11 433 24 '23']
[49 257 26 '25']
[177 268 17 '16']
[240 420 1 '0']
[163 234 20 '20']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[70 230 26 '26']
[240 420 1 '0']
[64 251 25 '24']
[240 420 1 '0']
[240 420 1 '0']
[148 401 10 '9']
[240 420 1 '0']
[240 420 1 '0']
[424 367 18 '19']
[353 201 24 '25']
[200 328 10 '10']
[72 236 25 '25']
[325 190 24 '25']
[287 327 10 '10']
[439 287 23 '24']
[258 394 2 '3']
[194 270 16 '16']
[240 420 1 '0']
[240 420 1 '0']
[296 407 5 '6']
[418 236 25 '26']
[184 179 25 '25']
[272 401 3 '4']
[258 390 3 '4']
[251 411 1 '1']
[258 394 2 '3']
[85 232 25 '24']
[133 350 14 '13']
[264 416 1 '2']
[399 420 15 '16']
[55 420 20 '19']
[196 384 6 '6']
[264 411 2 '3']
[243 405 1 '2']
[431 348 19 '20']
[104 431 15 '14']
[240 420 1 '0']
[59 239 26 '26']
[139 215 23 '23']
[240 420 1 '0']
[95 222 25 '25']
[240 420 1 '0']
[277 171 25 '25']
[239 420 1 '0']
[363 382 12 '13']
[239 420 1 '0']
[47 264 25 '25']
[224 380 5 '4']
[198 409 5 '4']
[173 373 9 '8']
[359 323 14 '15']
[249 422 0 '1']
[224 422 3 '2']
[38 264 26 '26']
[249 422 0 '1']
[258 165 25 '26']
[236 260 16 '16']
[40 243 27 '27']
[240 420 1 '0']
[240 420 1 '0']
[213 365 6 '6']
[192 161 26 '26']
[355 182 26 '26']
[213 255 17 '17']
[240 420 1 '0']
[192 405 6 '5']
[256 262 16 '16']
[240 420 1 '0']
[407 420 16 '17']
[241 268 15 '15']
[240 420 1 '0']
[240 420 1 '0']
[262 215 20 '21']
[85 454 17 '16']
[319 161 27 '27']
[55 215 28 '28']
[169 165 27 '26']
[240 420 1 '0']
[236 357 6 '6']
[369 295 17 '18']
[270 163 26 '26']
[177 179 25 '25']
[240 420 1 '0']
[213 344 8 '8']
[399 291 20 '20']
[254 171 25 '25']
[338 165 27 '27']
[104 293 19 '19']
[240 420 1 '0']
[97 182 28 '28']
[281 232 19 '19']
[38 253 27 '26']
[240 420 1 '0']
[240 420 1 '0']
[363 262 19 '20']
[240 420 1 '0']
[40 257 26 '26']
[240 420 1 '0']
[236 357 6 '6']
[112 295 18 '18']
[313 169 26 '26']
[240 420 1 '0']
[240 420 1 '0']
[325 251 18 '19']
[135 179 26 '26']
[313 179 25 '25']
[418 386 17 '18']
[43 422 21 '20']
[275 211 21 '21']
[240 420 1 '0']
[72 386 18 '17']
[240 420 1 '0']
[192 359 8 '8']
[240 420 1 '0']
[325 403 8 '9']
[66 418 18 '17']
[240 420 1 '0']
[57 245 26 '25']
[87 325 19 '18']
[207 241 18 '18']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[435 268 24 '25']
[240 420 1 '0']
[247 230 19 '19']
[450 268 25 '26']
[11 420 24 '23']
[384 411 13 '14']
[240 420 1 '0']
[240 420 1 '0']
[386 350 15 '16']
[169 175 26 '26']
[240 420 1 '0']
[211 401 4 '3']
[372 283 18 '19']
[240 420 1 '0']
[258 293 12 '13']
[243 416 1 '1']
[279 411 3 '4']
[401 220 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[135 190 25 '25']
[262 163 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[85 196 28 '27']
[240 420 1 '0']
[34 241 28 '27']
[240 420 1 '0']
[34 247 28 '27']
[121 285 18 '18']
[241 251 17 '17']
[106 306 18 '18']
[348 257 19 '20']
[363 279 18 '19']
[240 420 1 '0']
[240 420 1 '0']
[198 241 18 '18']
[240 420 1 '0']
[240 420 1 '0']
[222 169 25 '25']
[334 262 18 '18']
[240 420 1 '0']
[177 152 28 '28']
[258 416 1 '2']
[32 268 26 '26']
[251 411 1 '1']
[264 163 25 '26']
[365 285 18 '18']
[338 268 17 '18']
[232 234 18 '19']
[243 247 17 '17']
[251 357 6 '6']
[239 420 1 '0']
[264 220 20 '20']
[272 378 5 '5']
[359 186 26 '26']
[232 384 4 '4']
[256 340 8 '8']
[106 405 14 '13']
[240 420 1 '0']
[355 291 16 '17']
[298 152 27 '27']
[34 279 26 '25']
[240 420 1 '0']
[148 234 21 '21']
[11 295 27 '26']
[163 247 19 '19']
[127 291 18 '17']
[135 190 25 '25']
[441 291 23 '24']
[313 257 17 '18']
[240 420 1 '0']
[40 257 26 '26']
[240 420 1 '0']
[241 163 25 '26']
[327 253 18 '19']
[435 424 19 '20']
[180 179 25 '25']
[152 281 17 '16']
[240 420 1 '0']
[414 435 16 '17']
[144 186 25 '25']
[80 230 25 '25']
[114 431 14 '13']
[285 403 4 '5']
[80 230 25 '25']
[240 420 1 '0']
[194 230 20 '20']
[285 409 4 '5']
[308 268 16 '17']
[240 420 1 '0']
[240 420 1 '0']
[198 164 26 '26']
[240 420 1 '0']
[40 272 26 '25']
[240 420 1 '0']
[240 420 1 '0']
[49 266 25 '25']
[190 239 19 '19']
[372 260 20 '21']
[321 249 18 '19']
[104 422 15 '14']
[55 422 20 '19']
[399 215 25 '26']
[125 365 14 '13']
[240 420 1 '0']
[240 420 1 '0']
[118 260 21 '20']
[363 300 16 '17']
[315 173 25 '26']
[106 401 14 '14']
[240 420 1 '0']
[99 196 27 '26']
[240 420 1 '0']
[240 420 1 '0']
[241 163 25 '26']
[240 420 1 '0']
[135 279 18 '18']
[240 420 1 '0']
[363 196 25 '26']
[240 420 1 '0']
[184 363 9 '8']
[240 420 1 '0']
[236 344 7 '8']
[256 148 27 '27']
[240 420 1 '0']
[192 329 11 '10']
[240 420 1 '0']
[262 163 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[177 169 26 '26']
[240 420 1 '0']
[325 169 26 '27']
[304 262 16 '17']
[266 407 2 '3']
[34 413 22 '21']
[239 407 2 '1']
[165 220 22 '21']
[114 327 16 '16']
[165 310 14 '13']
[251 413 0 '1']
[17 310 26 '25']
[266 413 2 '3']
[272 230 19 '19']
[272 173 25 '25']
[258 236 18 '18']
[222 323 10 '10']
[247 224 19 '20']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[456 262 26 '27']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[169 333 12 '11']
[241 340 8 '8']
[355 179 26 '27']
[256 272 15 '15']
[240 420 1 '0']
[355 190 25 '26']
[240 420 1 '0']
[384 179 27 '28']
[251 260 16 '16']
[240 420 1 '0']
[53 243 26 '26']
[240 420 1 '0']
[125 405 13 '12']
[240 420 1 '0']
[240 420 1 '0']
[139 433 11 '10']
[350 175 26 '27']
[131 439 12 '11']
[359 169 27 '28']
[401 411 15 '16']
[437 253 25 '26']
[240 420 1 '0']
[462 291 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[384 169 28 '29']
[240 420 1 '0']
[112 196 26 '26']
[26 257 28 '27']
[240 420 1 '0']
[262 163 25 '26']
[240 420 1 '0']
[462 302 24 '25']
[240 420 1 '0']
[91 378 16 '15']
[240 420 1 '0']
[240 420 1 '0']
[70 363 19 '18']
[213 363 7 '6']
[2 411 25 '24']
[240 420 1 '0']
[192 152 27 '27']
[298 257 17 '17']
[240 420 1 '0']
[240 420 1 '0']
[177 241 19 '19']
[121 175 27 '27']
[334 179 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[85 196 28 '27']
[192 357 8 '8']
[228 224 19 '20']
[240 420 1 '0']
[298 319 11 '12']
[64 201 29 '28']
[240 420 1 '0']
[177 319 12 '12']
[240 420 1 '0']
[256 148 27 '27']
[228 247 17 '17']
[236 97 32 '32']
[99 411 15 '14']
[163 163 27 '27']
[240 420 1 '0']
[112 262 21 '20']
[106 190 27 '27']
[240 420 1 '0']
[240 420 1 '0']
[298 405 5 '6']
[192 182 24 '24']
[240 420 1 '0']
[11 304 26 '26']
[55 371 20 '19']
[256 287 13 '13']
[291 405 4 '5']
[291 416 4 '5']
[106 205 26 '25']
[78 222 26 '26']
[428 255 24 '25']
[468 420 22 '23']
[224 413 3 '2']
[131 226 23 '22']
[78 384 18 '17']
[217 420 3 '2']
[382 213 24 '25']
[251 413 0 '1']
[217 413 3 '2']
[258 173 24 '25']
[243 401 2 '2']
[331 196 24 '24']
[99 196 27 '26']
[240 420 1 '0']
[291 257 17 '17']
[240 420 1 '0']
[34 268 26 '26']
[240 420 1 '0']
[222 148 27 '27']
[240 420 1 '0']
[240 420 1 '0']
[40 234 28 '27']
[240 420 1 '0']
[240 420 1 '0']
[205 359 7 '7']
[313 142 28 '29']
[240 420 1 '0']
[240 420 1 '0']
[325 333 11 '12']
[142 426 11 '10']
[78 433 17 '16']
[240 420 1 '0']
[240 420 1 '0']
[55 247 26 '25']
[334 175 26 '26']
[319 169 26 '26']
[256 234 18 '19']
[240 420 1 '0']
[184 312 12 '12']
[156 169 27 '26']
[110 192 27 '26']
[302 253 17 '18']
[240 420 1 '0']
[240 420 1 '0']
[91 344 18 '17']
[135 251 20 '20']
[420 390 17 '18']
[240 420 1 '0']
[70 394 18 '17']
[298 323 11 '11']
[198 350 9 '8']
[369 416 12 '13']
[240 420 1 '0']
[91 190 28 '27']
[5 416 25 '24']
[142 179 26 '26']
[99 163 30 '29']
[340 262 18 '19']
[240 420 1 '0']
[70 350 19 '18']
[363 319 15 '16']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[228 158 26 '26']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[283 333 9 '10']
[325 163 27 '27']
[240 420 1 '0']
[11 302 27 '26']
[241 373 5 '5']
[340 190 24 '25']
[236 373 5 '5']
[270 407 2 '3']
[142 293 16 '16']
[241 380 4 '4']
[247 392 3 '3']
[270 167 25 '25']
[298 298 13 '14']
[242 339 8 '8']
[240 420 1 '0']
[348 196 24 '25']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[247 169 25 '25']
[407 241 24 '24']
[169 279 16 '16']
[319 257 17 '18']
[26 285 26 '25']
[262 175 24 '25']
[456 295 24 '25']
[177 340 11 '10']
[5 405 25 '24']
[240 420 1 '0']
[325 169 26 '27']
[247 152 27 '27']
[325 158 27 '28']
[106 169 29 '28']
[135 268 19 '18']
[36 279 25 '25']
[418 279 22 '23']
[102 352 16 '15']
[390 413 14 '15']
[87 228 25 '25']
[355 184 26 '26']
[240 420 1 '0']
[87 222 25 '25']
[45 262 26 '25']
[268 222 20 '20']
[418 357 18 '19']
[240 420 1 '0']
[144 295 16 '16']
[390 207 25 '26']
[240 420 1 '0']
[240 420 1 '0']
[390 207 25 '26']
[78 363 18 '17']
[240 420 1 '0']
[428 302 21 '22']
[121 196 26 '25']
[363 394 12 '13']
[348 344 12 '13']
[241 247 17 '17']
[240 420 1 '0']
[99 220 25 '24']
[240 420 1 '0']
[163 186 25 '25']
[169 186 25 '24']
[329 293 15 '16']
[232 420 2 '1']
[359 198 25 '25']
[386 416 14 '15']
[116 321 17 '16']
[224 411 3 '2']
[239 420 1 '0']
[386 344 15 '16']
[239 416 1 '0']
[239 411 1 '1']
[384 333 16 '17']
[91 411 16 '15']
[240 420 1 '0']
[240 420 1 '0']
[64 201 29 '28']
[240 420 1 '0']
[198 373 7 '6']
[40 224 29 '28']
[256 158 26 '26']
[64 230 26 '26']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[148 169 27 '27']
[169 333 12 '11']
[184 257 17 '17']
[240 420 1 '0']
[240 420 1 '0']
[334 169 26 '27']
[240 420 1 '0']
[240 420 1 '0']
[462 338 23 '24']
[240 420 1 '0']
[91 420 16 '15']
[240 420 1 '0']
[112 188 27 '27']
[304 243 18 '19']
[240 420 1 '0']
[325 169 26 '27']
[240 420 1 '0']
[240 420 1 '0']
[70 411 18 '17']
[78 401 17 '16']
[363 179 26 '27']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[112 268 20 '20']
[334 169 26 '27']
[91 196 27 '27']
[240 420 1 '0']
[116 249 22 '21']
[68 243 25 '25']
[258 386 3 '4']
[68 249 25 '24']
[240 420 1 '0']
[344 205 23 '24']
[333 218 22 '22']
[338 287 16 '17']
[240 420 1 '0']
[359 205 24 '25']
[156 268 18 '17']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[234 203 22 '22']
[376 209 24 '25']
[240 420 1 '0']
[361 375 12 '13']
[240 420 1 '0']
[211 171 25 '25']
[240 420 1 '0']
[240 420 1 '0']
[76 215 27 '26']
[409 392 16 '17']
[240 420 1 '0']
[108 249 22 '22']
[374 177 27 '28']
[424 243 25 '26']
[7 413 24 '23']
[331 276 16 '17']
[240 420 1 '0']
[409 228 25 '26']
[243 201 22 '22']
[338 239 20 '21']
[240 420 1 '0']
[240 420 1 '0']
[283 247 17 '18']
[378 340 15 '16']
[121 186 27 '26']
[477 384 23 '24']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[175 373 9 '8']
[240 420 1 '0']
[62 433 19 '18']
[2 335 26 '25']
[240 420 1 '0']
[240 420 1 '0']
[466 323 24 '25']
[95 173 29 '29']
[139 163 28 '28']
[240 420 1 '0']
[317 350 10 '10']
[454 257 26 '27']
[240 420 1 '0']
[367 289 17 '18']
[97 179 28 '28']
[240 420 1 '0']
[234 241 18 '18']
[240 420 1 '0']
[240 420 1 '0']
[220 230 19 '19']
[188 342 10 '9']
[433 255 24 '25']
[251 416 0 '1']
[131 243 21 '21']
[243 426 1 '1']
[382 319 16 '17']
[251 416 0 '1']
[409 232 24 '25']
[272 262 16 '16']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[68 249 25 '24']
[240 420 1 '0']
[393 276 20 '21']
[380 228 23 '24']
[338 194 24 '25']
[175 287 15 '15']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[287 314 11 '12']
[243 177 24 '24']
[308 380 7 '8']
[240 420 1 '0']
[110 276 20 '19']
[74 228 26 '25']
[240 420 1 '0']
[240 420 1 '0']
[182 359 9 '8']
[11 413 24 '23']
[240 420 1 '0']
[359 276 18 '19']
[422 243 25 '25']
[142 150 29 '29']
[240 420 1 '0']
[228 243 18 '18']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[240 420 1 '0']
[135 177 27 '26']
[240 420 1 '0']
[85 403 17 '16']
[240 420 1 '0']
[236 167 25 '25']
[240 420 1 '0']
[240 420 1 '0']
[422 232 25 '26']
[182 405 7 '6']
[240 420 1 '0']
[240 420 1 '0']
[466 365 22 '23']
[422 236 25 '26']
[437 394 19 '20']
[240 420 1 '0']
[479 378 23 '24']
[131 169 28 '27']
[317 344 10 '11']
[240 420 1 '0']
[380 192 26 '27']
[431 236 26 '27']
[240 420 1 '0']
[393 293 19 '20']
[213 331 9 '9']
[247 163 25 '26']
[240 420 1 '0']

##### Insert into SQL

In [220]:
nba = DB(db_name='NBA')
tempdb = DB(db_name='tempdb')

query_shotstaken = """
SELECT * FROM dbo.ShotsTaken
"""

create_temp_table_sql = """
CREATE TABLE #tempshots (
    ShotID INT,
    PlayerID INT,
    TimeLeft NVARCHAR(255),
    TeamID INT,
    ScoreStatus NVARCHAR(4),
    X_Shot_Pos INT,
    Y_Shot_Pos INT,
    Quarter NVARCHAR(255),
    ShotStatus NVARCHAR(255),
    FullText NVARCHAR(MAX),
    GameDate DATETIME,
    GameID NVARCHAR(30),
    ShotsHashID NVARCHAR(40)
);
"""
drop_temp_table_sql = """
DROP TABLE #tempshots;
"""

get_temptable = """
SELECT * FROM sys.tables
"""

query_temptable = """
SELECT * FROM #tempshots
"""


# Use MERGE to insert data from the temporary table into ShotsTaken
merge_sql = """
MERGE INTO ShotsTaken AS Target
USING #tempshots AS Source
ON Target.ShotsHashID = Source.ShotsHashID
WHEN NOT MATCHED BY TARGET THEN
    INSERT (PlayerID, TimeLeft, TeamID, ScoreStatus, X_Shot_Pos, Y_Shot_Pos, Quarter, ShotStatus, FullText, GameDate, GameID, ShotsHashID)
    VALUES (Source.PlayerID, Source.TimeLeft, Source.TeamID, Source.ScoreStatus, Source.X_Shot_Pos, Source.Y_Shot_Pos, Source.Quarter, Source.ShotStatus, Source.FullText, Source.GameDate, Source.GameID, Source.ShotsHashID);
"""

## Get positions

In [39]:
players = pd.read_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\players.csv')

In [40]:
position = pd.DataFrame(players['Pos'].unique(), columns=['PositionName'])
descriptions = ['Forward-center', 'Center-forward', 'Center', 'Guard', 'Forward', 'Guard-forward', 'Forward-guard']
position['Description'] = descriptions

In [41]:
# Reset index to start at 1 and name it PositionID
position.index = position.index + 1
position.index.name = 'PositionID'
position.reset_index(inplace=True)

In [47]:
position.to_csv(r'D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\position.csv', index=False)

## Create Table

### Columns to Create

In [5]:
player_shotLocations = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\player_shotLocations.csv", skipinitialspace=True, index_col=0)
games_played = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\games_played.csv", parse_dates=['DateTime'])
players = pd.read_csv(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\players.csv", parse_dates=['Birth Date'])
play_by_play = pd.read_parquet(r"D:\lianz\Desktop\Python\personal_projects\nba_airflow\data\play_by_play.parquet")

### Execute SQL to Create Table

In [ ]:
create_team_table = text("""
CREATE TABLE teams(
team_id INT PRIMARY KEY NOT NULL,
team_name VARCHAR(20),
team_abbreviation CHAR(3)
)
""")

create_player_table = text("""
CREATE TABLE players(
player_id INT PRIMARY KEY,
player_name VARCHAR(30),
from INT,
to INT,
position VARCHAR(5),
height VARCHAR(5),
weight INT,
birth_date datetime,
college VARCHAR(255),
) 
""")

create_team_arena = text("""
CREATE TABLE arena_history(
arena_id INT PRIMARY KEY,
arena_name VARCHAR(30),
team_year INT,
team_id INT FOREIGN KEY REFERENCES teams(team_id)
)
""")

create_player_team_table = text("""
CREATE TABLE player_team_history(
id INT NOT NULL IDENTITY(1,1),
player_id INT FOREIGN KEY REFERENCES players(player_id),
player_age INT,
team_id INT FOREIGN KEY REFERENCES teams(team_id),
year VARCHAR(10)
)
""")

create_games_played = text("""
CREATE TABLE games_played(
game_id CHAR(18) PRIMARY KEY,
game_date datetime,
visitor_team_id INT FOREIGN KEY REFERENCES teams(team_id), 
visitor_pts INT NOT NULL,
home_team_id INT FOREIGN KEY REFERENCES teams(team_id),
home_pts INT NOT NULL,
overtime VARCHAR(5),
attendance INT,
arena_id INT
)
""")

with nba.engine.begin() as conn:
    conn.execute(create_team_table)
    conn.execute(create_player_table)
    conn.execute(create_team_arena)
    conn.execute(create_player_team_table)
    conn.execute(create_games_played)

## Add Columns to Table

In [ ]:
add_arena_col = text("""
ALTER TABLE teams
ADD arena_name VARCHAR(30);
""")

with nba.engine.begin() as conn:
    conn.execute(add_arena_col)

## Insert Table

In [ ]:
games_played = games_played.dropna(subset=['Arena'])
games_played['DateStr'].apply(lambda x: len(str(x)))

In [ ]:
from sqlalchemy import DateTime, INT, VARCHAR

games_played.set_index('game_id').to_sql(name='games_played',
                    con=nba.engine,
                    if_exists='append',
                    dtype={'DateTime': DateTime,
                           'Visitor': VARCHAR(50),
                           'Visitor PTS': INT,
                           'Home': VARCHAR(50),
                           'Home PTS': INT,
                           'OT': VARCHAR(10),
                           'Attendance': INT, 
                           'Arena': VARCHAR(50), 
                           'DateStr': VARCHAR(12),
                           'Visitor_short': VARCHAR(3), 
                           'Home_short': VARCHAR(3),
                           'game_id': VARCHAR(18)})

In [ ]:
teams_df = games_played.rename(columns={'Home':'team_name', 'Home_short':'team_abbreviation',})[['DateTime','team_name','team_abbreviation','Arena']].copy()
teams_df['year'] = teams_df['DateTime'].apply(lambda x: str(x.year))
teams_df.drop(columns=['DateTime'], inplace=True)
teams_df = teams_df.dropna(subset=['Arena']).drop_duplicates()
teams_df['team_id'] = teams_df['team_abbreviation'] + teams_df['year']

### Execute SQL Statement to INSERT

In [ ]:
player_shotLocations[['PLAYER_ID', 'PLAYER_NAME','NICKNAME']].drop_duplicates('PLAYER_ID').to_sql('players',nba.engine, index=False)

In [ ]:
insert_table = text("""
INSERT INTO teams (team_id, team_name)
VALUES (:player_id, :player_name)
""")

with nba.engine.begin() as conn:
    conn.execute(insert_table, [{"player_id": 1, "player_name": 1}, {"player_id": 2, "player_name": 4}],)

# Drop Table

In [45]:
# Create function to drop table, can take in a list of tables
def drop_table(table_list):
    for table in table_list:
        table.drop(engine)
        print(f"Table {table} dropped")

In [ ]:
drop_table = text("""
DROP TABLE player_team_history;
DROP TABLE games_played;
DROP TABLE arena_history;
DROP TABLE players;
DROP TABLE teams;

""")

with nba.engine.begin() as conn:
    conn.execute(drop_table)

# Drop Column from Table

In [ ]:
column_to_drop = '[index]'
table_name = 'play_by_play'
drop_column = text(f"""
ALTER TABLE {table_name}
DROP COLUMN {column_to_drop}
""")

with nba.engine.begin() as conn:
    conn.execute(drop_column)
    print(f'Column {column_to_drop} has been dropped from table {table_name}')

# Access Data from Table

In [4]:
with nba.engine.connect() as conn:
    pbp = conn.execute(text("SELECT DISTINCT Player.PlayerName FROM ShotsTaken LEFT JOIN Player ON ShotsTaken.PlayerID = Player.PlayerID"))
    rows = pbp.fetchall()

pbp_df = pd.DataFrame(rows, columns=pbp.keys(),)

In [5]:
pbp_df

             PlayerName
0            Aaron Gray
1           Aaron McKie
2      Alfonzo McKinnie
3        Andray Blatche
4         Armon Johnson
...                 ...
2089     Wenyen Gabriel
2090         Wes Iwundu
2091       Willie Green
2092  Willy Hernangómez
2093    Wilson Chandler

[2094 rows x 1 columns]

In [314]:
special_names = [re.findall(r"[^a-z^A-Z^\s^'^-]", i) for i in pbp_df['PlayerName'] if re.findall(r"[^a-z^A-Z^\s^'^-]", i)]

In [317]:
chars = []

for i in special_names:
    chars.extend(i)

"".join(list(set(chars)))

'ÓèãýöŠáÁúŽêßäïšçí.òüôéžóë'

In [ ]:
pbp_df['player_name'].apply(lambda x: len(x)).max()

In [323]:
# Find all players who are not in the ShotsTaken table
with nba.engine.connect() as conn:
    players = conn.execute(text("SELECT PlayerName, FromYear, ToYear FROM Player"))
    players = players.fetchall()
    players = pd.DataFrame(players, columns=['PlayerName','FromYear','ToYear'])

with nba.engine.connect() as conn:
    pbp = conn.execute(text("SELECT DISTINCT Player.PlayerName FROM ShotsTaken LEFT JOIN Player ON ShotsTaken.PlayerID = Player.PlayerID"))
    rows = pbp.fetchall()
    pbp_df = pd.DataFrame(rows, columns=pbp.keys(),)

players.loc[(~players['PlayerName'].isin(pbp_df['PlayerName'])) & (players['ToYear'] >= 2000)]

2023-08-27 14:03:55,130 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-27 14:03:55,131 INFO sqlalchemy.engine.Engine SELECT PlayerName, FromYear, ToYear FROM Player
2023-08-27 14:03:55,132 INFO sqlalchemy.engine.Engine [cached since 28.38s ago] ()
2023-08-27 14:03:55,150 INFO sqlalchemy.engine.Engine ROLLBACK
2023-08-27 14:03:55,152 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-27 14:03:55,152 INFO sqlalchemy.engine.Engine SELECT DISTINCT Player.PlayerName FROM ShotsTaken LEFT JOIN Player ON ShotsTaken.PlayerID = Player.PlayerID
2023-08-27 14:03:55,152 INFO sqlalchemy.engine.Engine [cached since 629.4s ago] ()
2023-08-27 14:03:55,562 INFO sqlalchemy.engine.Engine ROLLBACK

                    PlayerName  FromYear  ToYear
39      DeVaughn Akoon-Purcell      2019    2019
48             Cliff Alexander      2016    2016
69                  Ray Allen*      1997    2014
112   Martynas Andriuškevicius      2006    2006
116               Chris Anstey      1998    2000
...                        ...       ...     ...
4976         Dedric Willoughby      2000    2000
4984              Jamil Wilson      2018    2018
5036          Haywoode Workman      1990    2000
5084                 Tim Young      2000    2000
5103                Ante Žižic      2018    2020

[244 rows x 3 columns]

In [36]:
with nba.engine.connect() as connection:
    # Query for players
    players = connection.execute(text("SELECT PlayerID, PlayerName FROM Player"))
    column_names = players.keys()
    players_dict = [{col: getattr(p, col) for col in column_names} for p in players.fetchall()]
    # players = pd.DataFrame(players.fetchall(), columns=['PlayerID', 'PlayerName'])
# players.loc[players['PlayerName'].str.contains('Nikola')]

In [37]:
players_dict

[{'PlayerID': 1, 'PlayerName': 'Alaa Abdelnaby'},
 {'PlayerID': 2, 'PlayerName': 'Zaid Abdul-Aziz'},
 {'PlayerID': 3, 'PlayerName': 'Kareem Abdul-Jabbar*'},
 {'PlayerID': 4, 'PlayerName': 'Mahmoud Abdul-Rauf'},
 {'PlayerID': 5, 'PlayerName': 'Tariq Abdul-Wahad'},
 {'PlayerID': 6, 'PlayerName': 'Shareef Abdur-Rahim'},
 {'PlayerID': 7, 'PlayerName': 'Tom Abernethy'},
 {'PlayerID': 8, 'PlayerName': 'Forest Able'},
 {'PlayerID': 9, 'PlayerName': 'John Abramovic'},
 {'PlayerID': 10, 'PlayerName': 'Álex Abrines'},
 {'PlayerID': 11, 'PlayerName': 'Precious Achiuwa'},
 {'PlayerID': 12, 'PlayerName': 'Alex Acker'},
 {'PlayerID': 13, 'PlayerName': 'Don Ackerman'},
 {'PlayerID': 14, 'PlayerName': 'Mark Acres'},
 {'PlayerID': 15, 'PlayerName': 'Bud Acton'},
 {'PlayerID': 16, 'PlayerName': 'Quincy Acy'},
 {'PlayerID': 17, 'PlayerName': 'Alvan Adams'},
 {'PlayerID': 18, 'PlayerName': 'Don Adams'},
 {'PlayerID': 19, 'PlayerName': 'George Adams'},
 {'PlayerID': 20, 'PlayerName': 'Hassan Adams'},
 {'PlayerID': 21, 'PlayerName': 'Jaylen Adams'},
 {'PlayerID': 22, 'PlayerName': 'Jordan Adams'},
 {'PlayerID': 23, 'PlayerName': 'Michael Adams'},
 {'PlayerID': 24, 'PlayerName': 'Steven Adams'},
 {'PlayerID': 25, 'PlayerName': 'Rafael Addison'},
 {'PlayerID': 26, 'PlayerName': 'Bam Adebayo'},
 {'PlayerID': 27, 'PlayerName': 'Deng Adel'},
 {'PlayerID': 28, 'PlayerName': 'Rick Adelman*'},
 {'PlayerID': 29, 'PlayerName': 'Jeff Adrien'},
 {'PlayerID': 30, 'PlayerName': 'Arron Afflalo'},
 {'PlayerID': 31, 'PlayerName': 'Ochai Agbaji'},
 {'PlayerID': 32, 'PlayerName': 'Maurice Ager'},
 {'PlayerID': 33, 'PlayerName': 'Mark Aguirre'},
 {'PlayerID': 34, 'PlayerName': 'Blake Ahearn'},
 {'PlayerID': 35, 'PlayerName': 'Danny Ainge'},
 {'PlayerID': 36, 'PlayerName': 'Matt Aitch'},
 {'PlayerID': 37, 'PlayerName': 'Alexis Ajinça'},
 {'PlayerID': 38, 'PlayerName': 'Henry Akin'},
 {'PlayerID': 39, 'PlayerName': 'Josh Akognon'},
 {'PlayerID': 40, 'PlayerName': 'DeVaughn Akoon-Purcell'},
 {'PlayerID': 41, 'PlayerName': 'Solomon Alabi'},
 {'PlayerID': 42, 'PlayerName': 'Mark Alarie'},
 {'PlayerID': 43, 'PlayerName': 'Gary Alcorn'},
 {'PlayerID': 44, 'PlayerName': 'Santi Aldama'},
 {'PlayerID': 45, 'PlayerName': 'Furkan Aldemir'},
 {'PlayerID': 46, 'PlayerName': 'Cole Aldrich'},
 {'PlayerID': 47, 'PlayerName': 'LaMarcus Aldridge'},
 {'PlayerID': 48, 'PlayerName': 'Chuck Aleksinas'},
 {'PlayerID': 49, 'PlayerName': 'Cliff Alexander'},
 {'PlayerID': 50, 'PlayerName': 'Cory Alexander'},
 {'PlayerID': 51, 'PlayerName': 'Courtney Alexander'},
 {'PlayerID': 52, 'PlayerName': 'Gary Alexander'},
 {'PlayerID': 53, 'PlayerName': 'Joe Alexander'},
 {'PlayerID': 54, 'PlayerName': 'Kyle Alexander'},
 {'PlayerID': 55, 'PlayerName': 'Ty-Shon Alexander'},
 {'PlayerID': 56, 'PlayerName': 'Victor Alexander'},
 {'PlayerID': 57, 'PlayerName': 'Nickeil Alexander-Walker'},
 {'PlayerID': 58, 'PlayerName': 'Steve Alford'},
 {'PlayerID': 59, 'PlayerName': 'Rawle Alkins'},
 {'PlayerID': 60, 'PlayerName': 'Bill Allen'},
 {'PlayerID': 61, 'PlayerName': 'Bob Allen'},
 {'PlayerID': 62, 'PlayerName': 'Grayson Allen'},
 {'PlayerID': 63, 'PlayerName': 'Jarrett Allen'},
 {'PlayerID': 64, 'PlayerName': 'Jerome Allen'},
 {'PlayerID': 65, 'PlayerName': 'Kadeem Allen'},
 {'PlayerID': 66, 'PlayerName': 'Lavoy Allen'},
 {'PlayerID': 67, 'PlayerName': 'Lucius Allen'},
 {'PlayerID': 68, 'PlayerName': 'Malik Allen'},
 {'PlayerID': 69, 'PlayerName': 'Randy Allen'},
 {'PlayerID': 70, 'PlayerName': 'Ray Allen*'},
 {'PlayerID': 71, 'PlayerName': 'Tony Allen'},
 {'PlayerID': 72, 'PlayerName': 'Willie Allen'},
 {'PlayerID': 73, 'PlayerName': 'Odis Allison'},
 {'PlayerID': 74, 'PlayerName': 'Lance Allred'},
 {'PlayerID': 75, 'PlayerName': 'Darrell Allums'},
 {'PlayerID': 76, 'PlayerName': 'Morris Almond'},
 {'PlayerID': 77, 'PlayerName': 'Derrick Alston'},
 {'PlayerID': 78, 'PlayerName': 'Rafer Alston'},
 {'PlayerID': 79, 'PlayerName': 'Peter Aluma'},
 {'PlayerID': 80, 'PlayerName': 'Jose Alvarado'},
 {'PlayerID': 81, 'PlayerName': 'John Amaechi'},
 {'PlayerID': 82, 'PlayerName': 'Ashraf Amaya'},
 {'PlayerID': 83, 'PlayerName': 'Al-Farouq Aminu'},
 {'PlayerID': 84, 'PlayerName': 'Lou Amundson'},
 {'PlayerID': 85, 'PlayerName': 'Bob Anderegg'},
 {'PlayerID': 86, 'PlayerName': 'Chris Andersen'},
 {'PlayerID': 87, 'PlayerName': 'David Andersen'},
 {'PlayerID': 88, 'PlayerName': 'Alan Anderson'},
 {'PlayerID': 89, 'PlayerName': 'Andy Anderson'},
 {'PlayerID': 90, 'PlayerName': 'Antonio Anderson'},
 {'PlayerID': 91, 'PlayerName': 'Cliff Anderson'},
 {'PlayerID': 92, 'PlayerName': 'Dan Anderson'},
 {'PlayerID': 93, 'PlayerName': 'Dan Anderson'},
 {'PlayerID': 94, 'PlayerName': 'Derek Anderson'},
 {'PlayerID': 95, 'PlayerName': 'Dwight Anderson'},
 {'PlayerID': 96, 'PlayerName': 'Eric Anderson'},
 {'PlayerID': 97, 'PlayerName': 'Greg Anderson'},
 {'PlayerID': 98, 'PlayerName': 'J.J. Anderson'},
 {'PlayerID': 99, 'PlayerName': 'James Anderson'},
 {'PlayerID': 100, 'PlayerName': 'Jerome Anderson'},
 {'PlayerID': 101, 'PlayerName': 'Justin Anderson'},
 {'PlayerID': 102, 'PlayerName': 'Kenny Anderson'},
 {'PlayerID': 103, 'PlayerName': 'Kim Anderson'},
 {'PlayerID': 104, 'PlayerName': 'Kyle Anderson'},
 {'PlayerID': 105, 'PlayerName': 'Michael Anderson'},
 {'PlayerID': 106, 'PlayerName': 'Nick Anderson'},
 {'PlayerID': 107, 'PlayerName': 'Richard Anderson'},
 {'PlayerID': 108, 'PlayerName': 'Ron Anderson'},
 {'PlayerID': 109, 'PlayerName': 'Ryan Anderson'},
 {'PlayerID': 110, 'PlayerName': 'Shandon Anderson'},
 {'PlayerID': 111, 'PlayerName': 'Willie Anderson'},
 {'PlayerID': 112, 'PlayerName': 'Wally Anderzunas'},
 {'PlayerID': 113, 'PlayerName': 'Martynas Andriuškevicius'},
 {'PlayerID': 114, 'PlayerName': 'Don Anielak'},
 {'PlayerID': 115, 'PlayerName': 'Ike Anigbogu'},
 {'PlayerID': 116, 'PlayerName': 'Michael Ansley'},
 {'PlayerID': 117, 'PlayerName': 'Chris Anstey'},
 {'PlayerID': 118, 'PlayerName': 'Giannis Antetokounmpo'},
 {'PlayerID': 119, 'PlayerName': 'Kostas Antetokounmpo'},
 {'PlayerID': 120, 'PlayerName': 'Thanasis Antetokounmpo'},
 {'PlayerID': 121, 'PlayerName': 'Carmelo Anthony'},
 {'PlayerID': 122, 'PlayerName': 'Cole Anthony'},
 {'PlayerID': 123, 'PlayerName': 'Greg Anthony'},
 {'PlayerID': 124, 'PlayerName': 'Joel Anthony'},
 {'PlayerID': 125, 'PlayerName': 'Pero Antic'},
 {'PlayerID': 126, 'PlayerName': 'OG Anunoby'},
 {'PlayerID': 127, 'PlayerName': 'Keith Appling'},
 {'PlayerID': 128, 'PlayerName': 'Rafael Araújo'},
 {'PlayerID': 129, 'PlayerName': 'Stacey Arceneaux'},
 {'PlayerID': 130, 'PlayerName': 'Robert Archibald'},
 {'PlayerID': 131, 'PlayerName': 'Tiny Archibald*'},
 {'PlayerID': 132, 'PlayerName': 'Ryan Arcidiacono'},
 {'PlayerID': 133, 'PlayerName': 'Jim Ard'},
 {'PlayerID': 134, 'PlayerName': 'Gilbert Arenas'},
 {'PlayerID': 135, 'PlayerName': 'Trevor Ariza'},
 {'PlayerID': 136, 'PlayerName': 'Paul Arizin*'},
 {'PlayerID': 137, 'PlayerName': 'Joe Arlauckas'},
 {'PlayerID': 138, 'PlayerName': 'B.J. Armstrong'},
 {'PlayerID': 139, 'PlayerName': 'Bob Armstrong'},
 {'PlayerID': 140, 'PlayerName': 'Brandon Armstrong'},
 {'PlayerID': 141, 'PlayerName': 'Curly Armstrong'},
 {'PlayerID': 142, 'PlayerName': 'Darrell Armstrong'},
 {'PlayerID': 143, 'PlayerName': 'Hilton Armstrong'},
 {'PlayerID': 144, 'PlayerName': 'Tate Armstrong'},
 {'PlayerID': 145, 'PlayerName': 'Jesse Arnelle'},
 {'PlayerID': 146, 'PlayerName': 'Jay Arnette'},
 {'PlayerID': 147, 'PlayerName': 'Bob Arnzen'},
 {'PlayerID': 148, 'PlayerName': 'Carlos Arroyo'},
 {'PlayerID': 149, 'PlayerName': 'Darrell Arthur'},
 {'PlayerID': 150, 'PlayerName': 'John Arthurs'},
 {'PlayerID': 151, 'PlayerName': 'Jamel Artis'},
 {'PlayerID': 152, 'PlayerName': 'Ömer Asik'},
 {'PlayerID': 153, 'PlayerName': 'Vincent Askew'},
 {'PlayerID': 154, 'PlayerName': 'Keith Askins'},
 {'PlayerID': 155, 'PlayerName': 'Don Asmonga'},
 {'PlayerID': 156, 'PlayerName': 'Dick Atha'},
 {'PlayerID': 157, 'PlayerName': 'Chucky Atkins'},
 {'PlayerID': 158, 'PlayerName': 'Al Attles*'},
 {'PlayerID': 159, 'PlayerName': 'Chet Aubuchon'},
 {'PlayerID': 160, 'PlayerName': 'Stacey Augmon'},
 {'PlayerID': 161, 'PlayerName': 'D.J. Augustin'},
 {'PlayerID': 162, 'PlayerName': 'James Augustine'},
 {'PlayerID': 163, 'PlayerName': 'Isaac Austin'},
 {'PlayerID': 164, 'PlayerName': 'Johnny Austin'},
 {'PlayerID': 165, 'PlayerName': 'Ken Austin'},
 {'PlayerID': 166, 'PlayerName': 'Deni Avdija'},
 {'PlayerID': 167, 'PlayerName': 'Anthony Avent'},
 {'PlayerID': 168, 'PlayerName': 'Bird Averitt'},
 {'PlayerID': 169, 'PlayerName': 'William Avery'},
 {'PlayerID': 170, 'PlayerName': 'Dennis Awtrey'},
 {'PlayerID': 171, 'PlayerName': 'Joel Ayayi'},
 {'PlayerID': 172, 'PlayerName': 'Gustavo Ayón'},
 {'PlayerID': 173, 'PlayerName': 'Jeff Ayres'},
 {'PlayerID': 174, 'PlayerName': 'Deandre Ayton'},
 {'PlayerID': 175, 'PlayerName': 'Kelenna Azubuike'},
 {'PlayerID': 176, 'PlayerName': 'Udoka Azubuike'},
 {'PlayerID': 177, 'PlayerName': 'Chris Babb'},
 {'PlayerID': 178, 'PlayerName': 'Luke Babbitt'},
 {'PlayerID': 179, 'PlayerName': 'Miloš Babic'},
 {'PlayerID': 180, 'PlayerName': 'Johnny Bach'},
 {'PlayerID': 181, 'PlayerName': 'Dwayne Bacon'},
 {'PlayerID': 182, 'PlayerName': 'Henry Bacon'},
 {'PlayerID': 183, 'PlayerName': 'Jim Baechtold'},
 {'PlayerID': 184, 'PlayerName': 'Dalibor Bagaric'},
 {'PlayerID': 185, 'PlayerName': 'John Bagley'},
 {'PlayerID': 186, 'PlayerName': 'Marvin Bagley III'},
 {'PlayerID': 187, 'PlayerName': 'Carl Bailey'},
 {'PlayerID': 188, 'PlayerName': 'Gus Bailey'},
 {'PlayerID': 189, 'PlayerName': 'James Bailey'},
 {'PlayerID': 190, 'PlayerName': 'Thurl Bailey'},
 {'PlayerID': 191, 'PlayerName': 'Toby Bailey'},
 {'PlayerID': 192, 'PlayerName': 'Cameron Bairstow'},
 {'PlayerID': 193, 'PlayerName': 'Jimmie Baker'},
 {'PlayerID': 194, 'PlayerName': 'Mark Baker'},
 {'PlayerID': 195, 'PlayerName': 'Maurice Baker'},
 {'PlayerID': 196, 'PlayerName': 'Norm Baker'},
 {'PlayerID': 197, 'PlayerName': 'Ron Baker'},
 {'PlayerID': 198, 'PlayerName': 'Vin Baker'},
 {'PlayerID': 199, 'PlayerName': 'Patrick Baldwin Jr.'},
 {'PlayerID': 200, 'PlayerName': 'Wade Baldwin'},
 {'PlayerID': 201, 'PlayerName': 'Renaldo Balkman'},
 {'PlayerID': 202, 'PlayerName': 'Cedric Ball'},
 {'PlayerID': 203, 'PlayerName': 'LaMelo Ball'},
 {'PlayerID': 204, 'PlayerName': 'Lonzo Ball'},
 {'PlayerID': 205, 'PlayerName': 'Greg Ballard'},
 {'PlayerID': 206, 'PlayerName': 'Herschel Baltimore'},
 {'PlayerID': 207, 'PlayerName': 'Mo Bamba'},
 {'PlayerID': 208, 'PlayerName': 'Paolo Banchero'},
 {'PlayerID': 209, 'PlayerName': 'Desmond Bane'},
 {'PlayerID': 210, 'PlayerName': 'Gene Banks'},
 {'PlayerID': 211, 'PlayerName': 'Marcus Banks'},
 {'PlayerID': 212, 'PlayerName': 'Walker Banks'},
 {'PlayerID': 213, 'PlayerName': 'Ken Bannister'},
 {'PlayerID': 214, 'PlayerName': 'Mike Bantom'},
 {'PlayerID': 215, 'PlayerName': 'Dalano Banton'},
 {'PlayerID': 216, 'PlayerName': 'Cat Barber'},
 {'PlayerID': 217, 'PlayerName': 'John Barber'},
 {'PlayerID': 218, 'PlayerName': 'Leandro Barbosa'},
 {'PlayerID': 219, 'PlayerName': 'Steve Bardo'},
 {'PlayerID': 220, 'PlayerName': 'J.J. Barea'},
 {'PlayerID': 221, 'PlayerName': 'Andrea Bargnani'},
 {'PlayerID': 222, 'PlayerName': 'Cliff Barker'},
 {'PlayerID': 223, 'PlayerName': 'Tom Barker'},
 {'PlayerID': 224, 'PlayerName': 'Charles Barkley*'},
 {'PlayerID': 225, 'PlayerName': 'Erick Barkley'},
 {'PlayerID': 226, 'PlayerName': 'Don Barksdale*'},
 {'PlayerID': 227, 'PlayerName': 'Dominick Barlow'},
 {'PlayerID': 228, 'PlayerName': 'Harrison Barnes'},
 {'PlayerID': 229, 'PlayerName': 'Harry Barnes'},
 {'PlayerID': 230, 'PlayerName': 'Jim Barnes'},
 {'PlayerID': 231, 'PlayerName': 'Marvin Barnes'},
 {'PlayerID': 232, 'PlayerName': 'Matt Barnes'},
 {'PlayerID': 233, 'PlayerName': 'Scottie Barnes'},
 {'PlayerID': 234, 'PlayerName': 'Dick Barnett'},
 {'PlayerID': 235, 'PlayerName': 'Jim Barnett'},
 {'PlayerID': 236, 'PlayerName': 'Nate Barnett'},
 {'PlayerID': 237, 'PlayerName': 'John Barnhill'},
 {'PlayerID': 238, 'PlayerName': 'Norton Barnhill'},
 {'PlayerID': 239, 'PlayerName': 'Leo Barnhorst'},
 {'PlayerID': 240, 'PlayerName': 'John Barr'},
 {'PlayerID': 241, 'PlayerName': 'Mike Barr'},
 {'PlayerID': 242, 'PlayerName': 'Moe Barr'},
 {'PlayerID': 243, 'PlayerName': 'Andre Barrett'},
 {'PlayerID': 244, 'PlayerName': 'Ernie Barrett'},
 {'PlayerID': 245, 'PlayerName': 'Mike Barrett'},
 {'PlayerID': 246, 'PlayerName': 'RJ Barrett'},
 {'PlayerID': 247, 'PlayerName': 'Earl Barron'},
 {'PlayerID': 248, 'PlayerName': 'Dana Barros'},
 {'PlayerID': 249, 'PlayerName': 'Brent Barry'},
 {'PlayerID': 250, 'PlayerName': 'Drew Barry'},
 {'PlayerID': 251, 'PlayerName': 'Jon Barry'},
 {'PlayerID': 252, 'PlayerName': 'Rick Barry*'},
 {'PlayerID': 253, 'PlayerName': 'Ed Bartels'},
 {'PlayerID': 254, 'PlayerName': 'Vic Bartolome'},
 {'PlayerID': 255, 'PlayerName': 'Will Barton'},
 {'PlayerID': 256, 'PlayerName': 'Eddie Basden'},
 {'PlayerID': 257, 'PlayerName': 'Jerry Baskerville'},
 {'PlayerID': 258, 'PlayerName': 'Brandon Bass'},
 {'PlayerID': 259, 'PlayerName': 'Paris Bass'},
 {'PlayerID': 260, 'PlayerName': 'Tim Bassett'},
 {'PlayerID': 261, 'PlayerName': 'Charles Bassey'},
 {'PlayerID': 262, 'PlayerName': 'Maceo Baston'},
 {'PlayerID': 263, 'PlayerName': 'Mengke Bateer'},
 {'PlayerID': 264, 'PlayerName': 'Billy Ray Bates'},
 {'PlayerID': 265, 'PlayerName': 'Keita Bates-Diop'},
 {'PlayerID': 266, 'PlayerName': 'Esteban Batista'},
 {'PlayerID': 267, 'PlayerName': 'Mike Batiste'},
 {'PlayerID': 268, 'PlayerName': 'Tony Battie'},
 {'PlayerID': 269, 'PlayerName': 'Shane Battier'},
 {'PlayerID': 270, 'PlayerName': 'John Battle'},
 {'PlayerID': 271, 'PlayerName': 'Kenny Battle'},
 {'PlayerID': 272, 'PlayerName': 'Dave Batton'},
 {'PlayerID': 273, 'PlayerName': 'Lloyd Batts'},
 {'PlayerID': 274, 'PlayerName': 'Nicolas Batum'},
 {'PlayerID': 275, 'PlayerName': 'Johnny Baum'},
 {'PlayerID': 276, 'PlayerName': 'Frankie Baumholtz'},
 {'PlayerID': 277, 'PlayerName': 'Lonny Baxter'},
 {'PlayerID': 278, 'PlayerName': 'Jerryd Bayless'},
 {'PlayerID': 279, 'PlayerName': 'Elgin Baylor*'},
 {'PlayerID': 280, 'PlayerName': 'Howard Bayne'},
 {'PlayerID': 281, 'PlayerName': 'Aron Baynes'},
 {'PlayerID': 282, 'PlayerName': 'Sergei Bazarevich'},
 {'PlayerID': 283, 'PlayerName': 'Kent Bazemore'},
 {'PlayerID': 284, 'PlayerName': 'Darius Bazley'},
 {'PlayerID': 285, 'PlayerName': 'Ed Beach'},
 {'PlayerID': 286, 'PlayerName': 'Bradley Beal'},
 {'PlayerID': 287, 'PlayerName': 'Al Beard'},
 {'PlayerID': 288, 'PlayerName': 'Butch Beard'},
 {'PlayerID': 289, 'PlayerName': 'Ralph Beard'},
 {'PlayerID': 290, 'PlayerName': 'Charlie Beasley'},
 {'PlayerID': 291, 'PlayerName': 'Jerome Beasley'},
 {'PlayerID': 292, 'PlayerName': 'John Beasley'},
 {'PlayerID': 293, 'PlayerName': 'Malik Beasley'},
 {'PlayerID': 294, 'PlayerName': 'Michael Beasley'},
 {'PlayerID': 295, 'PlayerName': 'Zelmo Beaty*'},
 {'PlayerID': 296, 'PlayerName': 'Rodrigue Beaubois'},
 {'PlayerID': 297, 'PlayerName': 'MarJon Beauchamp'},
 {'PlayerID': 298, 'PlayerName': 'Byron Beck'},
 {'PlayerID': 299, 'PlayerName': 'Corey Beck'},
 {'PlayerID': 300, 'PlayerName': 'Ernie Beck'},
 {'PlayerID': 301, 'PlayerName': 'Art Becker'},
 {'PlayerID': 302, 'PlayerName': 'Moe Becker'},
 {'PlayerID': 303, 'PlayerName': 'Bob Bedell'},
 {'PlayerID': 304, 'PlayerName': 'William Bedford'},
 {'PlayerID': 305, 'PlayerName': 'Hank Beenders'},
 {'PlayerID': 306, 'PlayerName': 'Ron Behagen'},
 {'PlayerID': 307, 'PlayerName': 'Elmer Behnke'},
 {'PlayerID': 308, 'PlayerName': 'Marco Belinelli'},
 {'PlayerID': 309, 'PlayerName': 'Charlie Bell'},
 {'PlayerID': 310, 'PlayerName': 'Dennis Bell'},
 {'PlayerID': 311, 'PlayerName': 'Jordan Bell'},
 {'PlayerID': 312, 'PlayerName': 'Raja Bell'},
 {'PlayerID': 313, 'PlayerName': 'Troy Bell'},
 {'PlayerID': 314, 'PlayerName': 'Whitey Bell'},
 {'PlayerID': 315, 'PlayerName': 'Walt Bellamy*'},
 {'PlayerID': 316, 'PlayerName': "DeAndre' Bembry"},
 {'PlayerID': 317, 'PlayerName': 'Irv Bemoras'},
 {'PlayerID': 318, 'PlayerName': 'Leon Benbow'},
 {'PlayerID': 319, 'PlayerName': 'Dragan Bender'},
 {'PlayerID': 320, 'PlayerName': 'Jonathan Bender'},
 {'PlayerID': 321, 'PlayerName': 'Jerrelle Benimon'},
 {'PlayerID': 322, 'PlayerName': 'Benoit Benjamin'},
 {'PlayerID': 323, 'PlayerName': 'Corey Benjamin'},
 {'PlayerID': 324, 'PlayerName': 'Anthony Bennett'},
 {'PlayerID': 325, 'PlayerName': 'Elmer Bennett'},
 {'PlayerID': 326, 'PlayerName': 'Mario Bennett'},
 {'PlayerID': 327, 'PlayerName': 'Mel Bennett'},
 {'PlayerID': 328, 'PlayerName': 'Spider Bennett'},
 {'PlayerID': 329, 'PlayerName': 'Tony Bennett'},
 {'PlayerID': 330, 'PlayerName': 'Winston Bennett'},
 {'PlayerID': 331, 'PlayerName': 'David Benoit'},
 {'PlayerID': 332, 'PlayerName': 'Keith Benson'},
 {'PlayerID': 333, 'PlayerName': 'Kent Benson'},
 {'PlayerID': 334, 'PlayerName': 'Ben Bentil'},
 {'PlayerID': 335, 'PlayerName': 'Gene Berce'},
 {'PlayerID': 336, 'PlayerName': 'Gary Bergen'},
 {'PlayerID': 337, 'PlayerName': 'Larry Bergh'},
 {'PlayerID': 338, 'PlayerName': 'Ricky Berry'},
 {'PlayerID': 339, 'PlayerName': 'Walter Berry'},
 {'PlayerID': 340, 'PlayerName': 'Dairis Bertans'},
 {'PlayerID': 341, 'PlayerName': 'Davis Bertans'},
 {'PlayerID': 342, 'PlayerName': 'Del Beshore'},
 {'PlayerID': 343, 'PlayerName': 'Travis Best'},
 {'PlayerID': 344, 'PlayerName': 'Patrick Beverley'},
 {'PlayerID': 345, 'PlayerName': 'Saddiq Bey'},
 {'PlayerID': 346, 'PlayerName': 'Tyler Bey'},
 {'PlayerID': 347, 'PlayerName': 'Sim Bhullar'},
 {'PlayerID': 348, 'PlayerName': 'Wes Bialosuknia'},
 {'PlayerID': 349, 'PlayerName': 'Al Bianchi'},
 {'PlayerID': 350, 'PlayerName': 'Hank Biasatti'},
 {'PlayerID': 351, 'PlayerName': 'Henry Bibby'},
 {'PlayerID': 352, 'PlayerName': 'Mike Bibby'},
 {'PlayerID': 353, 'PlayerName': 'Ed Biedenbach'},
 {'PlayerID': 354, 'PlayerName': 'Andris Biedrinš'},
 {'PlayerID': 355, 'PlayerName': 'Don Bielke'},
 {'PlayerID': 356, 'PlayerName': 'Bob Bigelow'},
 {'PlayerID': 357, 'PlayerName': 'Lionel Billingy'},
 {'PlayerID': 358, 'PlayerName': 'Chauncey Billups'},
 {'PlayerID': 359, 'PlayerName': 'Dave Bing*'},
 {'PlayerID': 360, 'PlayerName': 'Joe Binion'},
 {'PlayerID': 361, 'PlayerName': 'Khem Birch'},
 {'PlayerID': 362, 'PlayerName': 'Jabari Bird'},
 {'PlayerID': 363, 'PlayerName': 'Jerry Bird'},
 {'PlayerID': 364, 'PlayerName': 'Larry Bird*'},
 {'PlayerID': 365, 'PlayerName': 'Otis Birdsong'},
 {'PlayerID': 366, 'PlayerName': 'Gale Bishop'},
 {'PlayerID': 367, 'PlayerName': 'Goga Bitadze'},
 {'PlayerID': 368, 'PlayerName': 'Bismack Biyombo'},
 {'PlayerID': 369, 'PlayerName': 'Nemanja Bjelica'},
 {'PlayerID': 370, 'PlayerName': 'Uwe Blab'},
 {'PlayerID': 371, 'PlayerName': 'Charlie Black'},
 {'PlayerID': 372, 'PlayerName': 'Norman Black'},
 {'PlayerID': 373, 'PlayerName': 'Tarik Black'},
 {'PlayerID': 374, 'PlayerName': 'Tom Black'},
 {'PlayerID': 375, 'PlayerName': 'Rolando Blackman'},
 {'PlayerID': 376, 'PlayerName': 'Alex Blackwell'},
 {'PlayerID': 377, 'PlayerName': 'Cory Blackwell'},
 {'PlayerID': 378, 'PlayerName': 'James Blackwell'},
 {'PlayerID': 379, 'PlayerName': 'Nate Blackwell'},
 {'PlayerID': 380, 'PlayerName': 'DeJuan Blair'},
 {'PlayerID': 381, 'PlayerName': 'Steve Blake'},
 {'PlayerID': 382, 'PlayerName': 'Antonio Blakeney'},
 {'PlayerID': 383, 'PlayerName': 'Will Blalock'},
 {'PlayerID': 384, 'PlayerName': 'George Blaney'},
 {'PlayerID': 385, 'PlayerName': 'Lance Blanks'},
 {'PlayerID': 386, 'PlayerName': 'Ricky Blanton'},
 {'PlayerID': 387, 'PlayerName': 'Andray Blatche'},
 {'PlayerID': 388, 'PlayerName': 'Mookie Blaylock'},
 {'PlayerID': 389, 'PlayerName': 'Eric Bledsoe'},
 {'PlayerID': 390, 'PlayerName': 'Keljin Blevins'},
 {'PlayerID': 391, 'PlayerName': 'Leon Blevins'},
 {'PlayerID': 392, 'PlayerName': 'John Block'},
 {'PlayerID': 393, 'PlayerName': 'Mike Bloom'},
 {'PlayerID': 394, 'PlayerName': 'Jaron Blossomgame'},
 {'PlayerID': 395, 'PlayerName': 'Corie Blount'},
 {'PlayerID': 396, 'PlayerName': 'Mark Blount'},
 {'PlayerID': 397, 'PlayerName': 'Vander Blue'},

# Testing API Endpoint

In [6]:
import requests

tables = 'http://127.0.0.1:5000/api/shots?player_name=lebron&limit=100'
r = requests.get(tables)
print(r.json()['shots'])

[{'ShotID': 102129472, 'PlayerID': 2196, 'TimeLeft': '10:52.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 0-2', 'X_Shot_Pos': 224, 'Y_Shot_Pos': 231, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 10:52.0 remaining<br>LeBron James missed 2-pointer from 19 ft<br>Cleveland trails 0-2', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'a2463875f050476229f3cc37f4d9a2d34c86b3b7', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129473, 'PlayerID': 2196, 'TimeLeft': '7:17.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 9-8', 'X_Shot_Pos': 138, 'Y_Shot_Pos': 329, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 7:17.0 remaining<br>LeBron James missed 2-pointer from 14 ft<br>Cleveland leads 9-8', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '5606b0c82537d64133567ebb0ea82169fd9498df', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129474, 'PlayerID': 2196, 'TimeLeft': '6:49.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now leads 11-8', 'X_Shot_Pos': 240, 'Y_Shot_Pos': 420, 'Quarter': '1st quarter', 'ShotStatus': 'make', 'FullText': '1st quarter, 6:49.0 remaining<br>LeBron James made 2-pointer from 0 ft<br>Cleveland now leads 11-8', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '82cf92f47f2ea142bd370db166824b49b743b15a', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129475, 'PlayerID': 2196, 'TimeLeft': '2:29.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now trails 19-20', 'X_Shot_Pos': 202, 'Y_Shot_Pos': 328, 'Quarter': '1st quarter', 'ShotStatus': 'make', 'FullText': '1st quarter, 2:29.0 remaining<br>LeBron James made 2-pointer from 10 ft<br>Cleveland now trails 19-20', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'd86c820c3479ef8e3d15d0a22a1bc5d7cccb91e6', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129476, 'PlayerID': 2196, 'TimeLeft': '1:52.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 19-20', 'X_Shot_Pos': 161, 'Y_Shot_Pos': 410, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 1:52.0 remaining<br>LeBron James missed 2-pointer from 8 ft<br>Cleveland trails 19-20', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '6e741e31d9c1946df89ea2a43487ca56afd25252', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129477, 'PlayerID': 2196, 'TimeLeft': '1:22.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 19-20', 'X_Shot_Pos': 240, 'Y_Shot_Pos': 420, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 1:22.0 remaining<br>LeBron James missed 2-pointer from 0 ft<br>Cleveland trails 19-20', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '2eaaa0557246569098cd9ce8a3299b43d1d1011c', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129478, 'PlayerID': 2196, 'TimeLeft': '0:28.9', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 19-20', 'X_Shot_Pos': 79, 'Y_Shot_Pos': 341, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 0:28.9 remaining<br>LeBron James missed 2-pointer from 18 ft<br>Cleveland trails 19-20', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'ec9783637ba64ef1a26aa7fd59e0cd6461823852', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129479, 'PlayerID': 2196, 'TimeLeft': '11:29.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 19-22', 'X_Shot_Pos': 71, 'Y_Shot_Pos': 429, 'Quarter': '2nd quarter', 'ShotStatus': 'miss', 'FullText': '2nd quarter, 11:29.0 remaining<br>LeBron James missed 2-pointer from 17 ft<br>Cleveland trails 19-22', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'b03a93e0a09e42e8abe178f1f05fadac8eba8001', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129480, 'PlayerID': 2196, 'TimeLeft': '9:09.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now leads 25-24', 'X_Shot_Pos': 240, 'Y_Shot_Pos': 420, 'Quarter': '2nd quarter', 'ShotStatus': 'make', 'FullText': '2nd quarter, 9:09.0 remaining<br>LeBron James made 2-pointer from 0 ft<br>Cleveland now leads 25-24', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '14f5def7a9f5d62d68db63fc5deeedf1539354a0', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129481, 'PlayerID': 2196, 'TimeLeft': '0:58.9', 'TeamID': 17, 'ScoreStatus': 'Cleveland now leads 41-39', 'X_Shot_Pos': 95, 'Y_Shot_Pos': 251, 'Quarter': '2nd quarter', 'ShotStatus': 'make', 'FullText': '2nd quarter, 0:58.9 remaining<br>LeBron James made 2-pointer from 22 ft<br>Cleveland now leads 41-39', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '8114c8af96770fc34f0e94b627ca0f0e5e5e7c02', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129482, 'PlayerID': 2196, 'TimeLeft': '10:43.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 45-42', 'X_Shot_Pos': 207, 'Y_Shot_Pos': 218, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 10:43.0 remaining<br>LeBron James missed 2-pointer from 20 ft<br>Cleveland leads 45-42', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '23b77ad2eecc6cad93ec1f7e9bb6f89af8819788', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129483, 'PlayerID': 2196, 'TimeLeft': '7:59.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland tied 49-49', 'X_Shot_Pos': 10, 'Y_Shot_Pos': 436, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 7:59.0 remaining<br>LeBron James missed 3-pointer from 23 ft<br>Cleveland tied 49-49', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '916f07a1b7ecd4cf5a437411ab178bdd11ab301f', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129484, 'PlayerID': 2196, 'TimeLeft': '6:49.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now trails 53-54', 'X_Shot_Pos': 235, 'Y_Shot_Pos': 297, 'Quarter': '3rd quarter', 'ShotStatus': 'make', 'FullText': '3rd quarter, 6:49.0 remaining<br>LeBron James made 2-pointer from 12 ft<br>Cleveland now trails 53-54', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '8331a7d0348e77201ff0c28254b64de6bd40113a', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129485, 'PlayerID': 2196, 'TimeLeft': '1:22.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 63-67', 'X_Shot_Pos': 3, 'Y_Shot_Pos': 425, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 1:22.0 remaining<br>LeBron James missed 3-pointer from 24 ft<br>Cleveland trails 63-67', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '504655e612e76e2fec8f2170e818bc1819497e0e', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129486, 'PlayerID': 2196, 'TimeLeft': '0:00.9', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 63-71', 'X_Shot_Pos': 137, 'Y_Shot_Pos': 108, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 0:00.9 remaining<br>LeBron James missed 3-pointer from 33 ft<br>Cleveland trails 63-71', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'b04fdf02aa5fe374f8414847d1d55329033f7f26', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129487, 'PlayerID': 2196, 'TimeLeft': '7:33.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 72-81', 'X_Shot_Pos': 68, 'Y_Shot_Pos': 224, 'Quarter': '4th quarter', 'ShotStatus': 'miss', 'FullText': '4th quarter, 7:33.0 remaining<br>LeBron James missed 3-pointer from 26 ft<br>Cleveland trails 72-81', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '914ee9580975be07bea3c695f2742c87bc135a3a', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129488, 'PlayerID': 2196, 'TimeLeft': '7:03.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 72-83', 'X_Shot_Pos': 240, 'Y_Shot_Pos': 420, 'Quarter': '4th quarter', 'ShotStatus': 'miss', 'FullText': '4th quarter, 7:03.0 remaining<br>LeBron James missed 2-pointer from 0 ft<br>Cleveland trails 72-83', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': '70bdfc19deb9a9f026d0840809eb2cc751111304', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129489, 'PlayerID': 2196, 'TimeLeft': '5:40.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 72-86', 'X_Shot_Pos': 109, 'Y_Shot_Pos': 425, 'Quarter': '4th quarter', 'ShotStatus': 'miss', 'FullText': '4th quarter, 5:40.0 remaining<br>LeBron James missed 2-pointer from 13 ft<br>Cleveland trails 72-86', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'd5f049bd1727255a72f002ac08867cb30ed1b24a', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129490, 'PlayerID': 2196, 'TimeLeft': '4:34.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now trails 76-88', 'X_Shot_Pos': 240, 'Y_Shot_Pos': 420, 'Quarter': '4th quarter', 'ShotStatus': 'make', 'FullText': '4th quarter, 4:34.0 remaining<br>LeBron James made 2-pointer from 0 ft<br>Cleveland now trails 76-88', 'GameDate': '2004-01-02T19:30:00', 'GameID': '200401021930CLENJN', 'ShotsHashID': 'bdd6396b22d27dadb639e20c91d64bc4fbb657e9', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129491, 'PlayerID': 2196, 'TimeLeft': '10:22.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 2-4', 'X_Shot_Pos': 97, 'Y_Shot_Pos': 375, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 10:22.0 remaining<br>LeBron James missed 2-pointer from 15 ft<br>Cleveland trails 2-4', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '04e9d903daa8a04efb7e4866040fa19a8de0bca1', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129492, 'PlayerID': 2196, 'TimeLeft': '10:16.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 2-4', 'X_Shot_Pos': 17, 'Y_Shot_Pos': 418, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 10:16.0 remaining<br>LeBron James missed 3-pointer from 22 ft<br>Cleveland trails 2-4', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '15695aace69d4d1cbfcc1e0ff18e3a9a15e197ea', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129493, 'PlayerID': 2196, 'TimeLeft': '4:11.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now trails 12-15', 'X_Shot_Pos': 197, 'Y_Shot_Pos': 410, 'Quarter': '1st quarter', 'ShotStatus': 'make', 'FullText': '1st quarter, 4:11.0 remaining<br>LeBron James made 2-pointer from 4 ft<br>Cleveland now trails 12-15', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '3ee1c3f83c91a1fa5f8d0d1ced684ede3c0b9aa8', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129494, 'PlayerID': 2196, 'TimeLeft': '3:03.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now trails 14-17', 'X_Shot_Pos': 246, 'Y_Shot_Pos': 423, 'Quarter': '1st quarter', 'ShotStatus': 'make', 'FullText': '1st quarter, 3:03.0 remaining<br>LeBron James made 2-pointer from 1 ft<br>Cleveland now trails 14-17', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '34ad4060a968b57ef407eab7d72fa25fd35c45fd', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129495, 'PlayerID': 2196, 'TimeLeft': '2:36.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 14-17', 'X_Shot_Pos': 276, 'Y_Shot_Pos': 407, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 2:36.0 remaining<br>LeBron James missed 2-pointer from 4 ft<br>Cleveland trails 14-17', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '759be9c457d206528c1cc52e0e4eb587801a40d0', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129496, 'PlayerID': 2196, 'TimeLeft': '1:01.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 16-20', 'X_Shot_Pos': 241, 'Y_Shot_Pos': 419, 'Quarter': '1st quarter', 'ShotStatus': 'miss', 'FullText': '1st quarter, 1:01.0 remaining<br>LeBron James missed 2-pointer from 0 ft<br>Cleveland trails 16-20', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '9a55a16ca07b298f9d65b4be7d0ba3b28b6f050c', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129497, 'PlayerID': 2196, 'TimeLeft': '4:45.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland trails 40-42', 'X_Shot_Pos': 199, 'Y_Shot_Pos': 417, 'Quarter': '2nd quarter', 'ShotStatus': 'miss', 'FullText': '2nd quarter, 4:45.0 remaining<br>LeBron James missed 2-pointer from 4 ft<br>Cleveland trails 40-42', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '5c728106ac149e135526b366341dfc43c5a8a4c7', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129498, 'PlayerID': 2196, 'TimeLeft': '9:00.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now leads 62-49', 'X_Shot_Pos': 426, 'Y_Shot_Pos': 295, 'Quarter': '3rd quarter', 'ShotStatus': 'make', 'FullText': '3rd quarter, 9:00.0 remaining<br>LeBron James made 2-pointer from 22 ft<br>Cleveland now leads 62-49', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': 'f455b190381248d045c006216582bc8d57cc5204', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129499, 'PlayerID': 2196, 'TimeLeft': '7:21.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 64-54', 'X_Shot_Pos': 186, 'Y_Shot_Pos': 400, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 7:21.0 remaining<br>LeBron James missed 2-pointer from 6 ft<br>Cleveland leads 64-54', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '73478acd0d47963e3fa2d09cad0f65873294e44e', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129500, 'PlayerID': 2196, 'TimeLeft': '7:20.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 64-54', 'X_Shot_Pos': 256, 'Y_Shot_Pos': 420, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 7:20.0 remaining<br>LeBron James missed 2-pointer from 2 ft<br>Cleveland leads 64-54', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '40bec7993af21f467c5553cc1b85ef840575bc53', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129501, 'PlayerID': 2196, 'TimeLeft': '6:26.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 66-54', 'X_Shot_Pos': 232, 'Y_Shot_Pos': 400, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 6:26.0 remaining<br>LeBron James missed 2-pointer from 2 ft<br>Cleveland leads 66-54', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '50023d52e6f77a151bd49a309fce6b0f16e4282d', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129502, 'PlayerID': 2196, 'TimeLeft': '4:13.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 72-60', 'X_Shot_Pos': 243, 'Y_Shot_Pos': 418, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 4:13.0 remaining<br>LeBron James missed 2-pointer from 0 ft<br>Cleveland leads 72-60', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '23312f235da84e6d373611897c3b80cf9a0a4f7a', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129503, 'PlayerID': 2196, 'TimeLeft': '2:10.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now leads 79-63', 'X_Shot_Pos': 241, 'Y_Shot_Pos': 410, 'Quarter': '3rd quarter', 'ShotStatus': 'make', 'FullText': '3rd quarter, 2:10.0 remaining<br>LeBron James made 2-pointer from 1 ft<br>Cleveland now leads 79-63', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '0c7abc266f8aa253a76519688a691f6ee55ba8d0', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129504, 'PlayerID': 2196, 'TimeLeft': '0:33.9', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 83-68', 'X_Shot_Pos': 15, 'Y_Shot_Pos': 423, 'Quarter': '3rd quarter', 'ShotStatus': 'miss', 'FullText': '3rd quarter, 0:33.9 remaining<br>LeBron James missed 3-pointer from 23 ft<br>Cleveland leads 83-68', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': 'e74152c7f22119e8232a8a8ec7f1a1f8de6e896a', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129505, 'PlayerID': 2196, 'TimeLeft': '6:46.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland now leads 92-76', 'X_Shot_Pos': 449, 'Y_Shot_Pos': 444, 'Quarter': '4th quarter', 'ShotStatus': 'make', 'FullText': '4th quarter, 6:46.0 remaining<br>LeBron James made 2-pointer from 21 ft<br>Cleveland now leads 92-76', 'GameDate': '2004-01-06T19:00:00', 'GameID': '200401061900NYKCLE', 'ShotsHashID': '81a2a83fbae71a00b745c6736a8d3f5e04caf9a0', 'PlayerName': 'LeBron James', 'PositionName': 'F-G', 'Height': '6-9', 'Weight': 250, 'BirthDate': '1984-12-30T00:00:00', 'College': None}, {'ShotID': 102129506, 'PlayerID': 2196, 'TimeLeft': '2:20.0', 'TeamID': 17, 'ScoreStatus': 'Cleveland leads 96-87', 'X_Shot_Pos': 449, 'Y_Shot_Pos': 446, 'Quarter': '4th quart

In [51]:
player_id = 2196
shots = 'http://127.0.0.1:5000/api/shots?player_id={}'.format(player_id)
r = requests.get(shots).json()['shots']
pd.DataFrame(r)

,ShotID,PlayerID,TimeLeft,TeamID,ScoreStatus,X_Shot_Pos,Y_Shot_Pos,Quarter,ShotStatus,FullText,GameDate,GameID,ShotsHashID,PlayerName,PositionName,Height,Weight,BirthDate,College
0,103159686,2107,0:01.9,1,Atlanta trails 33-71,240,420,2nd quarter,miss,"2nd quarter, 0:01.9 remaining<br>Othello Hunte...",2009-01-09T19:00:00,200901091900ATLORL,1917c89060575a2956c1e1e83599ce800ae7d1aa,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
1,103159687,2107,0:27.3,1,Atlanta now leads 97-80,240,420,4th quarter,make,"4th quarter, 0:27.3 remaining<br>Othello Hunte...",2009-01-14T22:30:00,200901142230ATLLAC,5b6ff9524a89fb4f721bd7dd6cb57b30afccb323,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
2,103159688,2107,3:39.0,1,Atlanta leads 112-80,403,359,4th quarter,miss,"4th quarter, 3:39.0 remaining<br>Othello Hunte...",2009-01-23T19:30:00,200901231930MILATL,57c11efafd960c3c4b48aa7a187458a9e7ad6eab,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
3,103159689,2107,0:01.9,1,Atlanta leads 57-55,405,301,2nd quarter,miss,"2nd quarter, 0:01.9 remaining<br>Othello Hunte...",2009-01-25T18:00:00,200901251800PHXATL,e4a5267bfb1412c8a68b9ebfa5a7d5815298c856,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
4,103159690,2107,5:40.0,1,Atlanta trails 27-32,326,411,2nd quarter,miss,"2nd quarter, 5:40.0 remaining<br>Othello Hunte...",2009-04-14T19:00:00,200904141900MIAATL,9160b960fc02a54669d38b3c7cde6fbd18f86bcd,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
5,103159691,2107,2:48.0,1,Atlanta tied 32-32,276,413,2nd quarter,miss,"2nd quarter, 2:48.0 remaining<br>Othello Hunte...",2009-04-14T19:00:00,200904141900MIAATL,304c5d31455fe5ccfc5579486f5710c9cb1f5d93,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
6,103159692,2107,2:42.0,1,Atlanta now leads 34-32,240,420,2nd quarter,make,"2nd quarter, 2:42.0 remaining<br>Othello Hunte...",2009-04-14T19:00:00,200904141900MIAATL,fafd9ecb54d822ca928ca9f91b7be921f3520d2a,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
7,103159693,2107,7:48.0,1,Atlanta now leads 71-64,266,408,4th quarter,make,"4th quarter, 7:48.0 remaining<br>Othello Hunte...",2009-04-14T19:00:00,200904141900MIAATL,fc64ff99f461b67e4f437f6a067abd4347e7a30b,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
8,103159694,2107,6:27.0,1,Atlanta now leads 73-68,240,405,4th quarter,make,"4th quarter, 6:27.0 remaining<br>Othello Hunte...",2009-04-14T19:00:00,200904141900MIAATL,7f5ae552d0bd724f0547a1ce66f37cfebb3e6670,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
9,103159695,2107,3:54.0,1,Atlanta now leads 78-71,240,420,4th quarter,make,"4th quarter, 3:54.0 remaining<br>Othello Hunte...",2009-04-14T19:00:00,200904141900MIAATL,156e043a22f54997f43f5955ba2a4a0597ddeeb6,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
10,103159696,2107,2:07.0,1,Atlanta leads 21-16,241,379,1st quarter,miss,"1st quarter, 2:07.0 remaining<br>Othello Hunte...",2009-04-15T20:00:00,200904152000ATLMEM,15e2380daf7404a1fd6e0730ad56d86dcd16b8b5,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
11,103159697,2107,9:39.0,1,Atlanta now trails 25-26,240,420,2nd quarter,make,"2nd quarter, 9:39.0 remaining<br>Othello Hunte...",2009-04-15T20:00:00,200904152000ATLMEM,59676f4aba7c0300b6fbcdfd7664b658c7654fb6,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
12,103159698,2107,6:32.0,1,Atlanta now trails 31-33,433,422,2nd quarter,make,"2nd quarter, 6:32.0 remaining<br>Othello Hunte...",2009-04-15T20:00:00,200904152000ATLMEM,63f749d2a269f7f44f86ab24a30b3501752dcd09,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
13,103159699,2107,6:01.0,1,Atlanta now tied 33-33,240,420,2nd quarter,make,"2nd quarter, 6:01.0 remaining<br>Othello Hunte...",2009-04-15T20:00:00,200904152000ATLMEM,3cdc2039f13ee06372d0c889e5207ac6b0dfc400,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
14,103159700,2107,9:52.0,1,Atlanta trails 43-55,240,420,3rd quarter,miss,"3rd quarter, 9:52.0 remaining<br>Othello Hunte...",2009-04-15T20:00:00,200904152000ATLMEM,e2a571d43942d911c0b44e549c3d0156bc0c284e,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
15,103159701,2107,0:08.7,1,Atlanta now trails 69-72,240,420,3rd quarter,make,"3rd quarter, 0:08.7 remaining<br>Othello Hunte...",2009-04-15T20:00:00,200904152000ATLMEM,4b0291b259531c207b48991cdd8c85e4261d059f,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
16,103159702,2107,10:13.0,1,Atlanta leads 73-72,240,420,4th quarter,miss,"4th quarter, 10:13.0 remaining<br>Othello Hunt...",2009-04-15T20:00:00,200904152000ATLMEM,ba9b14313d5b1b8ee68fd2d9fb3ef2b0a1557e3a,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
17,103159703,2107,0:37.8,1,Atlanta now trails 78-107,240,420,4th quarter,make,"4th quarter, 0:37.8 remaining<br>Othello Hunte...",2009-04-25T18:30:00,200904251830ATLMIA,9670e674bd1f75052d33b3e05e1d0373d55a5104,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
18,103159704,2107,2:37.0,1,Atlanta now trails 80-95,240,425,4th quarter,make,"4th quarter, 2:37.0 remaining<br>Othello Hunte...",2009-05-07T20:00:00,200905072000ATLCLE,d7243571800cb376ace2c5ac30bde5a6fce6732b,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
19,103159705,2107,0:56.0,1,Atlanta trails 82-101,244,414,4th quarter,miss,"4th quarter, 0:56.0 remaining<br>Othello Hunte...",2009-05-07T20:00:00,200905072000ATLCLE,ea39c02abfcbcc162797b2020fb176d1e5d280b5,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
20,103159706,2107,1:02.0,1,Atlanta leads 109-88,337,398,4th quarter,miss,"4th quarter, 1:02.0 remaining<br>Othello Hunte...",2009-12-11T19:00:00,200912111900ATLTOR,230d8a1285656886fd6438d3f5912a589adbe855,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
21,103159707,2107,7:09.0,1,Atlanta leads 113-92,118,351,4th quarter,miss,"4th quarter, 7:09.0 remaining<br>Othello Hunte...",2009-12-13T17:00:00,200912131700NJNATL,d119a6dfbbc9172ec2dde72215cfd1ce03b5666c,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
22,103159708,2107,5:54.0,1,Atlanta leads 113-95,261,419,4th quarter,miss,"4th quarter, 5:54.0 remaining<br>Othello Hunte...",2009-12-13T17:00:00,200912131700NJNATL,1dd64c0e55ee66b42017595204977c338308e4ec,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
23,103159709,2107,5:41.0,1,Atlanta leads 113-95,227,406,4th quarter,miss,"4th quarter, 5:41.0 remaining<br>Othello Hunte...",2009-12-13T17:00:00,200912131700NJNATL,546c0fd255199897aaf2a72c8a8528423d8c3b23,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
24,103159710,2107,3:25.0,1,Atlanta now leads 123-99,240,420,4th quarter,make,"4th quarter, 3:25.0 remaining<br>Othello Hunte...",2009-12-13T17:00:00,200912131700NJNATL,7f860210cd592f2c966f397b969285448d27ef07,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
25,103159711,2107,1:16.0,1,Atlanta leads 129-104,206,414,4th quarter,miss,"4th quarter, 1:16.0 remaining<br>Othello Hunte...",2009-12-13T17:00:00,200912131700NJNATL,f45346aa2ba8fe3e06e3562eb3e7465053200b26,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
26,103159712,2107,5:42.0,1,Atlanta leads 93-78,221,422,4th quarter,miss,"4th quarter, 5:42.0 remaining<br>Othello Hunte...",2009-12-16T19:00:00,200912161900MEMATL,5cf15b01e09294c03c820b9da3f084a7821574f4,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
27,103159713,2107,4:02.0,1,Atlanta leads 97-82,240,420,4th quarter,miss,"4th quarter, 4:02.0 remaining<br>Othello Hunte...",2009-12-16T19:00:00,200912161900MEMATL,2a52ae86a73cb54ec9cd17666f96f8187d51134c,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
28,103159714,2107,2:58.0,1,Atlanta now leads 102-87,240,420,4th quarter,make,"4th quarter, 2:58.0 remaining<br>Othello Hunte...",2009-12-16T19:00:00,200912161900MEMATL,fe98b7875dc0d753389b06f5c530596e47fa9045,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
29,103159715,2107,2:37.0,1,Atlanta now leads 104-89,241,368,4th quarter,make,"4th quarter, 2:37.0 remaining<br>Othello Hunte...",2009-12-16T19:00:00,200912161900MEMATL,c3ab81ca7cb32d8407b83a745aa352cd9cc0373d,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
30,103159716,2107,3:17.0,1,Atlanta leads 91-73,268,400,4th quarter,miss,"4th quarter, 3:17.0 remaining<br>Othello Hunte...",2009-12-18T19:30:00,200912181930UTAATL,2cbe2e86c37983748fbf9c63634f5fd7a15b961b,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State
31,103159717,2107,1:15.0,1,Atlanta now leads 94-78,219,420,4th quarter,make,"4th quarter, 1:15.0 remaining<br>Othello Hunte...",2009-12-18T19:30:00,200912181930UTAATL,bd770f7d4462704e0a6c654a26197e59b26043b9,Othello Hunter,F,6-8,225,1986-05-28T00:00:00,Ohio State

# List Ports

In [61]:
import psutil
import re 
def list_ports_and_processes():
    for conn in psutil.net_connections(kind='inet'):
        if (conn.status == 'LISTEN' or conn.status == 'ESTABLISHED') and re.match(".*python.*", psutil.Process(conn.pid).name()):
            try:
                pid = conn.pid
                process = psutil.Process(pid)
                print(f"Port: {conn.laddr.port}, Status: {conn.status}, Process: {process.name()}, PID: {pid}")
            except:
                continue
def kill_process_by_pid(pid):
    try:
        process = psutil.Process(pid)
        process.terminate()
        print(f"Terminated process with PID: {pid}")
    except psutil.NoSuchProcess as e:
        print(f"Process with PID {pid} not found: {e}")

In [ ]:
list_ports_and_processes()