In [ ]:
import pandas as pd
import json
import requests
from pymongo import MongoClient
from bson.objectid import ObjectId
import os
from pprint import pprint
import datetime as dt

In [ ]:
with open('D:\\lianz\\Desktop\\Python\\personal_projects\\finance_dashboard\\mongodb_api.txt','r') as f:
    cluster = f.readlines()[0]
    
client = MongoClient(cluster)

# print(client.list_database_names())

db = client.FinanceApp
balance_sheet_collection = db.balance_sheet
income_collection = db.income_statement
cash_collection = db.cash_flow_statement
company_profile = db.company_profile
historical = db.historical
stock_split = db.stock_split

In [ ]:
arr = os.listdir(r"D:\\lianz\Desktop\\Python\\personal_projects\\personal_finance\\balance-sheet-statement")
len(arr)

In [248]:
with open('D:\\lianz\\Desktop\\Python\\personal_projects\\finance_dashboard\\fmp_api.txt','r') as f:
    fmp_api = f.readlines()[0]

with open('D:\\lianz\\Desktop\\Python\\personal_projects\\finance_dashboard\\alpha_vantage_api.txt','r') as f:
    alpha_vantage_api = f.readlines()[0]

In [ ]:
def select_profile(ticker, statement):
    r = requests.get(
        f"https://financialmodelingprep.com/api/v3/{statement}/{ticker}?apikey={fmp_api}")
    r = r.json()
    return r

In [ ]:
a_profile = select_profile('A','profile')

In [ ]:
a_profile[0]['symbol']

In [ ]:
company_profile.insert_one(a_profile[0])

In [ ]:
from pymongo import ASCENDING, DESCENDING

In [ ]:
a_data = [i for i in balance_sheet_collection.find({'symbol':'AAL'}).sort('date', DESCENDING)]

In [ ]:
a_data

In [ ]:
company_profile.delete_one({})

##### Define function to access elements of an entry in database
Use function to access individual elements of a document in a collection

In [ ]:
def access_entry(collection_name, entry_name, entry_value, return_value):
    data = collection_name.find({entry_name:entry_value})

    data = [i[return_value] for i in data]

    return data

##### Get list of tickers in database

In [ ]:
balance_list = list(set([i['symbol'] for i in balance_sheet_collection.find()]))
income_list = list(set([i['symbol'] for i in income_collection.find()]))
cash_list = list(set([i['symbol'] for i in cash_collection.find()]))
company_list = list(set([i['symbol'] for i in company_profile.find()]))
list_tickers = [balance_list, income_list, cash_list, company_list]
lengths = [len(i) for i in list_tickers]
missing_tickers = [i for i in list_tickers if len(i) == max(lengths)]

In [ ]:
profiles = [select_profile(i,'profile') for i in balance_list]

In [ ]:
downloaded = [i[0]['symbol'] for i in profiles if len(i)>0]

In [ ]:
def select_quote(ticker, statement):
    r = requests.get(
        f"https://financialmodelingprep.com/api/v3/{statement}/{ticker}?limit=120&apikey=eb29218df82acef0486b5c014ccec868")
    r = r.json()
    return r

##### Insert to database from API

In [ ]:
def insert_to_mongoDB(ticker):

    balance = select_quote(ticker, 'balance-sheet-statement')
    income = select_quote(ticker, 'income-statement')
    cash_flow = select_quote(ticker, 'cash-flow-statement')

    if len(balance) <= 1 or len(income) <= 1 or len(cash_flow) <= 1:
        pass
    else:
        for i in balance:
            i['index_id'] = f"{i['symbol']}_{i['date']}"
        for i in income:
            i['index_id'] = f"{i['symbol']}_{i['date']}"    
        for i in cash_flow:
            i['index_id'] = f"{i['symbol']}_{i['date']}"
        
        bal_ids = [i['index_id'] for i in balance if i['index_id'] not in access_entry(balance_sheet_collection,'symbol',i['symbol'],'index_id')]
        income_ids = [i['index_id'] for i in income if i['index_id'] not in access_entry(income_collection,'symbol',i['symbol'],'index_id')]
        cash_ids = [i['index_id'] for i in cash_flow if i['index_id'] not in access_entry(cash_collection,'symbol',i['symbol'],'index_id')]

        try:
            balance_sheet_collection.insert_many([i for i in balance if i['index_id'] in bal_ids])
            income_collection.insert_many([i for i in income if i['index_id'] in income_ids])
            cash_collection.insert_many([i for i in cash_flow if i['index_id'] in cash_ids])
        except:
            pass

##### Insert to database from API per collection

In [ ]:
def insert_to_mongoDB(collection, ticker, statement):

    statement = select_quote(ticker, statement)

    if len(statement) <= 1:
        pass
    else:
        for i in statement:
            i['index_id'] = f"{i['symbol']}_{i['date']}"
        
        ids = [i['index_id'] for i in statement if i['index_id'] not in access_entry(collection,'symbol',i['symbol'],'index_id')]

        try:
            collection.insert_many([i for i in statement if i['index_id'] in ids])
        except:
            print('statement already exists.')

In [ ]:
insert_to_mongoDB(balance_sheet_collection, 'AAL', 'balance-sheet-statement')
insert_to_mongoDB(cash_collection, 'AAL', 'cash-flow-statement')
insert_to_mongoDB(income_collection, 'AAL', 'income-statement')

In [ ]:
# balance_sheet_collection.create_index('index_id', unique=True)
# cash_collection.create_index('index_id', unique=True)
# income_collection.create_index('index_id', unique=True)
# company_profile.create_index('index_id', unique=True)
# historical.create_index('index_id', unique=True)
stock_split.create_index('index_id', unique=True)

##### Insert to database from local computer

In [ ]:
def insert_to_mongoDB(ticker):

    balance = f'D:\\lianz\\Desktop\\Python\\personal_projects\\personal_finance\\balance-sheet-statement\\{ticker}'
    income = f'D:\\lianz\\Desktop\\Python\\personal_projects\\personal_finance\\income-statement\\{ticker}'
    cash_flow = f'D:\\lianz\\Desktop\\Python\\personal_projects\\personal_finance\\cash-flow-statement\\{ticker}'

    with open(balance, 'r') as f:
        data_bal = json.load(f)
    with open(income, 'r') as f:
        data_income = json.load(f)
    with open(cash_flow, 'r') as f:
        data_cash = json.load(f)


    if len(data_bal) <= 1 or len(data_income) <= 1 or len(data_cash) <= 1:
        pass
    else:
        for i in data_bal:
            i['index_id'] = f"{i['symbol']}_{i['date']}"
        for i in data_income:
            i['index_id'] = f"{i['symbol']}_{i['date']}"    
        for i in data_cash:
            i['index_id'] = f"{i['symbol']}_{i['date']}"
        
        bal_ids = [i['index_id'] for i in data_bal if i['index_id'] not in access_entry(balance_sheet_collection,'symbol',i['symbol'],'index_id')]
        income_ids = [i['index_id'] for i in data_bal if i['index_id'] not in access_entry(income_collection,'symbol',i['symbol'],'index_id')]
        cash_ids = [i['index_id'] for i in data_bal if i['index_id'] not in access_entry(cash_collection,'symbol',i['symbol'],'index_id')]
        
        try:
            balance_sheet_collection.insert_many([i for i in data_bal if i['index_id'] in bal_ids])
            income_collection.insert_many([i for i in data_income if i['index_id'] in income_ids])
            cash_collection.insert_many([i for i in data_cash if i['index_id'] in cash_ids])
        except:
            pass

##### Upload all currently stored statements to cloud database

In [ ]:
for i in arr:
    insert_to_mongoDB(i)

In [ ]:
# The web framework gets post_id from the URL and passes it as a string
def get(post_id):
    # Convert from string to ObjectId:
    document = client.db.collection.find_one({'_id': ObjectId(post_id)})

##### Delete database entries (only run when needed)

In [ ]:
balance_sheet_collection.delete_many({'symbol':'AF'})
cash_collection.delete_many({'symbol':'AF'})
income_collection.delete_many({'symbol':'AF'})

In [ ]:
balance_sheet_collection.delete_many({'symbol':'AAL','calendarYear':'2021'})
cash_collection.delete_many({'symbol':'AAL','calendarYear':'2021'})
income_collection.delete_many({'symbol':'AAL','calendarYear':'2021'})

In [ ]:
A_2022 = balance_sheet_collection.find({'symbol':'A'})

In [ ]:
[i for i in A_2022]

In [ ]:
balance_sheet_collection.create_index("index_id", unique=True)

In [ ]:
with open('D:\lianz\Desktop\Python\personal_projects\\finance_dashboard\\fmp_api.txt','r') as f:
    fmp_api = f.readlines()[0]

In [ ]:
r = requests.get(
    f"https://financialmodelingprep.com/api/v3/historical-price-full/CVX?apikey={fmp_api}")

r = r.json()

In [ ]:
def access_entry(_collection_name, entry_name, entry_value, return_value):
    data = _collection_name.find({entry_name: entry_value})

    data = [i[return_value] for i in data]

    return data

In [ ]:
for i in r['historical']:    
    i['index_id'] = f"{r['symbol']}_{i['date']}"
    i['symbol'] = f"{r['symbol']}"

ids = [i['index_id'] for i in r['historical'] if i['index_id']
            not in access_entry(historical, 'symbol', 'AAPL', 'index_id')]
ids

In [ ]:
try:
    historical.insert_many([i for i in r['historical'] if i['index_id'] in ids])
    print(f"{r['symbol']} historical updated!")

except:
    print(f"{r['symbol']} historical already exists")

In [ ]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

df = pd.DataFrame.from_records([x for i,x in enumerate(r['historical'])], index='date')

fig = make_subplots(specs=[[{"secondary_y": True}]])
fig.add_trace(
    go.Scatter(
        x=df.index, y=df['adjClose'], mode="lines+markers", name=f"adjClose"),
    secondary_y=False,
)

fig.add_trace(
    go.Bar(
        x=df.index, y=df['volume'], marker=dict({'color': 'darkorange'}), texttemplate="%{value:,}", textposition="inside", name="Volume"),
    secondary_y=True,
)

In [ ]:
r['historical'][0].keys()

In [212]:
aapl_hist = pd.DataFrame.from_records([x for i,x in enumerate(historical.find({'symbol':'AAPL'}))], index='date').sort_index()

In [222]:
aapl_hist.loc[aapl_hist.index.date >= dt.date(2023,1,1)].index

DatetimeIndex(['2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-17', '2023-01-18', '2023-01-19',
               '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25',
               '2023-01-26', '2023-01-27', '2023-01-30', '2023-01-31',
               '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06',
               '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
               '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16',
               '2023-02-17', '2023-02-21', '2023-02-22', '2023-02-23',
               '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-07'],
              dtype='datetime64[ns]', name='date', freq=None)

In [ ]:
def download_stocksplit(ticker):
    r = requests.get(
        f"https://financialmodelingprep.com/api/v3/historical-price-full/stock_split/{ticker}?apikey={fmp_api}"
    )
    r = r.json()
    return r

In [ ]:
aapl_stocksplit = download_stocksplit('AAPL')

In [ ]:
for i in aapl_stocksplit['historical']:
    i['index_id'] = f"{aapl_stocksplit['symbol']}_{i['date']}"
    i['date'] = dt.datetime.strptime(i['date'], '%Y-%m-%d')

In [ ]:
pd.DataFrame.from_records(aapl_stocksplit['historical'], index='date')

In [ ]:
def stock_price_api(ticker):
    url = "https://alpha-vantage.p.rapidapi.com/query"
    headers = {"X-RapidAPI-Key": f"{alpha_vantage_api}",
               "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"}
    querystring = {"function":"TIME_SERIES_DAILY","symbol":f"{ticker}","outputsize":"full","datatype":"json"}
    response = requests.request("GET", url=url, headers=headers, params=querystring)
    return response.json()

In [ ]:
historical.delete_many({'symbol':'A'})

In [ ]:
file = stock_price_api('A')

In [ ]:
for i,x in file['Time Series (Daily)'].items():    
    x['index_id'] = f"{'A'}_{i}"
    x['symbol'] = f"{'A'}"
    x['date'] = i
historical.insert_many([x for i,x in file['Time Series (Daily)'].items()])

In [ ]:
# Update date from string to datetime format
historical.update_many({'date':{'$type':"string"}},[
    {
        '$set': {
            'date': {
                '$dateFromString': {
                    'dateString': '$date', 
                    'format': '%Y-%m-%d'
                }
            }
        }
    }
])

In [ ]:
list(set([i['index_id'] for i in historical.find()]))

In [254]:
# get CPI data
## interval=monthly and semiannual are accepted.
def get_cpi(interval):
    url = f'https://www.alphavantage.co/query?function=CPI&interval={interval}&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_cpi('semiannual'):
    pprint(i)

{'data': [{'date': '2022-07-01', 'value': '296.963'},
          {'date': '2022-01-01', 'value': '288.347'},
          {'date': '2021-07-01', 'value': '275.703'},
          {'date': '2021-01-01', 'value': '266.236'},
          {'date': '2020-07-01', 'value': '260.065'},
          {'date': '2020-01-01', 'value': '257.557'},
          {'date': '2019-07-01', 'value': '256.903'},
          {'date': '2019-01-01', 'value': '254.412'},
          {'date': '2018-07-01', 'value': '252.125'},
          {'date': '2018-01-01', 'value': '250.089'},
          {'date': '2017-07-01', 'value': '246.163'},
          {'date': '2017-01-01', 'value': '244.076'},
          {'date': '2016-07-01', 'value': '241.237'},
          {'date': '2016-01-01', 'value': '238.778'},
          {'date': '2015-07-01', 'value': '237.769'},
          {'date': '2015-01-01', 'value': '236.265'},
          {'date': '2014-07-01', 'value': '237.088'},
          {'date': '2014-01-01', 'value': '236.384'},
          {'date': '2013-07-01', 'value': '233.548'},
          {'date': '2013-01-01', 'value': '232.366'},
          {'date': '2012-07-01', 'value': '230.338'},
          {'date': '2012-01-01', 'value': '228.850'},
          {'date': '2011-07-01', 'value': '226.280'},
          {'date': '2011-01-01', 'value': '223.598'},
          {'date': '2010-07-01', 'value': '218.576'},
          {'date': '2010-01-01', 'value': '217.535'},
          {'date': '2009-07-01', 'value': '215.935'},
          {'date': '2009-01-01', 'value': '213.139'},
          {'date': '2008-07-01', 'value': '216.177'},
          {'date': '2008-01-01', 'value': '214.429'},
          {'date': '2007-07-01', 'value': '208.976'},
          {'date': '2007-01-01', 'value': '205.709'},
          {'date': '2006-07-01', 'value': '202.600'},
          {'date': '2006-01-01', 'value': '200.600'},
          {'date': '2005-07-01', 'value': '197.400'},
          {'date': '2005-01-01', 'value': '193.200'},
          {'date': '2004-07-01', 'value': '190.200'},
          {'date': '2004-01-01', 'value': '187.600'},
          {'date': '2003-07-01', 'value': '184.600'},
          {'date': '2003-01-01', 'value': '183.300'},
          {'date': '2002-07-01', 'value': '180.900'},
          {'date': '2002-01-01', 'value': '178.900'},
          {'date': '2001-07-01', 'value': '177.500'},
          {'date': '2001-01-01', 'value': '176.600'},
          {'date': '2000-07-01', 'value': '173.600'},
          {'date': '2000-01-01', 'value': '170.800'},
          {'date': '1999-07-01', 'value': '167.800'},
          {'date': '1999-01-01', 'value': '165.400'},
          {'date': '1998-07-01', 'value': '163.700'},
          {'date': '1998-01-01', 'value': '162.300'},
          {'date': '1997-07-01', 'value': '161.200'},
          {'date': '1997-01-01', 'value': '159.900'},
          {'date': '1996-07-01', 'value': '157.900'},
          {'date': '1996-01-01', 'value': '155.800'},
          {'date': '1995-07-01', 'value': '153.200'},
          {'date': '1995-01-01', 'value': '151.500'},
          {'date': '1994-07-01', 'value': '149.300'},
          {'date': '1994-01-01', 'value': '147.200'},
          {'date': '1993-07-01', 'value': '145.300'},
          {'date': '1993-01-01', 'value': '143.700'},
          {'date': '1992-07-01', 'value': '141.400'},
          {'date': '1992-01-01', 'value': '139.200'},
          {'date': '1991-07-01', 'value': '137.200'},
          {'date': '1991-01-01', 'value': '135.200'},
          {'date': '1990-07-01', 'value': '132.600'},
          {'date': '1990-01-01', 'value': '128.700'},
          {'date': '1989-07-01', 'value': '125.300'},
          {'date': '1989-01-01', 'value': '122.700'},
          {'date': '1988-07-01', 'value': '119.700'},
          {'date': '1988-01-01', 'value': '116.800'},
          {'date': '1987-07-01', 'value': '114.900'},
          {'date': '1987-01-01', 'value': '112.400'},
          {'date': '1986-07-01', 'value': '110.100'},
          {'date': '1986-01-01', 'value': '109.100'},
          {'date': '1985-07-01', 'value': '108.500'},
          {'date': '1985-01-01', 'value': '106.600'},
          {'date': '1984-07-01', 'value': '104.900'},
          {'date': '1984-01-01', 'value': '102.900'}],
 'interval': 'semiannual',
 'name': 'Consumer Price Index for all Urban Consumers',
 'unit': 'index 1982-1984=100'}

In [253]:
# get real GDP data
## interval=quarterly and annual are accepted.
def get_GDP(interval):
    url = f'https://www.alphavantage.co/query?function=REAL_GDP&interval={interval}&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_GDP('annual'):
    pprint(i)

{'data': [{'date': '2022-01-01', 'value': '20015.379'},
          {'date': '2021-01-01', 'value': '19609.812'},
          {'date': '2020-01-01', 'value': '18509.143'},
          {'date': '2019-01-01', 'value': '19036.052'},
          {'date': '2018-01-01', 'value': '18609.078'},
          {'date': '2017-01-01', 'value': '18076.651'},
          {'date': '2016-01-01', 'value': '17680.274'},
          {'date': '2015-01-01', 'value': '17390.295'},
          {'date': '2014-01-01', 'value': '16932.051'},
          {'date': '2013-01-01', 'value': '16553.348'},
          {'date': '2012-01-01', 'value': '16253.97'},
          {'date': '2011-01-01', 'value': '15891.534'},
          {'date': '2010-01-01', 'value': '15648.991'},
          {'date': '2009-01-01', 'value': '15236.262'},
          {'date': '2008-01-01', 'value': '15642.962'},
          {'date': '2007-01-01', 'value': '15623.871'},
          {'date': '2006-01-01', 'value': '15315.943'},
          {'date': '2005-01-01', 'value': '14901.269'},
          {'date': '2004-01-01', 'value': '14399.696'},
          {'date': '2003-01-01', 'value': '13865.519'},
          {'date': '2002-01-01', 'value': '13488.357'},
          {'date': '2001-01-01', 'value': '13263.417'},
          {'date': '2000-01-01', 'value': '13138.035'},
          {'date': '1999-01-01', 'value': '12623.361'},
          {'date': '1998-01-01', 'value': '12045.824'},
          {'date': '1997-01-01', 'value': '11529.157'},
          {'date': '1996-01-01', 'value': '11038.266'},
          {'date': '1995-01-01', 'value': '10636.979'},
          {'date': '1994-01-01', 'value': '10358.923'},
          {'date': '1993-01-01', 'value': '9957.746'},
          {'date': '1992-01-01', 'value': '9691.069'},
          {'date': '1991-01-01', 'value': '9361.322'},
          {'date': '1990-01-01', 'value': '9371.468'},
          {'date': '1989-01-01', 'value': '9197.997'},
          {'date': '1988-01-01', 'value': '8872.154'},
          {'date': '1987-01-01', 'value': '8516.418'},
          {'date': '1986-01-01', 'value': '8231.664'},
          {'date': '1985-01-01', 'value': '7956.17'},
          {'date': '1984-01-01', 'value': '7637.704'},
          {'date': '1983-01-01', 'value': '7122.29'},
          {'date': '1982-01-01', 'value': '6810.12'},
          {'date': '1981-01-01', 'value': '6935.153'},
          {'date': '1980-01-01', 'value': '6763.514'},
          {'date': '1979-01-01', 'value': '6780.924'},
          {'date': '1978-01-01', 'value': '6572.819'},
          {'date': '1977-01-01', 'value': '6228.076'},
          {'date': '1976-01-01', 'value': '5952.809'},
          {'date': '1975-01-01', 'value': '5648.462'},
          {'date': '1974-01-01', 'value': '5660.091'},
          {'date': '1973-01-01', 'value': '5690.853'},
          {'date': '1972-01-01', 'value': '5386.733'},
          {'date': '1971-01-01', 'value': '5117.603'},
          {'date': '1970-01-01', 'value': '4954.436'},
          {'date': '1969-01-01', 'value': '4945.235'},
          {'date': '1968-01-01', 'value': '4795.387'},
          {'date': '1967-01-01', 'value': '4570.709'},
          {'date': '1966-01-01', 'value': '4448.703'},
          {'date': '1965-01-01', 'value': '4173.424'},
          {'date': '1964-01-01', 'value': '3918.791'},
          {'date': '1963-01-01', 'value': '3705.318'},
          {'date': '1962-01-01', 'value': '3550.684'},
          {'date': '1961-01-01', 'value': '3345.69'},
          {'date': '1960-01-01', 'value': '3262.061'},
          {'date': '1959-01-01', 'value': '3180.22'},
          {'date': '1958-01-01', 'value': '2973.982'},
          {'date': '1957-01-01', 'value': '2996.178'},
          {'date': '1956-01-01', 'value': '2934.391'},
          {'date': '1955-01-01', 'value': '2873.16'},
          {'date': '1954-01-01', 'value': '2681.854'},
          {'date': '1953-01-01', 'value': '2697.456'},
          {'date': '1952-01-01', 'value': '2576.658'},
          {'date': '1951-01-01', 'value': '2475.449'},
          {'date': '1950-01-01', 'value': '2291.111'},
          {'date': '1949-01-01', 'value': '2107.999'},
          {'date': '1948-01-01', 'value': '2119.959'},
          {'date': '1947-01-01', 'value': '2036.204'},
          {'date': '1946-01-01', 'value': '2059.782'},
          {'date': '1945-01-01', 'value': '2330.217'},
          {'date': '1944-01-01', 'value': '2353.234'},
          {'date': '1943-01-01', 'value': '2179.879'},
          {'date': '1942-01-01', 'value': '1862.772'},
          {'date': '1941-01-01', 'value': '1566.848'},
          {'date': '1940-01-01', 'value': '1331.06'},
          {'date': '1939-01-01', 'value': '1223.21'},
          {'date': '1938-01-01', 'value': '1132.338'},
          {'date': '1937-01-01', 'value': '1171.144'},
          {'date': '1936-01-01', 'value': '1114.052'},
          {'date': '1935-01-01', 'value': '986.905'},
          {'date': '1934-01-01', 'value': '906.213'},
          {'date': '1933-01-01', 'value': '817.824'},
          {'date': '1932-01-01', 'value': '828.061'},
          {'date': '1931-01-01', 'value': '950.686'},
          {'date': '1930-01-01', 'value': '1015.751'},
          {'date': '1929-01-01', 'value': '1110.206'}],
 'interval': 'annual',
 'name': 'Real Gross Domestic Product',
 'unit': 'billions of dollars'}

In [255]:
# get treasury yield
## interval=daily, weekly, and monthly are accepted
## maturity=3month, 2year, 5year, 7year, 10year, and 30year are accepted
def get_treasury(interval, maturity):
    url = f'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval={interval}&maturity={maturity}&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_treasury('monthly','2year'):
    pprint(i)

{'data': [{'date': '2023-02-01', 'value': '4.53'},
          {'date': '2023-01-01', 'value': '4.21'},
          {'date': '2022-12-01', 'value': '4.29'},
          {'date': '2022-11-01', 'value': '4.50'},
          {'date': '2022-10-01', 'value': '4.38'},
          {'date': '2022-09-01', 'value': '3.86'},
          {'date': '2022-08-01', 'value': '3.25'},
          {'date': '2022-07-01', 'value': '3.04'},
          {'date': '2022-06-01', 'value': '3.00'},
          {'date': '2022-05-01', 'value': '2.62'},
          {'date': '2022-04-01', 'value': '2.54'},
          {'date': '2022-03-01', 'value': '1.91'},
          {'date': '2022-02-01', 'value': '1.44'},
          {'date': '2022-01-01', 'value': '0.98'},
          {'date': '2021-12-01', 'value': '0.68'},
          {'date': '2021-11-01', 'value': '0.51'},
          {'date': '2021-10-01', 'value': '0.39'},
          {'date': '2021-09-01', 'value': '0.24'},
          {'date': '2021-08-01', 'value': '0.22'},
          {'date': '2021-07-01', 'value': '0.22'},
          {'date': '2021-06-01', 'value': '0.20'},
          {'date': '2021-05-01', 'value': '0.16'},
          {'date': '2021-04-01', 'value': '0.16'},
          {'date': '2021-03-01', 'value': '0.15'},
          {'date': '2021-02-01', 'value': '0.12'},
          {'date': '2021-01-01', 'value': '0.13'},
          {'date': '2020-12-01', 'value': '0.14'},
          {'date': '2020-11-01', 'value': '0.17'},
          {'date': '2020-10-01', 'value': '0.15'},
          {'date': '2020-09-01', 'value': '0.13'},
          {'date': '2020-08-01', 'value': '0.14'},
          {'date': '2020-07-01', 'value': '0.15'},
          {'date': '2020-06-01', 'value': '0.19'},
          {'date': '2020-05-01', 'value': '0.17'},
          {'date': '2020-04-01', 'value': '0.22'},
          {'date': '2020-03-01', 'value': '0.45'},
          {'date': '2020-02-01', 'value': '1.33'},
          {'date': '2020-01-01', 'value': '1.52'},
          {'date': '2019-12-01', 'value': '1.61'},
          {'date': '2019-11-01', 'value': '1.61'},
          {'date': '2019-10-01', 'value': '1.55'},
          {'date': '2019-09-01', 'value': '1.65'},
          {'date': '2019-08-01', 'value': '1.57'},
          {'date': '2019-07-01', 'value': '1.84'},
          {'date': '2019-06-01', 'value': '1.81'},
          {'date': '2019-05-01', 'value': '2.21'},
          {'date': '2019-04-01', 'value': '2.34'},
          {'date': '2019-03-01', 'value': '2.41'},
          {'date': '2019-02-01', 'value': '2.50'},
          {'date': '2019-01-01', 'value': '2.54'},
          {'date': '2018-12-01', 'value': '2.68'},
          {'date': '2018-11-01', 'value': '2.86'},
          {'date': '2018-10-01', 'value': '2.86'},
          {'date': '2018-09-01', 'value': '2.77'},
          {'date': '2018-08-01', 'value': '2.64'},
          {'date': '2018-07-01', 'value': '2.61'},
          {'date': '2018-06-01', 'value': '2.53'},
          {'date': '2018-05-01', 'value': '2.51'},
          {'date': '2018-04-01', 'value': '2.38'},
          {'date': '2018-03-01', 'value': '2.28'},
          {'date': '2018-02-01', 'value': '2.18'},
          {'date': '2018-01-01', 'value': '2.03'},
          {'date': '2017-12-01', 'value': '1.84'},
          {'date': '2017-11-01', 'value': '1.70'},
          {'date': '2017-10-01', 'value': '1.55'},
          {'date': '2017-09-01', 'value': '1.38'},
          {'date': '2017-08-01', 'value': '1.34'},
          {'date': '2017-07-01', 'value': '1.37'},
          {'date': '2017-06-01', 'value': '1.34'},
          {'date': '2017-05-01', 'value': '1.30'},
          {'date': '2017-04-01', 'value': '1.24'},
          {'date': '2017-03-01', 'value': '1.31'},
          {'date': '2017-02-01', 'value': '1.20'},
          {'date': '2017-01-01', 'value': '1.21'},
          {'date': '2016-12-01', 'value': '1.20'},
          {'date': '2016-11-01', 'value': '0.98'},
          {'date': '2016-10-01', 'value': '0.84'},
          {'date': '2016-09-01', 'value': '0.77'},
          {'date': '2016-08-01', 'value': '0.74'},
          {'date': '2016-07-01', 'value': '0.67'},
          {'date': '2016-06-01', 'value': '0.73'},
          {'date': '2016-05-01', 'value': '0.82'},
          {'date': '2016-04-01', 'value': '0.77'},
          {'date': '2016-03-01', 'value': '0.88'},
          {'date': '2016-02-01', 'value': '0.73'},
          {'date': '2016-01-01', 'value': '0.90'},
          {'date': '2015-12-01', 'value': '0.98'},
          {'date': '2015-11-01', 'value': '0.88'},
          {'date': '2015-10-01', 'value': '0.64'},
          {'date': '2015-09-01', 'value': '0.71'},
          {'date': '2015-08-01', 'value': '0.70'},
          {'date': '2015-07-01', 'value': '0.67'},
          {'date': '2015-06-01', 'value': '0.69'},
          {'date': '2015-05-01', 'value': '0.61'},
          {'date': '2015-04-01', 'value': '0.54'},
          {'date': '2015-03-01', 'value': '0.64'},
          {'date': '2015-02-01', 'value': '0.62'},
          {'date': '2015-01-01', 'value': '0.55'},
          {'date': '2014-12-01', 'value': '0.64'},
          {'date': '2014-11-01', 'value': '0.53'},
          {'date': '2014-10-01', 'value': '0.45'},
          {'date': '2014-09-01', 'value': '0.57'},
          {'date': '2014-08-01', 'value': '0.47'},
          {'date': '2014-07-01', 'value': '0.51'},
          {'date': '2014-06-01', 'value': '0.45'},
          {'date': '2014-05-01', 'value': '0.39'},
          {'date': '2014-04-01', 'value': '0.42'},
          {'date': '2014-03-01', 'value': '0.40'},
          {'date': '2014-02-01', 'value': '0.33'},
          {'date': '2014-01-01', 'value': '0.39'},
          {'date': '2013-12-01', 'value': '0.34'},
          {'date': '2013-11-01', 'value': '0.30'},
          {'date': '2013-10-01', 'value': '0.34'},
          {'date': '2013-09-01', 'value': '0.40'},
          {'date': '2013-08-01', 'value': '0.36'},
          {'date': '2013-07-01', 'value': '0.34'},
          {'date': '2013-06-01', 'value': '0.33'},
          {'date': '2013-05-01', 'value': '0.25'},
          {'date': '2013-04-01', 'value': '0.23'},
          {'date': '2013-03-01', 'value': '0.26'},
          {'date': '2013-02-01', 'value': '0.27'},
          {'date': '2013-01-01', 'value': '0.27'},
          {'date': '2012-12-01', 'value': '0.26'},
          {'date': '2012-11-01', 'value': '0.27'},
          {'date': '2012-10-01', 'value': '0.28'},
          {'date': '2012-09-01', 'value': '0.26'},
          {'date': '2012-08-01', 'value': '0.27'},
          {'date': '2012-07-01', 'value': '0.25'},
          {'date': '2012-06-01', 'value': '0.29'},
          {'date': '2012-05-01', 'value': '0.29'},
          {'date': '2012-04-01', 'value': '0.29'},
          {'date': '2012-03-01', 'value': '0.34'},
          {'date': '2012-02-01', 'value': '0.28'},
          {'date': '2012-01-01', 'value': '0.24'},
          {'date': '2011-12-01', 'value': '0.26'},
          {'date': '2011-11-01', 'value': '0.25'},
          {'date': '2011-10-01', 'value': '0.28'},
          {'date': '2011-09-01', 'value': '0.21'},
          {'date': '2011-08-01', 'value': '0.23'},
          {'date': '2011-07-01', 'value': '0.41'},
          {'date': '2011-06-01', 'value': '0.41'},
          {'date': '2011-05-01', 'value': '0.56'},
          {'date': '2011-04-01', 'value': '0.73'},
          {'date': '2011-03-01', 'value': '0.70'},
          {'date': '2011-02-01', 'value': '0.77'},
          {'date': '2011-01-01', 'value': '0.61'},
          {'date': '2010-12-01', 'value': '0.62'},
          {'date': '2010-11-01', 'value': '0.45'},
          {'date': '2010-10-01', 'value': '0.38'},
          {'date': '2010-09-01', 'value': '0.48'},
          {'date': '2010-08-01', 'value': '0.52'},
          {'date': '2010-07-01', 'value': '0.62'},
          {'date': '2010-06-01', 'value': '0.72'},
          {'date': '2010-05-01', 'value': '0.83'},
          {'date': '2010-04-01', 'value': '1.06'},
          {'date': '2010-03-01', 'value': '0.96'},
          {'date': '2010-02-01', 'value': '0.86'},
          {'date': '2010-01-01', 'value': '0.93'},
          {'date': '2009-12-01', 'value': '0.87'},
          {'date': '2009-11-01', 'value': '0.80'},
          {'date': '2009-10-01', 'value': '0.95'},
          {'date': '2009-09-01', 'value': '0.96'},
          {'date': '2009-08-01', 'value': '1.12'},
          {'date': '2009-07-01', 'value': '1.02'},
          {'date': '2009-06-01', 'value': '1.18'},
          {'date': '2009-05-01', 'value': '0.93'},
          {'date': '2009-04-01', 'value': '0.93'},
          {'date': '2009-03-01', 'value': '0.93'},
          {'date': '2009-02-01', 'value': '0.98'},
          {'date': '2009-01-01', 'value': '0.81'},
          {'date': '2008-12-01', 'value': '0.82'},
          {'date': '2008-11-01', 'value': '1.21'},
          {'date': '2008-10-01', 'value': '1.61'},
          {'date': '2008-09-01', 'value': '2.08'},
          {'date': '2008-08-01', 'value': '2.42'},
          {'date': '2008-07-01', 'value': '2.57'},
          {'date': '2008-06-01', 'value': '2.77'},
          {'date': '2008-05-01', 'value': '2.45'},
          {'date': '2008-04-01', 'value': '2.05'},
          {'date': '2008-03-01', 'value': '1.62'},
          {'date': '2008-02-01', 'value': '1.97'},
          {'date': '2008-01-01', 'value': '2.48'},
          {'date': '2007-12-01', 'value': '3.12'},
          {'date': '2007-11-01', 'value': '3.34'},
          {'date': '2007-10-01', 'value': '3.97'},
          {'date': '2007-09-01', 'value': '4.01'},
          {'date': '2007-08-01', 'value': '4.31'},
          {'date': '2007-07-01', 'value': '4.82'},
          {'date': '2007-06-01', 'value': '4.98'},
          {'date': '2007-05-01', 'value': '4.77'},
          {'date': '2007-04-01', 'value': '4.67'},
          {'date': '2007-03-01', 'value': '4.57'},
          {'date': '2007-02-01', 'value': '4.85'},
          {'date': '2007-01-01', 'value': '4.88'},
          {'date': '2006-12-01', 'value': '4.67'},
          {'date': '2006-11-01', 'value': '4.74'},
          {'date': '2006-10-01', 'value': '4.80'},
          {'date': '2006-09-01', 'value': '4.77'},
          {'date': '2006-08-01', 'value': '4.90'},
          {'date': '2006-07-01', 'value': '5.12'},
          {'date': '2006-06-01', 'value': '5.12'},
          {'date': '2006-05-01', 'value': '4.97'},
          {'date': '2006-04-01', 'value': '4.89'},
          {'date': '2006-03-01', 'value': '4.73'},
          {'date': '2006-02-01', 'value': '4.67'},
          {'date': '2006-01-01', 'value': '4.40'},
          {'date': '2005-12-01', 'value': '4.40'},
          {'date': '2005-11-01', 'value': '4.42'},
          {'date': '2005-10-01', 'value': '4.27'},
          {'date': '2005-09-01', 'value': '3.95'},
          {'date': '2005-08-01', 'value': '4.04'},
          {'date': '2005-07-01', 'value': '3.87'},
          {'date': '2005-06-01', 'value': '3.64'},
          {'date': '2005-05-01', 'value': '3.64'},
          {'date': '2005-04-01', 'value': '3.65'},
          {'date': '2005-03-01', 'value': '3.73'},
          {'date': '2005-02-01', 'value': '3.38'},
          {'date': '2005-01-01', 'value': '3.22'},
          {'date': '2004-12-01', 'value': '3.01'},
          {'date': '2004-11-01', 'value': '2.85'},
          {'date': '2004-10-01', 'value': '2.58'},
          {'date': '2004-09-01', 'value': '2.53'},
          {'date': '2004-08-01', 'value': '2.51'},
          {'date': '2004-07-01', 'value': '2.64'},
          {'date': '2004-06-01', 'value': '2.76'},
          {'date': '2004-05-01', 'value': '2.53'},
          {'date': '2004-04-01', 'value': '2.07'},
          {'date': '2004-03-01', 'value': '1.58'},
          {'date': '2004-02-01', 'value': '1.74'},
          {'date': '2004-01-01', 'value': '1.76'},
          {'date': '2003-12-01', 'value': '1.91'},
          {'date': '2003-11-01', 'value': '1.93'},
          {'date': '2003-10-01', 'value': '1.75'},
          {'date': '2003-09-01', 'value': '1.71'},
          {'date': '2003-08-01', 'value': '1.86'},
          {'date': '2003-07-01', 'value': '1.47'},
          {'date': '2003-06-01', 'value': '1.23'},
          {'date': '2003-05-01', 'value': '1.42'},
          {'date': '2003-04-01', 'value': '1.62'},
          {'date': '2003-03-01', 'value': '1.57'},
          {'date': '2003-02-01', 'value': '1.63'},
          {'date': '2003-01-01', 'value': '1.74'},
          {'date': '2002-12-01', 'value': '1.84'},
          {'date': '2002-11-01', 'value': '1.92'},
          {'date': '2002-10-01', 'value': '1.91'},
          {'date': '2002-09-01', 'value': '2.00'},
          {'date': '2002-08-01', 'value': '2.13'},
          {'date': '2002-07-01', 'value': '2.56'},
          {'date': '2002-06-01', 'value': '2.99'},
          {'date': '2002-05-01', 'value': '3.26'},
          {'date': '2002-04-01', 'value': '3.42'},
          {'date': '2002-03-01', 'value': '3.56'},
          {'date': '2002-02-01', 'value': '3.02'},
          {'date': '2002-01-01', 'value': '3.03'},
          {'date': '2001-12-01', 'value': '3.11'},
          {'date': '2001-11-01', 'value': '2.78'},
          {'date': '2001-10-01', 'value': '2.73'},
          {'date': '2001-09-01', 'value': '3.12'},
          {'date': '2001-08-01', 'value': '3.76'},
          {'date': '2001-07-01', 'value': '4.04'},
          {'date': '2001-06-01', 'value': '4.08'},
          {'date': '2001-05-01', 'value': '4.26'},
          {'date': '2001-04-01', 'value': '4.23'},
          {'date': '2001-03-01', 'value': '4.34'},
          {'date': '2001-02-01', 'value': '4.66'},
          {'date': '2001-01-01', 'value': '4.76'},
          {'date': '2000-12-01', 'value': '5.35'},
          {'date': '2000-11-01', 'value': '5.88'},
          {'date': '2000-10-01', 'value': '5.91'},
          {'date': '2000-09-01', 'value': '6.08'},
          {'date': '2000-08-01', 'value': '6.23'},
          {'date': '2000-07-01', 'value': '6.34'},
          {'date': '2000-06-01', 'value': '6.48'},
          {'date': '2000-05-01', 'value': '6.81'},
          {'date': '2000-04-01', 'value': '6.40'},
          {'date': '2000-03-01', 'value': '6.53'},
          {'date': '2000-02-01', 'value': '6.61'},
          {'date': '2000-01-01', 'value': '6.44'},
          {'date': '1999-12-01', 'value': '6.10'},
          {'date': '1999-11-01', 'value': '5.86'},
          {'date': '1999-10-01', 'value': '5.86'},
          {'date': '1999-09-01', 'value': '5.66'},
          {'date': '1999-08-01', 'value': '5.68'},
          {'date': '1999-07-01', 'value': '5.55'},
          {'date': '1999-06-01', 'value': '5.62'},
          {'date': '1999-05-01', 'value': '5.25'},
          {'date': '1999-04-01', 'value': '4.98'},
          {'date': '1999-03-01', 'value': '5.05'},
          {'date': '1999-02-01', 'value': '4.88'},
          {'date': '1999-01-01', 'value': '4.62'},
          {'date': '1998-12-01', 'value': '4.51'},
          {'date': '1998-11-01', 'value': '4.54'},
          {'date': '1998-10-01', 'value': '4.09'},
          {'date': '1998-09-01', 'value': '4.67'},
          {'date': '1998-08-01', 'value': '5.27'},
          {'date': '1998-07-01', 'value': '5.46'},
          {'date': '1998-06-01', 'value': '5.52'},
          {'date': '1998-05-01', 'value': '5.59'},
          {'date': '1998-04-01', 'value': '5.56'},
          {'date': '1998-03-01', 'value': '5.56'},
          {'date': '1998-02-01', 'value': '5.42'},
          {'date': '1998-01-01', 'value': '5.36'},
          {'date': '1997-12-01', 'value': '5.72'},
          {'date': '1997-11-01', 'value': '5.71'},
          {'date': '1997-10-01', 'value': '5.77'},
          {'date': '1997-09-01', 'value': '5.88'},
          {'date': '1997-08-01', 'value': '5.94'},
          {'date': '1997-07-01', 'value': '5.89'},
          {'date': '1997-06-01', 'value': '6.09'},
          {'date': '1997-05-01', 'value': '6.28'},
          {'date': '1997-04-01', 'value': '6.45'},
          {'date': '1997-03-01', 'value': '6.22'},
          {'date': '1997-02-01', 'value': '5.90'},
          {'date': '1997-01-01', 'value': '6.01'},
          {'date': '1996-12-01', 'value': '5.78'},
          {'date': '1996-11-01', 'value': '5.70'},
          {'date': '1996-10-01', 'value': '5.91'},
          {'date': '1996-09-01', 'value': '6.23'},
          {'date': '1996-08-01', 'value': '6.03'},
          {'date': '1996-07-01', 'value': '6.27'},
          {'date': '1996-06-01', 'value': '6.30'},
          {'date': '1996-05-01', 'value': '6.10'},
          {'date': '1996-04-01', 'value': '5.96'},
          {'date': '1996-03-01', 'value': '5.66'},
          {'date': '1996-02-01', 'value': '5.03'},
          {'date': '1996-01-01', 'value': '5.11'},
          {'date': '1995-12-01', 'value': '5.32'},
          {'date': '1995-11-01', 'value': '5.48'},
          {'date': '1995-10-01', 'value': '5.70'},
          {'date': '1995-09-01', 'value': '5.81'},
          {'date': '1995-08-01', 'value': '5.98'},
          {'date': '1995-07-01', 'value': '5.78'},
          {'date': '1995-06-01', 'value': '5.72'},
          {'date': '1995-05-01', 'value': '6.17'},
          {'date': '1995-04-01', 'value': '6.57'},
          {'date': '1995-03-01', 'value': '6.78'},
          {'date': '1995-02-01', 'value': '7.11'},
          {'date': '1995-01-01', 'value': '7.51'},
          {'date': '1994-12-01', 'value': '7.59'},
          {'date': '1994-11-01', 'value': '7.15'},
          {'date': '1994-10-01', 'value': '6.73'},
          {'date': '1994-09-01', 'value': '6.39'},
          {'date': '1994-08-01', 'value': '6.18'},
          {'date': '1994-07-01', 'value': '6.13'},
          {'date': '1994-06-01', 'value': '5.93'},
          {'date': '1994-05-01', 'value': '5.97'},
          {'date': '1994-04-01', 'value': '5.55'},
          {'date': '1994-03-01', 'value': '5.00'},
          {'date': '1994-02-01', 'value': '4.47'},
          {'date': '1994-01-01', 'value': '4.14'},
          {'date': '1993-12-01', 'value': '4.21'},
          {'date': '1993-11-01', 'value': '4.16'},
          {'date': '1993-10-01', 'value': '3.87'},
          {'date': '1993-09-01', 'value': '3.85'},
          {'date': '1993-08-01', 'value': '4.00'},
          {'date': '1993-07-01', 'value': '4.07'},
          {'date': '1993-06-01', 'value': '4.16'},
          {'date': '1993-05-01', 'value': '3.98'},
          {'date': '1993-04-01', 'value': '3.84'},
          {'date': '1993-03-01', 'value': '3.95'},
          {'date': '1993-02-01', 'value': '4.10'},
          {'date': '1993-01-01', 'value': '4.39'},
          {'date': '1992-12-01', 'value': '4.67'},
          {'date': '1992-11-01', 'value': '4.58'},
          {'date': '1992-10-01', 'value': '4.08'},
          {'date': '1992-09-01', 'value': '3.89'},
          {'date': '1992-08-01', 'value': '4.19'},
          {'date': '1992-07-01', 'value': '4.36'},
          {'date': '1992-06-01', 'value': '5.05'},
          {'date': '1992-05-01', 'value': '5.23'},
          {'date': '1992-04-01', 'value': '5.34'},
          {'date': '1992-03-01', 'value': '5.69'},
          {'date': '1992-02-01', 'value': '5.21'},
          {'date': '1992-01-01', 'value': '4.96'},
          {'date': '1991-12-01', 'value': '5.03'},
          {'date': '1991-11-01', 'value': '5.56'},
          {'date': '1991-10-01', 'value': '5.91'},
          {'date': '1991-09-01', 'value': '6.18'},
          {'date': '1991-08-01', 'value': '6.43'},
          {'date': '1991-07-01', 'value': '6.92'},
          {'date': '1991-06-01', 'value': '6.96'},
          {'date': '1991-05-01', 'value': '6.78'},
          {'date': '1991-04-01', 'value': '6.95'},
          {'date': '1991-03-01', 'value': '7.10'},
          {'date': '1991-02-01', 'value': '6.87'},
          {'date': '1991-01-01', 'value': '7.13'},
          {'date': '1990-12-01', 'value': '7.31'},
          {'date': '1990-11-01', 'value': '7.60'},
          {'date': '1990-10-01', 'value': '7.88'},
          {'date': '1990-09-01', 'value': '8.08'},
          {'date': '1990-08-01', 'value': '8.06'},
          {'date': '1990-07-01', 'value': '8.16'},

In [252]:
# get federal funds rate
## interval=daily, weekly, and monthly are accepted.
def get_fed_rate(interval):
    url = f'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval={interval}&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_fed_rate('monthly'):
    pprint(i)

{'data': [{'date': '2023-02-01', 'value': '4.57'},
          {'date': '2023-01-01', 'value': '4.33'},
          {'date': '2022-12-01', 'value': '4.10'},
          {'date': '2022-11-01', 'value': '3.78'},
          {'date': '2022-10-01', 'value': '3.08'},
          {'date': '2022-09-01', 'value': '2.56'},
          {'date': '2022-08-01', 'value': '2.33'},
          {'date': '2022-07-01', 'value': '1.68'},
          {'date': '2022-06-01', 'value': '1.21'},
          {'date': '2022-05-01', 'value': '0.77'},
          {'date': '2022-04-01', 'value': '0.33'},
          {'date': '2022-03-01', 'value': '0.20'},
          {'date': '2022-02-01', 'value': '0.08'},
          {'date': '2022-01-01', 'value': '0.08'},
          {'date': '2021-12-01', 'value': '0.08'},
          {'date': '2021-11-01', 'value': '0.08'},
          {'date': '2021-10-01', 'value': '0.08'},
          {'date': '2021-09-01', 'value': '0.08'},
          {'date': '2021-08-01', 'value': '0.09'},
          {'date': '2021-07-01', 'value': '0.10'},
          {'date': '2021-06-01', 'value': '0.08'},
          {'date': '2021-05-01', 'value': '0.06'},
          {'date': '2021-04-01', 'value': '0.07'},
          {'date': '2021-03-01', 'value': '0.07'},
          {'date': '2021-02-01', 'value': '0.08'},
          {'date': '2021-01-01', 'value': '0.09'},
          {'date': '2020-12-01', 'value': '0.09'},
          {'date': '2020-11-01', 'value': '0.09'},
          {'date': '2020-10-01', 'value': '0.09'},
          {'date': '2020-09-01', 'value': '0.09'},
          {'date': '2020-08-01', 'value': '0.10'},
          {'date': '2020-07-01', 'value': '0.09'},
          {'date': '2020-06-01', 'value': '0.08'},
          {'date': '2020-05-01', 'value': '0.05'},
          {'date': '2020-04-01', 'value': '0.05'},
          {'date': '2020-03-01', 'value': '0.65'},
          {'date': '2020-02-01', 'value': '1.58'},
          {'date': '2020-01-01', 'value': '1.55'},
          {'date': '2019-12-01', 'value': '1.55'},
          {'date': '2019-11-01', 'value': '1.55'},
          {'date': '2019-10-01', 'value': '1.83'},
          {'date': '2019-09-01', 'value': '2.04'},
          {'date': '2019-08-01', 'value': '2.13'},
          {'date': '2019-07-01', 'value': '2.40'},
          {'date': '2019-06-01', 'value': '2.38'},
          {'date': '2019-05-01', 'value': '2.39'},
          {'date': '2019-04-01', 'value': '2.42'},
          {'date': '2019-03-01', 'value': '2.41'},
          {'date': '2019-02-01', 'value': '2.40'},
          {'date': '2019-01-01', 'value': '2.40'},
          {'date': '2018-12-01', 'value': '2.27'},
          {'date': '2018-11-01', 'value': '2.20'},
          {'date': '2018-10-01', 'value': '2.19'},
          {'date': '2018-09-01', 'value': '1.95'},
          {'date': '2018-08-01', 'value': '1.91'},
          {'date': '2018-07-01', 'value': '1.91'},
          {'date': '2018-06-01', 'value': '1.82'},
          {'date': '2018-05-01', 'value': '1.70'},
          {'date': '2018-04-01', 'value': '1.69'},
          {'date': '2018-03-01', 'value': '1.51'},
          {'date': '2018-02-01', 'value': '1.42'},
          {'date': '2018-01-01', 'value': '1.41'},
          {'date': '2017-12-01', 'value': '1.30'},
          {'date': '2017-11-01', 'value': '1.16'},
          {'date': '2017-10-01', 'value': '1.15'},
          {'date': '2017-09-01', 'value': '1.15'},
          {'date': '2017-08-01', 'value': '1.16'},
          {'date': '2017-07-01', 'value': '1.15'},
          {'date': '2017-06-01', 'value': '1.04'},
          {'date': '2017-05-01', 'value': '0.91'},
          {'date': '2017-04-01', 'value': '0.90'},
          {'date': '2017-03-01', 'value': '0.79'},
          {'date': '2017-02-01', 'value': '0.66'},
          {'date': '2017-01-01', 'value': '0.65'},
          {'date': '2016-12-01', 'value': '0.54'},
          {'date': '2016-11-01', 'value': '0.41'},
          {'date': '2016-10-01', 'value': '0.40'},
          {'date': '2016-09-01', 'value': '0.40'},
          {'date': '2016-08-01', 'value': '0.40'},
          {'date': '2016-07-01', 'value': '0.39'},
          {'date': '2016-06-01', 'value': '0.38'},
          {'date': '2016-05-01', 'value': '0.37'},
          {'date': '2016-04-01', 'value': '0.37'},
          {'date': '2016-03-01', 'value': '0.36'},
          {'date': '2016-02-01', 'value': '0.38'},
          {'date': '2016-01-01', 'value': '0.34'},
          {'date': '2015-12-01', 'value': '0.24'},
          {'date': '2015-11-01', 'value': '0.12'},
          {'date': '2015-10-01', 'value': '0.12'},
          {'date': '2015-09-01', 'value': '0.14'},
          {'date': '2015-08-01', 'value': '0.14'},
          {'date': '2015-07-01', 'value': '0.13'},
          {'date': '2015-06-01', 'value': '0.13'},
          {'date': '2015-05-01', 'value': '0.12'},
          {'date': '2015-04-01', 'value': '0.12'},
          {'date': '2015-03-01', 'value': '0.11'},
          {'date': '2015-02-01', 'value': '0.11'},
          {'date': '2015-01-01', 'value': '0.11'},
          {'date': '2014-12-01', 'value': '0.12'},
          {'date': '2014-11-01', 'value': '0.09'},
          {'date': '2014-10-01', 'value': '0.09'},
          {'date': '2014-09-01', 'value': '0.09'},
          {'date': '2014-08-01', 'value': '0.09'},
          {'date': '2014-07-01', 'value': '0.09'},
          {'date': '2014-06-01', 'value': '0.10'},
          {'date': '2014-05-01', 'value': '0.09'},
          {'date': '2014-04-01', 'value': '0.09'},
          {'date': '2014-03-01', 'value': '0.08'},
          {'date': '2014-02-01', 'value': '0.07'},
          {'date': '2014-01-01', 'value': '0.07'},
          {'date': '2013-12-01', 'value': '0.09'},
          {'date': '2013-11-01', 'value': '0.08'},
          {'date': '2013-10-01', 'value': '0.09'},
          {'date': '2013-09-01', 'value': '0.08'},
          {'date': '2013-08-01', 'value': '0.08'},
          {'date': '2013-07-01', 'value': '0.09'},
          {'date': '2013-06-01', 'value': '0.09'},
          {'date': '2013-05-01', 'value': '0.11'},
          {'date': '2013-04-01', 'value': '0.15'},
          {'date': '2013-03-01', 'value': '0.14'},
          {'date': '2013-02-01', 'value': '0.15'},
          {'date': '2013-01-01', 'value': '0.14'},
          {'date': '2012-12-01', 'value': '0.16'},
          {'date': '2012-11-01', 'value': '0.16'},
          {'date': '2012-10-01', 'value': '0.16'},
          {'date': '2012-09-01', 'value': '0.14'},
          {'date': '2012-08-01', 'value': '0.13'},
          {'date': '2012-07-01', 'value': '0.16'},
          {'date': '2012-06-01', 'value': '0.16'},
          {'date': '2012-05-01', 'value': '0.16'},
          {'date': '2012-04-01', 'value': '0.14'},
          {'date': '2012-03-01', 'value': '0.13'},
          {'date': '2012-02-01', 'value': '0.10'},
          {'date': '2012-01-01', 'value': '0.08'},
          {'date': '2011-12-01', 'value': '0.07'},
          {'date': '2011-11-01', 'value': '0.08'},
          {'date': '2011-10-01', 'value': '0.07'},
          {'date': '2011-09-01', 'value': '0.08'},
          {'date': '2011-08-01', 'value': '0.10'},
          {'date': '2011-07-01', 'value': '0.07'},
          {'date': '2011-06-01', 'value': '0.09'},
          {'date': '2011-05-01', 'value': '0.09'},
          {'date': '2011-04-01', 'value': '0.10'},
          {'date': '2011-03-01', 'value': '0.14'},
          {'date': '2011-02-01', 'value': '0.16'},
          {'date': '2011-01-01', 'value': '0.17'},
          {'date': '2010-12-01', 'value': '0.18'},
          {'date': '2010-11-01', 'value': '0.19'},
          {'date': '2010-10-01', 'value': '0.19'},
          {'date': '2010-09-01', 'value': '0.19'},
          {'date': '2010-08-01', 'value': '0.19'},
          {'date': '2010-07-01', 'value': '0.18'},
          {'date': '2010-06-01', 'value': '0.18'},
          {'date': '2010-05-01', 'value': '0.20'},
          {'date': '2010-04-01', 'value': '0.20'},
          {'date': '2010-03-01', 'value': '0.16'},
          {'date': '2010-02-01', 'value': '0.13'},
          {'date': '2010-01-01', 'value': '0.11'},
          {'date': '2009-12-01', 'value': '0.12'},
          {'date': '2009-11-01', 'value': '0.12'},
          {'date': '2009-10-01', 'value': '0.12'},
          {'date': '2009-09-01', 'value': '0.15'},
          {'date': '2009-08-01', 'value': '0.16'},
          {'date': '2009-07-01', 'value': '0.16'},
          {'date': '2009-06-01', 'value': '0.21'},
          {'date': '2009-05-01', 'value': '0.18'},
          {'date': '2009-04-01', 'value': '0.15'},
          {'date': '2009-03-01', 'value': '0.18'},
          {'date': '2009-02-01', 'value': '0.22'},
          {'date': '2009-01-01', 'value': '0.15'},
          {'date': '2008-12-01', 'value': '0.16'},
          {'date': '2008-11-01', 'value': '0.39'},
          {'date': '2008-10-01', 'value': '0.97'},
          {'date': '2008-09-01', 'value': '1.81'},
          {'date': '2008-08-01', 'value': '2.00'},
          {'date': '2008-07-01', 'value': '2.01'},
          {'date': '2008-06-01', 'value': '2.00'},
          {'date': '2008-05-01', 'value': '1.98'},
          {'date': '2008-04-01', 'value': '2.28'},
          {'date': '2008-03-01', 'value': '2.61'},
          {'date': '2008-02-01', 'value': '2.98'},
          {'date': '2008-01-01', 'value': '3.94'},
          {'date': '2007-12-01', 'value': '4.24'},
          {'date': '2007-11-01', 'value': '4.49'},
          {'date': '2007-10-01', 'value': '4.76'},
          {'date': '2007-09-01', 'value': '4.94'},
          {'date': '2007-08-01', 'value': '5.02'},
          {'date': '2007-07-01', 'value': '5.26'},
          {'date': '2007-06-01', 'value': '5.25'},
          {'date': '2007-05-01', 'value': '5.25'},
          {'date': '2007-04-01', 'value': '5.25'},
          {'date': '2007-03-01', 'value': '5.26'},
          {'date': '2007-02-01', 'value': '5.26'},
          {'date': '2007-01-01', 'value': '5.25'},
          {'date': '2006-12-01', 'value': '5.24'},
          {'date': '2006-11-01', 'value': '5.25'},
          {'date': '2006-10-01', 'value': '5.25'},
          {'date': '2006-09-01', 'value': '5.25'},
          {'date': '2006-08-01', 'value': '5.25'},
          {'date': '2006-07-01', 'value': '5.24'},
          {'date': '2006-06-01', 'value': '4.99'},
          {'date': '2006-05-01', 'value': '4.94'},
          {'date': '2006-04-01', 'value': '4.79'},
          {'date': '2006-03-01', 'value': '4.59'},
          {'date': '2006-02-01', 'value': '4.49'},
          {'date': '2006-01-01', 'value': '4.29'},
          {'date': '2005-12-01', 'value': '4.16'},
          {'date': '2005-11-01', 'value': '4.00'},
          {'date': '2005-10-01', 'value': '3.78'},
          {'date': '2005-09-01', 'value': '3.62'},
          {'date': '2005-08-01', 'value': '3.50'},
          {'date': '2005-07-01', 'value': '3.26'},
          {'date': '2005-06-01', 'value': '3.04'},
          {'date': '2005-05-01', 'value': '3.00'},
          {'date': '2005-04-01', 'value': '2.79'},
          {'date': '2005-03-01', 'value': '2.63'},
          {'date': '2005-02-01', 'value': '2.50'},
          {'date': '2005-01-01', 'value': '2.28'},
          {'date': '2004-12-01', 'value': '2.16'},
          {'date': '2004-11-01', 'value': '1.93'},
          {'date': '2004-10-01', 'value': '1.76'},
          {'date': '2004-09-01', 'value': '1.61'},
          {'date': '2004-08-01', 'value': '1.43'},
          {'date': '2004-07-01', 'value': '1.26'},
          {'date': '2004-06-01', 'value': '1.03'},
          {'date': '2004-05-01', 'value': '1.00'},
          {'date': '2004-04-01', 'value': '1.00'},
          {'date': '2004-03-01', 'value': '1.00'},
          {'date': '2004-02-01', 'value': '1.01'},
          {'date': '2004-01-01', 'value': '1.00'},
          {'date': '2003-12-01', 'value': '0.98'},
          {'date': '2003-11-01', 'value': '1.00'},
          {'date': '2003-10-01', 'value': '1.01'},
          {'date': '2003-09-01', 'value': '1.01'},
          {'date': '2003-08-01', 'value': '1.03'},
          {'date': '2003-07-01', 'value': '1.01'},
          {'date': '2003-06-01', 'value': '1.22'},
          {'date': '2003-05-01', 'value': '1.26'},
          {'date': '2003-04-01', 'value': '1.26'},
          {'date': '2003-03-01', 'value': '1.25'},
          {'date': '2003-02-01', 'value': '1.26'},
          {'date': '2003-01-01', 'value': '1.24'},
          {'date': '2002-12-01', 'value': '1.24'},
          {'date': '2002-11-01', 'value': '1.34'},
          {'date': '2002-10-01', 'value': '1.75'},
          {'date': '2002-09-01', 'value': '1.75'},
          {'date': '2002-08-01', 'value': '1.74'},
          {'date': '2002-07-01', 'value': '1.73'},
          {'date': '2002-06-01', 'value': '1.75'},
          {'date': '2002-05-01', 'value': '1.75'},
          {'date': '2002-04-01', 'value': '1.75'},
          {'date': '2002-03-01', 'value': '1.73'},
          {'date': '2002-02-01', 'value': '1.74'},
          {'date': '2002-01-01', 'value': '1.73'},
          {'date': '2001-12-01', 'value': '1.82'},
          {'date': '2001-11-01', 'value': '2.09'},
          {'date': '2001-10-01', 'value': '2.49'},
          {'date': '2001-09-01', 'value': '3.07'},
          {'date': '2001-08-01', 'value': '3.65'},
          {'date': '2001-07-01', 'value': '3.77'},
          {'date': '2001-06-01', 'value': '3.97'},
          {'date': '2001-05-01', 'value': '4.21'},
          {'date': '2001-04-01', 'value': '4.8'},
          {'date': '2001-03-01', 'value': '5.31'},
          {'date': '2001-02-01', 'value': '5.49'},
          {'date': '2001-01-01', 'value': '5.98'},
          {'date': '2000-12-01', 'value': '6.40'},
          {'date': '2000-11-01', 'value': '6.51'},
          {'date': '2000-10-01', 'value': '6.51'},
          {'date': '2000-09-01', 'value': '6.52'},
          {'date': '2000-08-01', 'value': '6.50'},
          {'date': '2000-07-01', 'value': '6.54'},
          {'date': '2000-06-01', 'value': '6.53'},
          {'date': '2000-05-01', 'value': '6.27'},
          {'date': '2000-04-01', 'value': '6.02'},
          {'date': '2000-03-01', 'value': '5.85'},
          {'date': '2000-02-01', 'value': '5.73'},
          {'date': '2000-01-01', 'value': '5.45'},
          {'date': '1999-12-01', 'value': '5.30'},
          {'date': '1999-11-01', 'value': '5.42'},
          {'date': '1999-10-01', 'value': '5.20'},
          {'date': '1999-09-01', 'value': '5.22'},
          {'date': '1999-08-01', 'value': '5.07'},
          {'date': '1999-07-01', 'value': '4.99'},
          {'date': '1999-06-01', 'value': '4.76'},
          {'date': '1999-05-01', 'value': '4.74'},
          {'date': '1999-04-01', 'value': '4.74'},
          {'date': '1999-03-01', 'value': '4.81'},
          {'date': '1999-02-01', 'value': '4.76'},
          {'date': '1999-01-01', 'value': '4.63'},
          {'date': '1998-12-01', 'value': '4.68'},
          {'date': '1998-11-01', 'value': '4.83'},
          {'date': '1998-10-01', 'value': '5.07'},
          {'date': '1998-09-01', 'value': '5.51'},
          {'date': '1998-08-01', 'value': '5.55'},
          {'date': '1998-07-01', 'value': '5.54'},
          {'date': '1998-06-01', 'value': '5.56'},
          {'date': '1998-05-01', 'value': '5.49'},
          {'date': '1998-04-01', 'value': '5.45'},
          {'date': '1998-03-01', 'value': '5.49'},
          {'date': '1998-02-01', 'value': '5.51'},
          {'date': '1998-01-01', 'value': '5.56'},
          {'date': '1997-12-01', 'value': '5.50'},
          {'date': '1997-11-01', 'value': '5.52'},
          {'date': '1997-10-01', 'value': '5.50'},
          {'date': '1997-09-01', 'value': '5.54'},
          {'date': '1997-08-01', 'value': '5.54'},
          {'date': '1997-07-01', 'value': '5.52'},
          {'date': '1997-06-01', 'value': '5.56'},
          {'date': '1997-05-01', 'value': '5.50'},
          {'date': '1997-04-01', 'value': '5.51'},
          {'date': '1997-03-01', 'value': '5.39'},
          {'date': '1997-02-01', 'value': '5.19'},
          {'date': '1997-01-01', 'value': '5.25'},
          {'date': '1996-12-01', 'value': '5.29'},
          {'date': '1996-11-01', 'value': '5.31'},
          {'date': '1996-10-01', 'value': '5.24'},
          {'date': '1996-09-01', 'value': '5.30'},
          {'date': '1996-08-01', 'value': '5.22'},
          {'date': '1996-07-01', 'value': '5.40'},
          {'date': '1996-06-01', 'value': '5.27'},
          {'date': '1996-05-01', 'value': '5.24'},
          {'date': '1996-04-01', 'value': '5.22'},
          {'date': '1996-03-01', 'value': '5.31'},
          {'date': '1996-02-01', 'value': '5.22'},
          {'date': '1996-01-01', 'value': '5.56'},
          {'date': '1995-12-01', 'value': '5.60'},
          {'date': '1995-11-01', 'value': '5.80'},
          {'date': '1995-10-01', 'value': '5.76'},
          {'date': '1995-09-01', 'value': '5.80'},
          {'date': '1995-08-01', 'value': '5.74'},
          {'date': '1995-07-01', 'value': '5.85'},
          {'date': '1995-06-01', 'value': '6.00'},
          {'date': '1995-05-01', 'value': '6.01'},
          {'date': '1995-04-01', 'value': '6.05'},
          {'date': '1995-03-01', 'value': '5.98'},
          {'date': '1995-02-01', 'value': '5.92'},
          {'date': '1995-01-01', 'value': '5.53'},
          {'date': '1994-12-01', 'value': '5.45'},
          {'date': '1994-11-01', 'value': '5.29'},
          {'date': '1994-10-01', 'value': '4.76'},
          {'date': '1994-09-01', 'value': '4.73'},
          {'date': '1994-08-01', 'value': '4.47'},
          {'date': '1994-07-01', 'value': '4.26'},
          {'date': '1994-06-01', 'value': '4.25'},
          {'date': '1994-05-01', 'value': '4.01'},
          {'date': '1994-04-01', 'value': '3.56'},
          {'date': '1994-03-01', 'value': '3.34'},
          {'date': '1994-02-01', 'value': '3.25'},
          {'date': '1994-01-01', 'value': '3.05'},
          {'date': '1993-12-01', 'value': '2.96'},
          {'date': '1993-11-01', 'value': '3.02'},
          {'date': '1993-10-01', 'value': '2.99'},
          {'date': '1993-09-01', 'value': '3.09'},
          {'date': '1993-08-01', 'value': '3.03'},
          {'date': '1993-07-01', 'value': '3.06'},
          {'date': '1993-06-01', 'value': '3.04'},
          {'date': '1993-05-01', 'value': '3.00'},
          {'date': '1993-04-01', 'value': '2.96'},
          {'date': '1993-03-01', 'value': '3.07'},
          {'date': '1993-02-01', 'value': '3.03'},
          {'date': '1993-01-01', 'value': '3.02'},
          {'date': '1992-12-01', 'value': '2.92'},
          {'date': '1992-11-01', 'value': '3.09'},
          {'date': '1992-10-01', 'value': '3.10'},
          {'date': '1992-09-01', 'value': '3.22'},
          {'date': '1992-08-01', 'value': '3.30'},
          {'date': '1992-07-01', 'value': '3.25'},
          {'date': '1992-06-01', 'value': '3.76'},
          {'date': '1992-05-01', 'value': '3.82'},
          {'date': '1992-04-01', 'value': '3.73'},
          {'date': '1992-03-01', 'value': '3.98'},
          {'date': '1992-02-01', 'value': '4.06'},
          {'date': '1992-01-01', 'value': '4.03'},
          {'date': '1991-12-01', 'value': '4.43'},
          {'date': '1991-11-01', 'value': '4.81'},
          {'date': '1991-10-01', 'value': '5.21'},
          {'date': '1991-09-01', 'value': '5.45'},
          {'date': '1991-08-01', 'value': '5.66'},
          {'date': '1991-07-01', 'value': '5.82'},
          {'date': '1991-06-01', 'value': '5.90'},
          {'date': '1991-05-01', 'value': '5.78'},
          {'date': '1991-04-01', 'value': '5.91'},
          {'date': '1991-03-01', 'value': '6.12'},
          {'date': '1991-02-01', 'value': '6.25'},
          {'date': '1991-01-01', 'value': '6.91'},
          {'date': '1990-12-01', 'value': '7.31'},
          {'date': '1990-11-01', 'value': '7.81'},
          {'date': '1990-10-01', 'value': '8.11'},
          {'date': '1990-09-01', 'value': '8.20'},
          {'date': '1990-08-01', 'value': '8.13'},
          {'date': '1990-07-01', 'value': '8.15'},

In [256]:
# get retail sales data

def get_retail_sales():
    url = f'https://www.alphavantage.co/query?function=RETAIL_SALES&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_retail_sales():
    pprint(i)

{'data': [{'date': '2023-01-01', 'value': '540735'},
          {'date': '2022-12-01', 'value': '657682'},
          {'date': '2022-11-01', 'value': '609862'},
          {'date': '2022-10-01', 'value': '597349'},
          {'date': '2022-09-01', 'value': '577370'},
          {'date': '2022-08-01', 'value': '613416'},
          {'date': '2022-07-01', 'value': '600746'},
          {'date': '2022-06-01', 'value': '609933'},
          {'date': '2022-05-01', 'value': '614474'},
          {'date': '2022-04-01', 'value': '594426'},
          {'date': '2022-03-01', 'value': '597077'},
          {'date': '2022-02-01', 'value': '506400'},
          {'date': '2022-01-01', 'value': '518146'},
          {'date': '2021-12-01', 'value': '632849'},
          {'date': '2021-11-01', 'value': '579687'},
          {'date': '2021-10-01', 'value': '557737'},
          {'date': '2021-09-01', 'value': '532840'},
          {'date': '2021-08-01', 'value': '553822'},
          {'date': '2021-07-01', 'value': '554845'},
          {'date': '2021-06-01', 'value': '560679'},
          {'date': '2021-05-01', 'value': '567461'},
          {'date': '2021-04-01', 'value': '557874'},
          {'date': '2021-03-01', 'value': '565764'},
          {'date': '2021-02-01', 'value': '438933'},
          {'date': '2021-01-01', 'value': '462558'},
          {'date': '2020-12-01', 'value': '558834'},
          {'date': '2020-11-01', 'value': '491813'},
          {'date': '2020-10-01', 'value': '494134'},
          {'date': '2020-09-01', 'value': '474284'},
          {'date': '2020-08-01', 'value': '487134'},
          {'date': '2020-07-01', 'value': '492259'},
          {'date': '2020-06-01', 'value': '478667'},
          {'date': '2020-05-01', 'value': '460253'},
          {'date': '2020-04-01', 'value': '375242'},
          {'date': '2020-03-01', 'value': '428285'},
          {'date': '2020-02-01', 'value': '413203'},
          {'date': '2020-01-01', 'value': '416285'},
          {'date': '2019-12-01', 'value': '518979'},
          {'date': '2019-11-01', 'value': '467311'},
          {'date': '2019-10-01', 'value': '455035'},
          {'date': '2019-09-01', 'value': '428334'},
          {'date': '2019-08-01', 'value': '472891'},
          {'date': '2019-07-01', 'value': '461642'},
          {'date': '2019-06-01', 'value': '448224'},
          {'date': '2019-05-01', 'value': '475656'},
          {'date': '2019-04-01', 'value': '442704'},
          {'date': '2019-03-01', 'value': '447160'},
          {'date': '2019-02-01', 'value': '384977'},
          {'date': '2019-01-01', 'value': '399359'},
          {'date': '2018-12-01', 'value': '493873'},
          {'date': '2018-11-01', 'value': '460034'},
          {'date': '2018-10-01', 'value': '442256'},
          {'date': '2018-09-01', 'value': '417510'},
          {'date': '2018-08-01', 'value': '456445'},
          {'date': '2018-07-01', 'value': '441832'},
          {'date': '2018-06-01', 'value': '443732'},
          {'date': '2018-05-01', 'value': '464271'},
          {'date': '2018-04-01', 'value': '420209'},
          {'date': '2018-03-01', 'value': '444925'},
          {'date': '2018-02-01', 'value': '380598'},
          {'date': '2018-01-01', 'value': '389740'},
          {'date': '2017-12-01', 'value': '496765'},
          {'date': '2017-11-01', 'value': '441933'},
          {'date': '2017-10-01', 'value': '417773'},
          {'date': '2017-09-01', 'value': '412546'},
          {'date': '2017-08-01', 'value': '431804'},
          {'date': '2017-07-01', 'value': '416906'},
          {'date': '2017-06-01', 'value': '423066'},
          {'date': '2017-05-01', 'value': '434506'},
          {'date': '2017-04-01', 'value': '407240'},
          {'date': '2017-03-01', 'value': '423002'},
          {'date': '2017-02-01', 'value': '365592'},
          {'date': '2017-01-01', 'value': '369081'},
          {'date': '2016-12-01', 'value': '482002'},
          {'date': '2016-11-01', 'value': '413901'},
          {'date': '2016-10-01', 'value': '397394'},
          {'date': '2016-09-01', 'value': '394200'},
          {'date': '2016-08-01', 'value': '416489'},
          {'date': '2016-07-01', 'value': '405965'},
          {'date': '2016-06-01', 'value': '410071'},
          {'date': '2016-05-01', 'value': '413036'},
          {'date': '2016-04-01', 'value': '394743'},
          {'date': '2016-03-01', 'value': '404996'},
          {'date': '2016-02-01', 'value': '363527'},
          {'date': '2016-01-01', 'value': '351772'},
          {'date': '2015-12-01', 'value': '464035'},
          {'date': '2015-11-01', 'value': '396058'},
          {'date': '2015-10-01', 'value': '392604'},
          {'date': '2015-09-01', 'value': '381992'},
          {'date': '2015-08-01', 'value': '404920'},
          {'date': '2015-07-01', 'value': '406554'},
          {'date': '2015-06-01', 'value': '397821'},
          {'date': '2015-05-01', 'value': '409482'},
          {'date': '2015-04-01', 'value': '387375'},
          {'date': '2015-03-01', 'value': '393110'},
          {'date': '2015-02-01', 'value': '341856'},
          {'date': '2015-01-01', 'value': '350304'},
          {'date': '2014-12-01', 'value': '451097'},
          {'date': '2014-11-01', 'value': '391502'},
          {'date': '2014-10-01', 'value': '388391'},
          {'date': '2014-09-01', 'value': '374401'},
          {'date': '2014-08-01', 'value': '401450'},
          {'date': '2014-07-01', 'value': '394700'},
          {'date': '2014-06-01', 'value': '385482'},
          {'date': '2014-05-01', 'value': '408288'},
          {'date': '2014-04-01', 'value': '383816'},
          {'date': '2014-03-01', 'value': '383567'},
          {'date': '2014-02-01', 'value': '337481'},
          {'date': '2014-01-01', 'value': '340476'},
          {'date': '2013-12-01', 'value': '430585'},
          {'date': '2013-11-01', 'value': '378686'},
          {'date': '2013-10-01', 'value': '369773'},
          {'date': '2013-09-01', 'value': '352680'},
          {'date': '2013-08-01', 'value': '388227'},
          {'date': '2013-07-01', 'value': '376974'},
          {'date': '2013-06-01', 'value': '369316'},
          {'date': '2013-05-01', 'value': '389681'},
          {'date': '2013-04-01', 'value': '362964'},
          {'date': '2013-03-01', 'value': '374171'},
          {'date': '2013-02-01', 'value': '332486'},
          {'date': '2013-01-01', 'value': '333695'},
          {'date': '2012-12-01', 'value': '416807'},
          {'date': '2012-11-01', 'value': '368593'},
          {'date': '2012-10-01', 'value': '355823'},
          {'date': '2012-09-01', 'value': '342582'},
          {'date': '2012-08-01', 'value': '372986'},
          {'date': '2012-07-01', 'value': '351520'},
          {'date': '2012-06-01', 'value': '356083'},
          {'date': '2012-05-01', 'value': '373129'},
          {'date': '2012-04-01', 'value': '349194'},
          {'date': '2012-03-01', 'value': '368502'},
          {'date': '2012-02-01', 'value': '331470'},
          {'date': '2012-01-01', 'value': '315540'},
          {'date': '2011-12-01', 'value': '408910'},
          {'date': '2011-11-01', 'value': '351517'},
          {'date': '2011-10-01', 'value': '337067'},
          {'date': '2011-09-01', 'value': '333642'},
          {'date': '2011-08-01', 'value': '352224'},
          {'date': '2011-07-01', 'value': '341381'},
          {'date': '2011-06-01', 'value': '346620'},
          {'date': '2011-05-01', 'value': '348979'},
          {'date': '2011-04-01', 'value': '339014'},
          {'date': '2011-03-01', 'value': '345052'},
          {'date': '2011-02-01', 'value': '299920'},
          {'date': '2011-01-01', 'value': '298626'},
          {'date': '2010-12-01', 'value': '386878'},
          {'date': '2010-11-01', 'value': '328381'},
          {'date': '2010-10-01', 'value': '315059'},
          {'date': '2010-09-01', 'value': '307638'},
          {'date': '2010-08-01', 'value': '322319'},
          {'date': '2010-07-01', 'value': '320915'},
          {'date': '2010-06-01', 'value': '319183'},
          {'date': '2010-05-01', 'value': '324820'},
          {'date': '2010-04-01', 'value': '316940'},
          {'date': '2010-03-01', 'value': '321305'},
          {'date': '2010-02-01', 'value': '275566'},
          {'date': '2010-01-01', 'value': '279044'},
          {'date': '2009-12-01', 'value': '362735'},
          {'date': '2009-11-01', 'value': '303850'},
          {'date': '2009-10-01', 'value': '300360'},
          {'date': '2009-09-01', 'value': '288071'},
          {'date': '2009-08-01', 'value': '314505'},
          {'date': '2009-07-01', 'value': '308847'},
          {'date': '2009-06-01', 'value': '306050'},
          {'date': '2009-05-01', 'value': '307481'},
          {'date': '2009-04-01', 'value': '292041'},
          {'date': '2009-03-01', 'value': '290068'},
          {'date': '2009-02-01', 'value': '264465'},
          {'date': '2009-01-01', 'value': '273998'},
          {'date': '2008-12-01', 'value': '346513'},
          {'date': '2008-11-01', 'value': '299238'},
          {'date': '2008-10-01', 'value': '311422'},
          {'date': '2008-09-01', 'value': '313308'},
          {'date': '2008-08-01', 'value': '342443'},
          {'date': '2008-07-01', 'value': '344158'},
          {'date': '2008-06-01', 'value': '339791'},
          {'date': '2008-05-01', 'value': '357277'},
          {'date': '2008-04-01', 'value': '331002'},
          {'date': '2008-03-01', 'value': '334416'},
          {'date': '2008-02-01', 'value': '308171'},
          {'date': '2008-01-01', 'value': '307576'},
          {'date': '2007-12-01', 'value': '387473'},
          {'date': '2007-11-01', 'value': '341848'},
          {'date': '2007-10-01', 'value': '331073'},
          {'date': '2007-09-01', 'value': '317145'},
          {'date': '2007-08-01', 'value': '349191'},
          {'date': '2007-07-01', 'value': '333815'},
          {'date': '2007-06-01', 'value': '338189'},
          {'date': '2007-05-01', 'value': '353201'},
          {'date': '2007-04-01', 'value': '321981'},
          {'date': '2007-03-01', 'value': '335917'},
          {'date': '2007-02-01', 'value': '290065'},
          {'date': '2007-01-01', 'value': '295284'},
          {'date': '2006-12-01', 'value': '380188'},
          {'date': '2006-11-01', 'value': '323089'},
          {'date': '2006-10-01', 'value': '312976'},
          {'date': '2006-09-01', 'value': '310775'},
          {'date': '2006-08-01', 'value': '339155'},
          {'date': '2006-07-01', 'value': '325905'},
          {'date': '2006-06-01', 'value': '330844'},
          {'date': '2006-05-01', 'value': '337393'},
          {'date': '2006-04-01', 'value': '316526'},
          {'date': '2006-03-01', 'value': '326153'},
          {'date': '2006-02-01', 'value': '282417'},
          {'date': '2006-01-01', 'value': '286152'},
          {'date': '2005-12-01', 'value': '370726'},
          {'date': '2005-11-01', 'value': '311715'},
          {'date': '2005-10-01', 'value': '302213'},
          {'date': '2005-09-01', 'value': '300439'},
          {'date': '2005-08-01', 'value': '321409'},
          {'date': '2005-07-01', 'value': '316887'},
          {'date': '2005-06-01', 'value': '317375'},
          {'date': '2005-05-01', 'value': '311292'},
          {'date': '2005-04-01', 'value': '302054'},
          {'date': '2005-03-01', 'value': '306384'},
          {'date': '2005-02-01', 'value': '265320'},
          {'date': '2005-01-01', 'value': '263469'},
          {'date': '2004-12-01', 'value': '354627'},
          {'date': '2004-11-01', 'value': '294278'},
          {'date': '2004-10-01', 'value': '287468'},
          {'date': '2004-09-01', 'value': '282974'},
          {'date': '2004-08-01', 'value': '294133'},
          {'date': '2004-07-01', 'value': '294875'},
          {'date': '2004-06-01', 'value': '289664'},
          {'date': '2004-05-01', 'value': '296253'},
          {'date': '2004-04-01', 'value': '284325'},
          {'date': '2004-03-01', 'value': '287944'},
          {'date': '2004-02-01', 'value': '253689'},
          {'date': '2004-01-01', 'value': '252818'},
          {'date': '2003-12-01', 'value': '327693'},
          {'date': '2003-11-01', 'value': '272396'},
          {'date': '2003-10-01', 'value': '273781'},
          {'date': '2003-09-01', 'value': '265331'},
          {'date': '2003-08-01', 'value': '285212'},
          {'date': '2003-07-01', 'value': '279323'},
          {'date': '2003-06-01', 'value': '271242'},
          {'date': '2003-05-01', 'value': '281482'},
          {'date': '2003-04-01', 'value': '265990'},
          {'date': '2003-03-01', 'value': '264532'},
          {'date': '2003-02-01', 'value': '233478'},
          {'date': '2003-01-01', 'value': '242271'},
          {'date': '2002-12-01', 'value': '308821'},
          {'date': '2002-11-01', 'value': '263738'},
          {'date': '2002-10-01', 'value': '259945'},
          {'date': '2002-09-01', 'value': '246350'},
          {'date': '2002-08-01', 'value': '277716'},
          {'date': '2002-07-01', 'value': '266795'},
          {'date': '2002-06-01', 'value': '260385'},
          {'date': '2002-05-01', 'value': '271682'},
          {'date': '2002-04-01', 'value': '257357'},
          {'date': '2002-03-01', 'value': '257133'},
          {'date': '2002-02-01', 'value': '228084'},
          {'date': '2002-01-01', 'value': '230546'},
          {'date': '2001-12-01', 'value': '298666'},
          {'date': '2001-11-01', 'value': '262004'},
          {'date': '2001-10-01', 'value': '265188'},
          {'date': '2001-09-01', 'value': '236210'},
          {'date': '2001-08-01', 'value': '266460'},
          {'date': '2001-07-01', 'value': '251504'},
          {'date': '2001-06-01', 'value': '260315'},
          {'date': '2001-05-01', 'value': '268658'},
          {'date': '2001-04-01', 'value': '249062'},
          {'date': '2001-03-01', 'value': '253439'},
          {'date': '2001-02-01', 'value': '223971'},
          {'date': '2001-01-01', 'value': '226791'},
          {'date': '2000-12-01', 'value': '294197'},
          {'date': '2000-11-01', 'value': '252145'},
          {'date': '2000-10-01', 'value': '245167'},
          {'date': '2000-09-01', 'value': '243624'},
          {'date': '2000-08-01', 'value': '257487'},
          {'date': '2000-07-01', 'value': '244445'},
          {'date': '2000-06-01', 'value': '255066'},
          {'date': '2000-05-01', 'value': '257581'},
          {'date': '2000-04-01', 'value': '239051'},
          {'date': '2000-03-01', 'value': '253717'},
          {'date': '2000-02-01', 'value': '227087'},
          {'date': '2000-01-01', 'value': '213709'},
          {'date': '1999-12-01', 'value': '293013'},
          {'date': '1999-11-01', 'value': '240857'},
          {'date': '1999-10-01', 'value': '233193'},
          {'date': '1999-09-01', 'value': '230665'},
          {'date': '1999-08-01', 'value': '240478'},
          {'date': '1999-07-01', 'value': '236992'},
          {'date': '1999-06-01', 'value': '236830'},
          {'date': '1999-05-01', 'value': '237462'},
          {'date': '1999-04-01', 'value': '227109'},
          {'date': '1999-03-01', 'value': '230230'},
          {'date': '1999-02-01', 'value': '199451'},
          {'date': '1999-01-01', 'value': '196810'},
          {'date': '1998-12-01', 'value': '265618'},
          {'date': '1998-11-01', 'value': '218969'},
          {'date': '1998-10-01', 'value': '220499'},
          {'date': '1998-09-01', 'value': '208915'},
          {'date': '1998-08-01', 'value': '216605'},
          {'date': '1998-07-01', 'value': '217687'},
          {'date': '1998-06-01', 'value': '220867'},
          {'date': '1998-05-01', 'value': '221155'},
          {'date': '1998-04-01', 'value': '212262'},
          {'date': '1998-03-01', 'value': '207973'},
          {'date': '1998-02-01', 'value': '183767'},
          {'date': '1998-01-01', 'value': '187445'},
          {'date': '1997-12-01', 'value': '249389'},
          {'date': '1997-11-01', 'value': '207533'},
          {'date': '1997-10-01', 'value': '210145'},
          {'date': '1997-09-01', 'value': '201415'},
          {'date': '1997-08-01', 'value': '211952'},
          {'date': '1997-07-01', 'value': '208856'},
          {'date': '1997-06-01', 'value': '205491'},
          {'date': '1997-05-01', 'value': '211516'},
          {'date': '1997-04-01', 'value': '199219'},
          {'date': '1997-03-01', 'value': '203750'},
          {'date': '1997-02-01', 'value': '178428'},
          {'date': '1997-01-01', 'value': '181073'},
          {'date': '1996-12-01', 'value': '237478'},
          {'date': '1996-11-01', 'value': '203621'},
          {'date': '1996-10-01', 'value': '201927'},
          {'date': '1996-09-01', 'value': '189424'},
          {'date': '1996-08-01', 'value': '204270'},
          {'date': '1996-07-01', 'value': '197140'},
          {'date': '1996-06-01', 'value': '196842'},
          {'date': '1996-05-01', 'value': '205797'},
          {'date': '1996-04-01', 'value': '191886'},
          {'date': '1996-03-01', 'value': '191851'},
          {'date': '1996-02-01', 'value': '173941'},
          {'date': '1996-01-01', 'value': '167372'},
          {'date': '1995-12-01', 'value': '227552'},
          {'date': '1995-11-01', 'value': '193405'},
          {'date': '1995-10-01', 'value': '184276'},
          {'date': '1995-09-01', 'value': '182521'},
          {'date': '1995-08-01', 'value': '193370'},
          {'date': '1995-07-01', 'value': '182909'},
          {'date': '1995-06-01', 'value': '191609'},
          {'date': '1995-05-01', 'value': '190269'},
          {'date': '1995-04-01', 'value': '176635'},
          {'date': '1995-03-01', 'value': '181910'},
          {'date': '1995-02-01', 'value': '155156'},
          {'date': '1995-01-01', 'value': '158004'},
          {'date': '1994-12-01', 'value': '221549'},
          {'date': '1994-11-01', 'value': '184272'},
          {'date': '1994-10-01', 'value': '178642'},
          {'date': '1994-09-01', 'value': '175128'},
          {'date': '1994-08-01', 'value': '182445'},
          {'date': '1994-07-01', 'value': '173198'},
          {'date': '1994-06-01', 'value': '178509'},
          {'date': '1994-05-01', 'value': '175527'},
          {'date': '1994-04-01', 'value': '170795'},
          {'date': '1994-03-01', 'value': '173562'},
          {'date': '1994-02-01', 'value': '146332'},
          {'date': '1994-01-01', 'value': '145276'},
          {'date': '1993-12-01', 'value': '206174'},
          {'date': '1993-11-01', 'value': '169980'},
          {'date': '1993-10-01', 'value': '163992'},
          {'date': '1993-09-01', 'value': '159298'},
          {'date': '1993-08-01', 'value': '163989'},
          {'date': '1993-07-01', 'value': '164590'},
          {'date': '1993-06-01', 'value': '162964'},
          {'date': '1993-05-01', 'value': '163519'},
          {'date': '1993-04-01', 'value': '158615'},
          {'date': '1993-03-01', 'value': '153025'},
          {'date': '1993-02-01', 'value': '134462'},
          {'date': '1993-01-01', 'value': '137020'},
          {'date': '1992-12-01', 'value': '191347'},
          {'date': '1992-11-01', 'value': '154824'},
          {'date': '1992-10-01', 'value': '155987'},
          {'date': '1992-09-01', 'value': '148158'},
          {'date': '1992-08-01', 'value': '152476'},
          {'date': '1992-07-01', 'value': '152586'},
          {'date': '1992-06-01', 'value': '151849'},
          {'date': '1992-05-01', 'value': '152420'},
          {'date': '1992-04-01', 'value': '147175'},
          {'date': '1992-03-01', 'value': '142488'},
          {'date': '1992-02-01', 'value': '131244'},
          {'date': '1992-01-01', 'value': '130683'}],
 'interval': 'monthly',
 'name': 'Advance Retail Sales: Retail Trade',
 'unit': 'millions of dollars'}

In [257]:
# get durables data
def get_durables():
    url = 'https://www.alphavantage.co/query?function=DURABLES&apikey=demo'
    r = requests.get(url)
    data = r.json()

    yield data
    
for i in get_durables():
    pprint(i)

{'data': [{'date': '2023-01-01', 'value': '250074'},
          {'date': '2022-12-01', 'value': '296687'},
          {'date': '2022-11-01', 'value': '259606'},
          {'date': '2022-10-01', 'value': '273120'},
          {'date': '2022-09-01', 'value': '289932'},
          {'date': '2022-08-01', 'value': '279323'},
          {'date': '2022-07-01', 'value': '249456'},
          {'date': '2022-06-01', 'value': '294470'},
          {'date': '2022-05-01', 'value': '263971'},
          {'date': '2022-04-01', 'value': '260366'},
          {'date': '2022-03-01', 'value': '294088'},
          {'date': '2022-02-01', 'value': '250105'},
          {'date': '2022-01-01', 'value': '242492'},
          {'date': '2021-12-01', 'value': '267477'},
          {'date': '2021-11-01', 'value': '244327'},
          {'date': '2021-10-01', 'value': '247086'},
          {'date': '2021-09-01', 'value': '260121'},
          {'date': '2021-08-01', 'value': '250971'},
          {'date': '2021-07-01', 'value': '228559'},
          {'date': '2021-06-01', 'value': '263226'},
          {'date': '2021-05-01', 'value': '235324'},
          {'date': '2021-04-01', 'value': '236534'},
          {'date': '2021-03-01', 'value': '267961'},
          {'date': '2021-02-01', 'value': '226851'},
          {'date': '2021-01-01', 'value': '215529'},
          {'date': '2020-12-01', 'value': '240298'},
          {'date': '2020-11-01', 'value': '217877'},
          {'date': '2020-10-01', 'value': '231202'},
          {'date': '2020-09-01', 'value': '236069'},
          {'date': '2020-08-01', 'value': '219699'},
          {'date': '2020-07-01', 'value': '204830'},
          {'date': '2020-06-01', 'value': '213266'},
          {'date': '2020-05-01', 'value': '174415'},
          {'date': '2020-04-01', 'value': '157005'},
          {'date': '2020-03-01', 'value': '220073'},
          {'date': '2020-02-01', 'value': '225748'},
          {'date': '2020-01-01', 'value': '211354'},
          {'date': '2019-12-01', 'value': '220911'},
          {'date': '2019-11-01', 'value': '204062'},
          {'date': '2019-10-01', 'value': '226524'},
          {'date': '2019-09-01', 'value': '229365'},
          {'date': '2019-08-01', 'value': '228388'},
          {'date': '2019-07-01', 'value': '208890'},
          {'date': '2019-06-01', 'value': '231478'},
          {'date': '2019-05-01', 'value': '220049'},
          {'date': '2019-04-01', 'value': '220629'},
          {'date': '2019-03-01', 'value': '254141'},
          {'date': '2019-02-01', 'value': '210489'},
          {'date': '2019-01-01', 'value': '209313'},
          {'date': '2018-12-01', 'value': '243801'},
          {'date': '2018-11-01', 'value': '228544'},
          {'date': '2018-10-01', 'value': '241592'},
          {'date': '2018-09-01', 'value': '250454'},
          {'date': '2018-08-01', 'value': '251050'},
          {'date': '2018-07-01', 'value': '215595'},
          {'date': '2018-06-01', 'value': '261381'},
          {'date': '2018-05-01', 'value': '241465'},
          {'date': '2018-04-01', 'value': '232661'},
          {'date': '2018-03-01', 'value': '268069'},
          {'date': '2018-02-01', 'value': '220186'},
          {'date': '2018-01-01', 'value': '204291'},
          {'date': '2017-12-01', 'value': '245917'},
          {'date': '2017-11-01', 'value': '227511'},
          {'date': '2017-10-01', 'value': '228920'},
          {'date': '2017-09-01', 'value': '238114'},
          {'date': '2017-08-01', 'value': '226796'},
          {'date': '2017-07-01', 'value': '198954'},
          {'date': '2017-06-01', 'value': '260463'},
          {'date': '2017-05-01', 'value': '221661'},
          {'date': '2017-04-01', 'value': '211822'},
          {'date': '2017-03-01', 'value': '250524'},
          {'date': '2017-02-01', 'value': '207598'},
          {'date': '2017-01-01', 'value': '192661'},
          {'date': '2016-12-01', 'value': '229243'},
          {'date': '2016-11-01', 'value': '213364'},
          {'date': '2016-10-01', 'value': '231422'},
          {'date': '2016-09-01', 'value': '230956'},
          {'date': '2016-08-01', 'value': '221537'},
          {'date': '2016-07-01', 'value': '197867'},
          {'date': '2016-06-01', 'value': '230820'},
          {'date': '2016-05-01', 'value': '217981'},
          {'date': '2016-04-01', 'value': '221215'},
          {'date': '2016-03-01', 'value': '243551'},
          {'date': '2016-02-01', 'value': '211114'},
          {'date': '2016-01-01', 'value': '199424'},
          {'date': '2015-12-01', 'value': '230959'},
          {'date': '2015-11-01', 'value': '216692'},
          {'date': '2015-10-01', 'value': '228138'},
          {'date': '2015-09-01', 'value': '231339'},
          {'date': '2015-08-01', 'value': '218267'},
          {'date': '2015-07-01', 'value': '216803'},
          {'date': '2015-06-01', 'value': '252759'},
          {'date': '2015-05-01', 'value': '211139'},
          {'date': '2015-04-01', 'value': '220091'},
          {'date': '2015-03-01', 'value': '249239'},
          {'date': '2015-02-01', 'value': '206166'},
          {'date': '2015-01-01', 'value': '200582'},
          {'date': '2014-12-01', 'value': '240457'},
          {'date': '2014-11-01', 'value': '216401'},
          {'date': '2014-10-01', 'value': '238710'},
          {'date': '2014-09-01', 'value': '249698'},
          {'date': '2014-08-01', 'value': '231195'},
          {'date': '2014-07-01', 'value': '286876'},
          {'date': '2014-06-01', 'value': '257228'},
          {'date': '2014-05-01', 'value': '231723'},
          {'date': '2014-04-01', 'value': '231365'},
          {'date': '2014-03-01', 'value': '251763'},
          {'date': '2014-02-01', 'value': '221433'},
          {'date': '2014-01-01', 'value': '203981'},
          {'date': '2013-12-01', 'value': '250119'},
          {'date': '2013-11-01', 'value': '233300'},
          {'date': '2013-10-01', 'value': '236784'},
          {'date': '2013-09-01', 'value': '248206'},
          {'date': '2013-08-01', 'value': '224074'},
          {'date': '2013-07-01', 'value': '208090'},
          {'date': '2013-06-01', 'value': '260225'},
          {'date': '2013-05-01', 'value': '238678'},
          {'date': '2013-04-01', 'value': '221353'},
          {'date': '2013-03-01', 'value': '232999'},
          {'date': '2013-02-01', 'value': '225639'},
          {'date': '2013-01-01', 'value': '204169'},
          {'date': '2012-12-01', 'value': '239368'},
          {'date': '2012-11-01', 'value': '209712'},
          {'date': '2012-10-01', 'value': '222736'},
          {'date': '2012-09-01', 'value': '223423'},
          {'date': '2012-08-01', 'value': '204001'},
          {'date': '2012-07-01', 'value': '206771'},
          {'date': '2012-06-01', 'value': '233259'},
          {'date': '2012-05-01', 'value': '220785'},
          {'date': '2012-04-01', 'value': '210894'},
          {'date': '2012-03-01', 'value': '240680'},
          {'date': '2012-02-01', 'value': '224922'},
          {'date': '2012-01-01', 'value': '204013'},
          {'date': '2011-12-01', 'value': '237529'},
          {'date': '2011-11-01', 'value': '206403'},
          {'date': '2011-10-01', 'value': '206574'},
          {'date': '2011-09-01', 'value': '221336'},
          {'date': '2011-08-01', 'value': '216719'},
          {'date': '2011-07-01', 'value': '189215'},
          {'date': '2011-06-01', 'value': '216548'},
          {'date': '2011-05-01', 'value': '205025'},
          {'date': '2011-04-01', 'value': '194922'},
          {'date': '2011-03-01', 'value': '233078'},
          {'date': '2011-02-01', 'value': '187466'},
          {'date': '2011-01-01', 'value': '184037'},
          {'date': '2010-12-01', 'value': '209011'},
          {'date': '2010-11-01', 'value': '186603'},
          {'date': '2010-10-01', 'value': '192327'},
          {'date': '2010-09-01', 'value': '213131'},
          {'date': '2010-08-01', 'value': '191888'},
          {'date': '2010-07-01', 'value': '174685'},
          {'date': '2010-06-01', 'value': '200080'},
          {'date': '2010-05-01', 'value': '183535'},
          {'date': '2010-04-01', 'value': '181528'},
          {'date': '2010-03-01', 'value': '199993'},
          {'date': '2010-02-01', 'value': '169065'},
          {'date': '2010-01-01', 'value': '163488'},
          {'date': '2009-12-01', 'value': '174485'},
          {'date': '2009-11-01', 'value': '151230'},
          {'date': '2009-10-01', 'value': '163196'},
          {'date': '2009-09-01', 'value': '168746'},
          {'date': '2009-08-01', 'value': '155455'},
          {'date': '2009-07-01', 'value': '145376'},
          {'date': '2009-06-01', 'value': '157122'},
          {'date': '2009-05-01', 'value': '145714'},
          {'date': '2009-04-01', 'value': '139893'},
          {'date': '2009-03-01', 'value': '162107'},
          {'date': '2009-02-01', 'value': '137245'},
          {'date': '2009-01-01', 'value': '138218'},
          {'date': '2008-12-01', 'value': '191734'},
          {'date': '2008-11-01', 'value': '169856'},
          {'date': '2008-10-01', 'value': '197291'},
          {'date': '2008-09-01', 'value': '224233'},
          {'date': '2008-08-01', 'value': '214872'},
          {'date': '2008-07-01', 'value': '205540'},
          {'date': '2008-06-01', 'value': '242479'},
          {'date': '2008-05-01', 'value': '227995'},
          {'date': '2008-04-01', 'value': '225075'},
          {'date': '2008-03-01', 'value': '250906'},
          {'date': '2008-02-01', 'value': '229870'},
          {'date': '2008-01-01', 'value': '219946'},
          {'date': '2007-12-01', 'value': '254048'},
          {'date': '2007-11-01', 'value': '224134'},
          {'date': '2007-10-01', 'value': '235158'},
          {'date': '2007-09-01', 'value': '232386'},
          {'date': '2007-08-01', 'value': '241388'},
          {'date': '2007-07-01', 'value': '211263'},
          {'date': '2007-06-01', 'value': '243703'},
          {'date': '2007-05-01', 'value': '229326'},
          {'date': '2007-04-01', 'value': '225558'},
          {'date': '2007-03-01', 'value': '252090'},
          {'date': '2007-02-01', 'value': '211359'},
          {'date': '2007-01-01', 'value': '204185'},
          {'date': '2006-12-01', 'value': '236933'},
          {'date': '2006-11-01', 'value': '218853'},
          {'date': '2006-10-01', 'value': '219885'},
          {'date': '2006-09-01', 'value': '243185'},
          {'date': '2006-08-01', 'value': '215695'},
          {'date': '2006-07-01', 'value': '186090'},
          {'date': '2006-06-01', 'value': '237564'},
          {'date': '2006-05-01', 'value': '217869'},
          {'date': '2006-04-01', 'value': '206157'},
          {'date': '2006-03-01', 'value': '252659'},
          {'date': '2006-02-01', 'value': '209478'},
          {'date': '2006-01-01', 'value': '191920'},
          {'date': '2005-12-01', 'value': '229512'},
          {'date': '2005-11-01', 'value': '215562'},
          {'date': '2005-10-01', 'value': '211650'},
          {'date': '2005-09-01', 'value': '214582'},
          {'date': '2005-08-01', 'value': '209010'},
          {'date': '2005-07-01', 'value': '169437'},
          {'date': '2005-06-01', 'value': '224203'},
          {'date': '2005-05-01', 'value': '205691'},
          {'date': '2005-04-01', 'value': '190899'},
          {'date': '2005-03-01', 'value': '209708'},
          {'date': '2005-02-01', 'value': '188951'},
          {'date': '2005-01-01', 'value': '177594'},
          {'date': '2004-12-01', 'value': '201172'},
          {'date': '2004-11-01', 'value': '188131'},
          {'date': '2004-10-01', 'value': '186918'},
          {'date': '2004-09-01', 'value': '197167'},
          {'date': '2004-08-01', 'value': '184662'},
          {'date': '2004-07-01', 'value': '163925'},
          {'date': '2004-06-01', 'value': '197458'},
          {'date': '2004-05-01', 'value': '181865'},
          {'date': '2004-04-01', 'value': '183752'},
          {'date': '2004-03-01', 'value': '214611'},
          {'date': '2004-02-01', 'value': '180111'},
          {'date': '2004-01-01', 'value': '164926'},
          {'date': '2003-12-01', 'value': '187904'},
          {'date': '2003-11-01', 'value': '173368'},
          {'date': '2003-10-01', 'value': '190591'},
          {'date': '2003-09-01', 'value': '187270'},
          {'date': '2003-08-01', 'value': '170612'},
          {'date': '2003-07-01', 'value': '150336'},
          {'date': '2003-06-01', 'value': '183990'},
          {'date': '2003-05-01', 'value': '172361'},
          {'date': '2003-04-01', 'value': '168168'},
          {'date': '2003-03-01', 'value': '188854'},
          {'date': '2003-02-01', 'value': '169363'},
          {'date': '2003-01-01', 'value': '160196'},
          {'date': '2002-12-01', 'value': '167098'},
          {'date': '2002-11-01', 'value': '164310'},
          {'date': '2002-10-01', 'value': '174042'},
          {'date': '2002-09-01', 'value': '174195'},
          {'date': '2002-08-01', 'value': '176987'},
          {'date': '2002-07-01', 'value': '151584'},
          {'date': '2002-06-01', 'value': '173578'},
          {'date': '2002-05-01', 'value': '176314'},
          {'date': '2002-04-01', 'value': '170163'},
          {'date': '2002-03-01', 'value': '183541'},
          {'date': '2002-02-01', 'value': '167694'},
          {'date': '2002-01-01', 'value': '152537'},
          {'date': '2001-12-01', 'value': '170130'},
          {'date': '2001-11-01', 'value': '160265'},
          {'date': '2001-10-01', 'value': '175302'},
          {'date': '2001-09-01', 'value': '169765'},
          {'date': '2001-08-01', 'value': '171491'},
          {'date': '2001-07-01', 'value': '144702'},
          {'date': '2001-06-01', 'value': '188450'},
          {'date': '2001-05-01', 'value': '180620'},
          {'date': '2001-04-01', 'value': '166962'},
          {'date': '2001-03-01', 'value': '201321'},
          {'date': '2001-02-01', 'value': '176646'},
          {'date': '2001-01-01', 'value': '167108'},
          {'date': '2000-12-01', 'value': '192978'},
          {'date': '2000-11-01', 'value': '185475'},
          {'date': '2000-10-01', 'value': '187704'},
          {'date': '2000-09-01', 'value': '210685'},
          {'date': '2000-08-01', 'value': '187688'},
          {'date': '2000-07-01', 'value': '159903'},
          {'date': '2000-06-01', 'value': '237143'},
          {'date': '2000-05-01', 'value': '190188'},
          {'date': '2000-04-01', 'value': '186872'},
          {'date': '2000-03-01', 'value': '212974'},
          {'date': '2000-02-01', 'value': '189153'},
          {'date': '2000-01-01', 'value': '185813'},
          {'date': '1999-12-01', 'value': '202677'},
          {'date': '1999-11-01', 'value': '183986'},
          {'date': '1999-10-01', 'value': '193889'},
          {'date': '1999-09-01', 'value': '202427'},
          {'date': '1999-08-01', 'value': '186590'},
          {'date': '1999-07-01', 'value': '159656'},
          {'date': '1999-06-01', 'value': '198372'},
          {'date': '1999-05-01', 'value': '182326'},
          {'date': '1999-04-01', 'value': '180224'},
          {'date': '1999-03-01', 'value': '204755'},
          {'date': '1999-02-01', 'value': '185255'},
          {'date': '1999-01-01', 'value': '171934'},
          {'date': '1998-12-01', 'value': '185472'},
          {'date': '1998-11-01', 'value': '177925'},
          {'date': '1998-10-01', 'value': '181357'},
          {'date': '1998-09-01', 'value': '193961'},
          {'date': '1998-08-01', 'value': '173662'},
          {'date': '1998-07-01', 'value': '145785'},
          {'date': '1998-06-01', 'value': '187991'},
          {'date': '1998-05-01', 'value': '175154'},
          {'date': '1998-04-01', 'value': '178239'},
          {'date': '1998-03-01', 'value': '193649'},
          {'date': '1998-02-01', 'value': '182332'},
          {'date': '1998-01-01', 'value': '164391'},
          {'date': '1997-12-01', 'value': '179906'},
          {'date': '1997-11-01', 'value': '185230'},
          {'date': '1997-10-01', 'value': '183393'},
          {'date': '1997-09-01', 'value': '190959'},
          {'date': '1997-08-01', 'value': '170465'},
          {'date': '1997-07-01', 'value': '150782'},
          {'date': '1997-06-01', 'value': '187205'},
          {'date': '1997-05-01', 'value': '165694'},
          {'date': '1997-04-01', 'value': '170687'},
          {'date': '1997-03-01', 'value': '180530'},
          {'date': '1997-02-01', 'value': '172311'},
          {'date': '1997-01-01', 'value': '155358'},
          {'date': '1996-12-01', 'value': '166228'},
          {'date': '1996-11-01', 'value': '168650'},
          {'date': '1996-10-01', 'value': '169459'},
          {'date': '1996-09-01', 'value': '174797'},
          {'date': '1996-08-01', 'value': '153637'},
          {'date': '1996-07-01', 'value': '138374'},
          {'date': '1996-06-01', 'value': '172897'},
          {'date': '1996-05-01', 'value': '163769'},
          {'date': '1996-04-01', 'value': '155093'},
          {'date': '1996-03-01', 'value': '176264'},
          {'date': '1996-02-01', 'value': '159185'},
          {'date': '1996-01-01', 'value': '150440'},
          {'date': '1995-12-01', 'value': '163769'},
          {'date': '1995-11-01', 'value': '156881'},
          {'date': '1995-10-01', 'value': '158469'},
          {'date': '1995-09-01', 'value': '168324'},
          {'date': '1995-08-01', 'value': '151465'},
          {'date': '1995-07-01', 'value': '123259'},
          {'date': '1995-06-01', 'value': '161688'},
          {'date': '1995-05-01', 'value': '151770'},
          {'date': '1995-04-01', 'value': '146225'},
          {'date': '1995-03-01', 'value': '167745'},
          {'date': '1995-02-01', 'value': '156606'},
          {'date': '1995-01-01', 'value': '143440'},
          {'date': '1994-12-01', 'value': '154895'},
          {'date': '1994-11-01', 'value': '150202'},
          {'date': '1994-10-01', 'value': '151572'},
          {'date': '1994-09-01', 'value': '153625'},
          {'date': '1994-08-01', 'value': '142852'},
          {'date': '1994-07-01', 'value': '119501'},
          {'date': '1994-06-01', 'value': '155070'},
          {'date': '1994-05-01', 'value': '140366'},
          {'date': '1994-04-01', 'value': '137847'},
          {'date': '1994-03-01', 'value': '149256'},
          {'date': '1994-02-01', 'value': '139057'},
          {'date': '1994-01-01', 'value': '131392'},
          {'date': '1993-12-01', 'value': '138273'},
          {'date': '1993-11-01', 'value': '131460'},
          {'date': '1993-10-01', 'value': '135483'},
          {'date': '1993-09-01', 'value': '134114'},
          {'date': '1993-08-01', 'value': '124150'},
          {'date': '1993-07-01', 'value': '107698'},
          {'date': '1993-06-01', 'value': '138459'},
          {'date': '1993-05-01', 'value': '123210'},
          {'date': '1993-04-01', 'value': '126589'},
          {'date': '1993-03-01', 'value': '138668'},
          {'date': '1993-02-01', 'value': '130164'},
          {'date': '1993-01-01', 'value': '115794'},
          {'date': '1992-12-01', 'value': '131937'},
          {'date': '1992-11-01', 'value': '121759'},
          {'date': '1992-10-01', 'value': '131334'},
          {'date': '1992-09-01', 'value': '126277'},
          {'date': '1992-08-01', 'value': '113623'},
          {'date': '1992-07-01', 'value': '103025'},
          {'date': '1992-06-01', 'value': '131268'},
          {'date': '1992-05-01', 'value': '122274'},
          {'date': '1992-04-01', 'value': '123268'},
          {'date': '1992-03-01', 'value': '129309'},
          {'date': '1992-02-01', 'value': '118429'}],
 'interval': 'monthly',
 'name': 'Manufacturer New Orders: Durable Goods',
 'unit': 'millions of dollars'}

In [259]:
def get_unemployment():
    url = f'https://www.alphavantage.co/query?function=UNEMPLOYMENT&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_unemployment():
    pprint(i)

{'data': [{'date': '2023-01-01', 'value': '3.4'},
          {'date': '2022-12-01', 'value': '3.5'},
          {'date': '2022-11-01', 'value': '3.6'},
          {'date': '2022-10-01', 'value': '3.7'},
          {'date': '2022-09-01', 'value': '3.5'},
          {'date': '2022-08-01', 'value': '3.7'},
          {'date': '2022-07-01', 'value': '3.5'},
          {'date': '2022-06-01', 'value': '3.6'},
          {'date': '2022-05-01', 'value': '3.6'},
          {'date': '2022-04-01', 'value': '3.6'},
          {'date': '2022-03-01', 'value': '3.6'},
          {'date': '2022-02-01', 'value': '3.8'},
          {'date': '2022-01-01', 'value': '4.0'},
          {'date': '2021-12-01', 'value': '3.9'},
          {'date': '2021-11-01', 'value': '4.2'},
          {'date': '2021-10-01', 'value': '4.5'},
          {'date': '2021-09-01', 'value': '4.8'},
          {'date': '2021-08-01', 'value': '5.2'},
          {'date': '2021-07-01', 'value': '5.4'},
          {'date': '2021-06-01', 'value': '5.9'},
          {'date': '2021-05-01', 'value': '5.8'},
          {'date': '2021-04-01', 'value': '6.1'},
          {'date': '2021-03-01', 'value': '6.1'},
          {'date': '2021-02-01', 'value': '6.2'},
          {'date': '2021-01-01', 'value': '6.3'},
          {'date': '2020-12-01', 'value': '6.7'},
          {'date': '2020-11-01', 'value': '6.7'},
          {'date': '2020-10-01', 'value': '6.9'},
          {'date': '2020-09-01', 'value': '7.9'},
          {'date': '2020-08-01', 'value': '8.4'},
          {'date': '2020-07-01', 'value': '10.2'},
          {'date': '2020-06-01', 'value': '11.0'},
          {'date': '2020-05-01', 'value': '13.2'},
          {'date': '2020-04-01', 'value': '14.7'},
          {'date': '2020-03-01', 'value': '4.4'},
          {'date': '2020-02-01', 'value': '3.5'},
          {'date': '2020-01-01', 'value': '3.5'},
          {'date': '2019-12-01', 'value': '3.6'},
          {'date': '2019-11-01', 'value': '3.6'},
          {'date': '2019-10-01', 'value': '3.6'},
          {'date': '2019-09-01', 'value': '3.5'},
          {'date': '2019-08-01', 'value': '3.7'},
          {'date': '2019-07-01', 'value': '3.7'},
          {'date': '2019-06-01', 'value': '3.6'},
          {'date': '2019-05-01', 'value': '3.7'},
          {'date': '2019-04-01', 'value': '3.6'},
          {'date': '2019-03-01', 'value': '3.8'},
          {'date': '2019-02-01', 'value': '3.8'},
          {'date': '2019-01-01', 'value': '4.0'},
          {'date': '2018-12-01', 'value': '3.9'},
          {'date': '2018-11-01', 'value': '3.8'},
          {'date': '2018-10-01', 'value': '3.8'},
          {'date': '2018-09-01', 'value': '3.7'},
          {'date': '2018-08-01', 'value': '3.8'},
          {'date': '2018-07-01', 'value': '3.8'},
          {'date': '2018-06-01', 'value': '4.0'},
          {'date': '2018-05-01', 'value': '3.8'},
          {'date': '2018-04-01', 'value': '4.0'},
          {'date': '2018-03-01', 'value': '4.0'},
          {'date': '2018-02-01', 'value': '4.1'},
          {'date': '2018-01-01', 'value': '4.0'},
          {'date': '2017-12-01', 'value': '4.1'},
          {'date': '2017-11-01', 'value': '4.2'},
          {'date': '2017-10-01', 'value': '4.2'},
          {'date': '2017-09-01', 'value': '4.3'},
          {'date': '2017-08-01', 'value': '4.4'},
          {'date': '2017-07-01', 'value': '4.3'},
          {'date': '2017-06-01', 'value': '4.3'},
          {'date': '2017-05-01', 'value': '4.4'},
          {'date': '2017-04-01', 'value': '4.4'},
          {'date': '2017-03-01', 'value': '4.4'},
          {'date': '2017-02-01', 'value': '4.6'},
          {'date': '2017-01-01', 'value': '4.7'},
          {'date': '2016-12-01', 'value': '4.7'},
          {'date': '2016-11-01', 'value': '4.7'},
          {'date': '2016-10-01', 'value': '4.9'},
          {'date': '2016-09-01', 'value': '5.0'},
          {'date': '2016-08-01', 'value': '4.9'},
          {'date': '2016-07-01', 'value': '4.8'},
          {'date': '2016-06-01', 'value': '4.9'},
          {'date': '2016-05-01', 'value': '4.8'},
          {'date': '2016-04-01', 'value': '5.1'},
          {'date': '2016-03-01', 'value': '5.0'},
          {'date': '2016-02-01', 'value': '4.9'},
          {'date': '2016-01-01', 'value': '4.8'},
          {'date': '2015-12-01', 'value': '5.0'},
          {'date': '2015-11-01', 'value': '5.1'},
          {'date': '2015-10-01', 'value': '5.0'},
          {'date': '2015-09-01', 'value': '5.0'},
          {'date': '2015-08-01', 'value': '5.1'},
          {'date': '2015-07-01', 'value': '5.2'},
          {'date': '2015-06-01', 'value': '5.3'},
          {'date': '2015-05-01', 'value': '5.6'},
          {'date': '2015-04-01', 'value': '5.4'},
          {'date': '2015-03-01', 'value': '5.4'},
          {'date': '2015-02-01', 'value': '5.5'},
          {'date': '2015-01-01', 'value': '5.7'},
          {'date': '2014-12-01', 'value': '5.6'},
          {'date': '2014-11-01', 'value': '5.8'},
          {'date': '2014-10-01', 'value': '5.7'},
          {'date': '2014-09-01', 'value': '5.9'},
          {'date': '2014-08-01', 'value': '6.1'},
          {'date': '2014-07-01', 'value': '6.2'},
          {'date': '2014-06-01', 'value': '6.1'},
          {'date': '2014-05-01', 'value': '6.3'},
          {'date': '2014-04-01', 'value': '6.2'},
          {'date': '2014-03-01', 'value': '6.7'},
          {'date': '2014-02-01', 'value': '6.7'},
          {'date': '2014-01-01', 'value': '6.6'},
          {'date': '2013-12-01', 'value': '6.7'},
          {'date': '2013-11-01', 'value': '6.9'},
          {'date': '2013-10-01', 'value': '7.2'},
          {'date': '2013-09-01', 'value': '7.2'},
          {'date': '2013-08-01', 'value': '7.2'},
          {'date': '2013-07-01', 'value': '7.3'},
          {'date': '2013-06-01', 'value': '7.5'},
          {'date': '2013-05-01', 'value': '7.5'},
          {'date': '2013-04-01', 'value': '7.6'},
          {'date': '2013-03-01', 'value': '7.5'},
          {'date': '2013-02-01', 'value': '7.7'},
          {'date': '2013-01-01', 'value': '8.0'},
          {'date': '2012-12-01', 'value': '7.9'},
          {'date': '2012-11-01', 'value': '7.7'},
          {'date': '2012-10-01', 'value': '7.8'},
          {'date': '2012-09-01', 'value': '7.8'},
          {'date': '2012-08-01', 'value': '8.1'},
          {'date': '2012-07-01', 'value': '8.2'},
          {'date': '2012-06-01', 'value': '8.2'},
          {'date': '2012-05-01', 'value': '8.2'},
          {'date': '2012-04-01', 'value': '8.2'},
          {'date': '2012-03-01', 'value': '8.2'},
          {'date': '2012-02-01', 'value': '8.3'},
          {'date': '2012-01-01', 'value': '8.3'},
          {'date': '2011-12-01', 'value': '8.5'},
          {'date': '2011-11-01', 'value': '8.6'},
          {'date': '2011-10-01', 'value': '8.8'},
          {'date': '2011-09-01', 'value': '9.0'},
          {'date': '2011-08-01', 'value': '9.0'},
          {'date': '2011-07-01', 'value': '9.0'},
          {'date': '2011-06-01', 'value': '9.1'},
          {'date': '2011-05-01', 'value': '9.0'},
          {'date': '2011-04-01', 'value': '9.1'},
          {'date': '2011-03-01', 'value': '9.0'},
          {'date': '2011-02-01', 'value': '9.0'},
          {'date': '2011-01-01', 'value': '9.1'},
          {'date': '2010-12-01', 'value': '9.3'},
          {'date': '2010-11-01', 'value': '9.8'},
          {'date': '2010-10-01', 'value': '9.4'},
          {'date': '2010-09-01', 'value': '9.5'},
          {'date': '2010-08-01', 'value': '9.5'},
          {'date': '2010-07-01', 'value': '9.4'},
          {'date': '2010-06-01', 'value': '9.4'},
          {'date': '2010-05-01', 'value': '9.6'},
          {'date': '2010-04-01', 'value': '9.9'},
          {'date': '2010-03-01', 'value': '9.9'},
          {'date': '2010-02-01', 'value': '9.8'},
          {'date': '2010-01-01', 'value': '9.8'},
          {'date': '2009-12-01', 'value': '9.9'},
          {'date': '2009-11-01', 'value': '9.9'},
          {'date': '2009-10-01', 'value': '10.0'},
          {'date': '2009-09-01', 'value': '9.8'},
          {'date': '2009-08-01', 'value': '9.6'},
          {'date': '2009-07-01', 'value': '9.5'},
          {'date': '2009-06-01', 'value': '9.5'},
          {'date': '2009-05-01', 'value': '9.4'},
          {'date': '2009-04-01', 'value': '9.0'},
          {'date': '2009-03-01', 'value': '8.7'},
          {'date': '2009-02-01', 'value': '8.3'},
          {'date': '2009-01-01', 'value': '7.8'},
          {'date': '2008-12-01', 'value': '7.3'},
          {'date': '2008-11-01', 'value': '6.8'},
          {'date': '2008-10-01', 'value': '6.5'},
          {'date': '2008-09-01', 'value': '6.1'},
          {'date': '2008-08-01', 'value': '6.1'},
          {'date': '2008-07-01', 'value': '5.8'},
          {'date': '2008-06-01', 'value': '5.6'},
          {'date': '2008-05-01', 'value': '5.4'},
          {'date': '2008-04-01', 'value': '5.0'},
          {'date': '2008-03-01', 'value': '5.1'},
          {'date': '2008-02-01', 'value': '4.9'},
          {'date': '2008-01-01', 'value': '5.0'},
          {'date': '2007-12-01', 'value': '5.0'},
          {'date': '2007-11-01', 'value': '4.7'},
          {'date': '2007-10-01', 'value': '4.7'},
          {'date': '2007-09-01', 'value': '4.7'},
          {'date': '2007-08-01', 'value': '4.6'},
          {'date': '2007-07-01', 'value': '4.7'},
          {'date': '2007-06-01', 'value': '4.6'},
          {'date': '2007-05-01', 'value': '4.4'},
          {'date': '2007-04-01', 'value': '4.5'},
          {'date': '2007-03-01', 'value': '4.4'},
          {'date': '2007-02-01', 'value': '4.5'},
          {'date': '2007-01-01', 'value': '4.6'},
          {'date': '2006-12-01', 'value': '4.4'},
          {'date': '2006-11-01', 'value': '4.5'},
          {'date': '2006-10-01', 'value': '4.4'},
          {'date': '2006-09-01', 'value': '4.5'},
          {'date': '2006-08-01', 'value': '4.7'},
          {'date': '2006-07-01', 'value': '4.7'},
          {'date': '2006-06-01', 'value': '4.6'},
          {'date': '2006-05-01', 'value': '4.6'},
          {'date': '2006-04-01', 'value': '4.7'},
          {'date': '2006-03-01', 'value': '4.7'},
          {'date': '2006-02-01', 'value': '4.8'},
          {'date': '2006-01-01', 'value': '4.7'},
          {'date': '2005-12-01', 'value': '4.9'},
          {'date': '2005-11-01', 'value': '5.0'},
          {'date': '2005-10-01', 'value': '5.0'},
          {'date': '2005-09-01', 'value': '5.0'},
          {'date': '2005-08-01', 'value': '4.9'},
          {'date': '2005-07-01', 'value': '5.0'},
          {'date': '2005-06-01', 'value': '5.0'},
          {'date': '2005-05-01', 'value': '5.1'},
          {'date': '2005-04-01', 'value': '5.2'},
          {'date': '2005-03-01', 'value': '5.2'},
          {'date': '2005-02-01', 'value': '5.4'},
          {'date': '2005-01-01', 'value': '5.3'},
          {'date': '2004-12-01', 'value': '5.4'},
          {'date': '2004-11-01', 'value': '5.4'},
          {'date': '2004-10-01', 'value': '5.5'},
          {'date': '2004-09-01', 'value': '5.4'},
          {'date': '2004-08-01', 'value': '5.4'},
          {'date': '2004-07-01', 'value': '5.5'},
          {'date': '2004-06-01', 'value': '5.6'},
          {'date': '2004-05-01', 'value': '5.6'},
          {'date': '2004-04-01', 'value': '5.6'},
          {'date': '2004-03-01', 'value': '5.8'},
          {'date': '2004-02-01', 'value': '5.6'},
          {'date': '2004-01-01', 'value': '5.7'},
          {'date': '2003-12-01', 'value': '5.7'},
          {'date': '2003-11-01', 'value': '5.8'},
          {'date': '2003-10-01', 'value': '6.0'},
          {'date': '2003-09-01', 'value': '6.1'},
          {'date': '2003-08-01', 'value': '6.1'},
          {'date': '2003-07-01', 'value': '6.2'},
          {'date': '2003-06-01', 'value': '6.3'},
          {'date': '2003-05-01', 'value': '6.1'},
          {'date': '2003-04-01', 'value': '6.0'},
          {'date': '2003-03-01', 'value': '5.9'},
          {'date': '2003-02-01', 'value': '5.9'},
          {'date': '2003-01-01', 'value': '5.8'},
          {'date': '2002-12-01', 'value': '6.0'},
          {'date': '2002-11-01', 'value': '5.9'},
          {'date': '2002-10-01', 'value': '5.7'},
          {'date': '2002-09-01', 'value': '5.7'},
          {'date': '2002-08-01', 'value': '5.7'},
          {'date': '2002-07-01', 'value': '5.8'},
          {'date': '2002-06-01', 'value': '5.8'},
          {'date': '2002-05-01', 'value': '5.8'},
          {'date': '2002-04-01', 'value': '5.9'},
          {'date': '2002-03-01', 'value': '5.7'},
          {'date': '2002-02-01', 'value': '5.7'},
          {'date': '2002-01-01', 'value': '5.7'},
          {'date': '2001-12-01', 'value': '5.7'},
          {'date': '2001-11-01', 'value': '5.5'},
          {'date': '2001-10-01', 'value': '5.3'},
          {'date': '2001-09-01', 'value': '5.0'},
          {'date': '2001-08-01', 'value': '4.9'},
          {'date': '2001-07-01', 'value': '4.6'},
          {'date': '2001-06-01', 'value': '4.5'},
          {'date': '2001-05-01', 'value': '4.3'},
          {'date': '2001-04-01', 'value': '4.4'},
          {'date': '2001-03-01', 'value': '4.3'},
          {'date': '2001-02-01', 'value': '4.2'},
          {'date': '2001-01-01', 'value': '4.2'},
          {'date': '2000-12-01', 'value': '3.9'},
          {'date': '2000-11-01', 'value': '3.9'},
          {'date': '2000-10-01', 'value': '3.9'},
          {'date': '2000-09-01', 'value': '3.9'},
          {'date': '2000-08-01', 'value': '4.1'},
          {'date': '2000-07-01', 'value': '4.0'},
          {'date': '2000-06-01', 'value': '4.0'},
          {'date': '2000-05-01', 'value': '4.0'},
          {'date': '2000-04-01', 'value': '3.8'},
          {'date': '2000-03-01', 'value': '4.0'},
          {'date': '2000-02-01', 'value': '4.1'},
          {'date': '2000-01-01', 'value': '4.0'},
          {'date': '1999-12-01', 'value': '4.0'},
          {'date': '1999-11-01', 'value': '4.1'},
          {'date': '1999-10-01', 'value': '4.1'},
          {'date': '1999-09-01', 'value': '4.2'},
          {'date': '1999-08-01', 'value': '4.2'},
          {'date': '1999-07-01', 'value': '4.3'},
          {'date': '1999-06-01', 'value': '4.3'},
          {'date': '1999-05-01', 'value': '4.2'},
          {'date': '1999-04-01', 'value': '4.3'},
          {'date': '1999-03-01', 'value': '4.2'},
          {'date': '1999-02-01', 'value': '4.4'},
          {'date': '1999-01-01', 'value': '4.3'},
          {'date': '1998-12-01', 'value': '4.4'},
          {'date': '1998-11-01', 'value': '4.4'},
          {'date': '1998-10-01', 'value': '4.5'},
          {'date': '1998-09-01', 'value': '4.6'},
          {'date': '1998-08-01', 'value': '4.5'},
          {'date': '1998-07-01', 'value': '4.5'},
          {'date': '1998-06-01', 'value': '4.5'},
          {'date': '1998-05-01', 'value': '4.4'},
          {'date': '1998-04-01', 'value': '4.3'},
          {'date': '1998-03-01', 'value': '4.7'},
          {'date': '1998-02-01', 'value': '4.6'},
          {'date': '1998-01-01', 'value': '4.6'},
          {'date': '1997-12-01', 'value': '4.7'},
          {'date': '1997-11-01', 'value': '4.6'},
          {'date': '1997-10-01', 'value': '4.7'},
          {'date': '1997-09-01', 'value': '4.9'},
          {'date': '1997-08-01', 'value': '4.8'},
          {'date': '1997-07-01', 'value': '4.9'},
          {'date': '1997-06-01', 'value': '5.0'},
          {'date': '1997-05-01', 'value': '4.9'},
          {'date': '1997-04-01', 'value': '5.1'},
          {'date': '1997-03-01', 'value': '5.2'},
          {'date': '1997-02-01', 'value': '5.2'},
          {'date': '1997-01-01', 'value': '5.3'},
          {'date': '1996-12-01', 'value': '5.4'},
          {'date': '1996-11-01', 'value': '5.4'},
          {'date': '1996-10-01', 'value': '5.2'},
          {'date': '1996-09-01', 'value': '5.2'},
          {'date': '1996-08-01', 'value': '5.1'},
          {'date': '1996-07-01', 'value': '5.5'},
          {'date': '1996-06-01', 'value': '5.3'},
          {'date': '1996-05-01', 'value': '5.6'},
          {'date': '1996-04-01', 'value': '5.6'},
          {'date': '1996-03-01', 'value': '5.5'},
          {'date': '1996-02-01', 'value': '5.5'},
          {'date': '1996-01-01', 'value': '5.6'},
          {'date': '1995-12-01', 'value': '5.6'},
          {'date': '1995-11-01', 'value': '5.6'},
          {'date': '1995-10-01', 'value': '5.5'},
          {'date': '1995-09-01', 'value': '5.6'},
          {'date': '1995-08-01', 'value': '5.7'},
          {'date': '1995-07-01', 'value': '5.7'},
          {'date': '1995-06-01', 'value': '5.6'},
          {'date': '1995-05-01', 'value': '5.6'},
          {'date': '1995-04-01', 'value': '5.8'},
          {'date': '1995-03-01', 'value': '5.4'},
          {'date': '1995-02-01', 'value': '5.4'},
          {'date': '1995-01-01', 'value': '5.6'},
          {'date': '1994-12-01', 'value': '5.5'},
          {'date': '1994-11-01', 'value': '5.6'},
          {'date': '1994-10-01', 'value': '5.8'},
          {'date': '1994-09-01', 'value': '5.9'},
          {'date': '1994-08-01', 'value': '6.0'},
          {'date': '1994-07-01', 'value': '6.1'},
          {'date': '1994-06-01', 'value': '6.1'},
          {'date': '1994-05-01', 'value': '6.1'},
          {'date': '1994-04-01', 'value': '6.4'},
          {'date': '1994-03-01', 'value': '6.5'},
          {'date': '1994-02-01', 'value': '6.6'},
          {'date': '1994-01-01', 'value': '6.6'},
          {'date': '1993-12-01', 'value': '6.5'},
          {'date': '1993-11-01', 'value': '6.6'},
          {'date': '1993-10-01', 'value': '6.8'},
          {'date': '1993-09-01', 'value': '6.7'},
          {'date': '1993-08-01', 'value': '6.8'},
          {'date': '1993-07-01', 'value': '6.9'},
          {'date': '1993-06-01', 'value': '7.0'},
          {'date': '1993-05-01', 'value': '7.1'},
          {'date': '1993-04-01', 'value': '7.1'},
          {'date': '1993-03-01', 'value': '7.0'},
          {'date': '1993-02-01', 'value': '7.1'},
          {'date': '1993-01-01', 'value': '7.3'},
          {'date': '1992-12-01', 'value': '7.4'},
          {'date': '1992-11-01', 'value': '7.4'},
          {'date': '1992-10-01', 'value': '7.3'},
          {'date': '1992-09-01', 'value': '7.6'},
          {'date': '1992-08-01', 'value': '7.6'},
          {'date': '1992-07-01', 'value': '7.7'},
          {'date': '1992-06-01', 'value': '7.8'},
          {'date': '1992-05-01', 'value': '7.6'},
          {'date': '1992-04-01', 'value': '7.4'},
          {'date': '1992-03-01', 'value': '7.4'},
          {'date': '1992-02-01', 'value': '7.4'},
          {'date': '1992-01-01', 'value': '7.3'},
          {'date': '1991-12-01', 'value': '7.3'},
          {'date': '1991-11-01', 'value': '7.0'},
          {'date': '1991-10-01', 'value': '7.0'},
          {'date': '1991-09-01', 'value': '6.9'},
          {'date': '1991-08-01', 'value': '6.9'},
          {'date': '1991-07-01', 'value': '6.8'},
          {'date': '1991-06-01', 'value': '6.9'},
          {'date': '1991-05-01', 'value': '6.9'},
          {'date': '1991-04-01', 'value': '6.7'},
          {'date': '1991-03-01', 'value': '6.8'},
          {'date': '1991-02-01', 'value': '6.6'},
          {'date': '1991-01-01', 'value': '6.4'},
          {'date': '1990-12-01', 'value': '6.3'},
          {'date': '1990-11-01', 'value': '6.2'},
          {'date': '1990-10-01', 'value': '5.9'},
          {'date': '1990-09-01', 'value': '5.9'},
          {'date': '1990-08-01', 'value': '5.7'},
          {'date': '1990-07-01', 'value': '5.5'},
          {'date': '1990-06-01', 'value': '5.2'},
          {'date': '1990-05-01', 'value': '5.4'},
          {'date': '1990-04-01', 'value': '5.4'},
          {'date': '1990-03-01', 'value': '5.2'},
          {'date': '1990-02-01', 'value': '5.3'},
          {'date': '1990-01-01', 'value': '5.4'},
          {'date': '1989-12-01', 'value': '5.4'},
          {'date': '1989-11-01', 'value': '5.4'},

In [261]:
def get_nonfarm_payroll():
    url = f'https://www.alphavantage.co/query?function=NONFARM_PAYROLL&apikey={alpha_vantage_api}'
    r = requests.get(url)
    data = r.json()

    yield data

for i in get_nonfarm_payroll():
    pprint(i)

{'data': [{'date': '2023-01-01', 'value': '152844'},
          {'date': '2022-12-01', 'value': '155349'},
          {'date': '2022-11-01', 'value': '155642'},
          {'date': '2022-10-01', 'value': '155041'},
          {'date': '2022-09-01', 'value': '153809'},
          {'date': '2022-08-01', 'value': '153285'},
          {'date': '2022-07-01', 'value': '152875'},
          {'date': '2022-06-01', 'value': '153217'},
          {'date': '2022-05-01', 'value': '152291'},
          {'date': '2022-04-01', 'value': '151449'},
          {'date': '2022-03-01', 'value': '150411'},
          {'date': '2022-02-01', 'value': '149606'},
          {'date': '2022-01-01', 'value': '147932'},
          {'date': '2021-12-01', 'value': '150740'},
          {'date': '2021-11-01', 'value': '150543'},
          {'date': '2021-10-01', 'value': '149605'},
          {'date': '2021-09-01', 'value': '147917'},
          {'date': '2021-08-01', 'value': '147159'},
          {'date': '2021-07-01', 'value': '146619'},
          {'date': '2021-06-01', 'value': '146626'},
          {'date': '2021-05-01', 'value': '145392'},
          {'date': '2021-04-01', 'value': '144402'},
          {'date': '2021-03-01', 'value': '143308'},
          {'date': '2021-02-01', 'value': '142129'},
          {'date': '2021-01-01', 'value': '140974'},
          {'date': '2020-12-01', 'value': '143604'},
          {'date': '2020-11-01', 'value': '144116'},
          {'date': '2020-10-01', 'value': '143564'},
          {'date': '2020-09-01', 'value': '141957'},
          {'date': '2020-08-01', 'value': '140727'},
          {'date': '2020-07-01', 'value': '139105'},
          {'date': '2020-06-01', 'value': '138507'},
          {'date': '2020-05-01', 'value': '133422'},
          {'date': '2020-04-01', 'value': '130253'},
          {'date': '2020-03-01', 'value': '149952'},
          {'date': '2020-02-01', 'value': '150967'},
          {'date': '2020-01-01', 'value': '150056'},
          {'date': '2019-12-01', 'value': '152845'},
          {'date': '2019-11-01', 'value': '153095'},
          {'date': '2019-10-01', 'value': '152500'},
          {'date': '2019-09-01', 'value': '151510'},
          {'date': '2019-08-01', 'value': '151094'},
          {'date': '2019-07-01', 'value': '150658'},
          {'date': '2019-06-01', 'value': '151714'},
          {'date': '2019-05-01', 'value': '151093'},
          {'date': '2019-04-01', 'value': '150422'},
          {'date': '2019-03-01', 'value': '149360'},
          {'date': '2019-02-01', 'value': '148683'},
          {'date': '2019-01-01', 'value': '147878'},
          {'date': '2018-12-01', 'value': '150831'},
          {'date': '2018-11-01', 'value': '151032'},
          {'date': '2018-10-01', 'value': '150553'},
          {'date': '2018-09-01', 'value': '149545'},
          {'date': '2018-08-01', 'value': '149236'},
          {'date': '2018-07-01', 'value': '148767'},
          {'date': '2018-06-01', 'value': '149930'},
          {'date': '2018-05-01', 'value': '149264'},
          {'date': '2018-04-01', 'value': '148329'},
          {'date': '2018-03-01', 'value': '147352'},
          {'date': '2018-02-01', 'value': '146649'},
          {'date': '2018-01-01', 'value': '145412'},
          {'date': '2017-12-01', 'value': '148509'},
          {'date': '2017-11-01', 'value': '148758'},
          {'date': '2017-10-01', 'value': '148182'},
          {'date': '2017-09-01', 'value': '147169'},
          {'date': '2017-08-01', 'value': '146782'},
          {'date': '2017-07-01', 'value': '146464'},
          {'date': '2017-06-01', 'value': '147566'},
          {'date': '2017-05-01', 'value': '146924'},
          {'date': '2017-04-01', 'value': '146086'},
          {'date': '2017-03-01', 'value': '145062'},
          {'date': '2017-02-01', 'value': '144405'},
          {'date': '2017-01-01', 'value': '143376'},
          {'date': '2016-12-01', 'value': '146252'},
          {'date': '2016-11-01', 'value': '146465'},
          {'date': '2016-10-01', 'value': '146032'},
          {'date': '2016-09-01', 'value': '145150'},
          {'date': '2016-08-01', 'value': '144485'},
          {'date': '2016-07-01', 'value': '144232'},
          {'date': '2016-06-01', 'value': '145205'},
          {'date': '2016-05-01', 'value': '144540'},
          {'date': '2016-04-01', 'value': '143893'},
          {'date': '2016-03-01', 'value': '142797'},
          {'date': '2016-02-01', 'value': '141901'},
          {'date': '2016-01-01', 'value': '141072'},
          {'date': '2015-12-01', 'value': '144045'},
          {'date': '2015-11-01', 'value': '144049'},
          {'date': '2015-10-01', 'value': '143626'},
          {'date': '2015-09-01', 'value': '142477'},
          {'date': '2015-08-01', 'value': '141921'},
          {'date': '2015-07-01', 'value': '141729'},
          {'date': '2015-06-01', 'value': '142681'},
          {'date': '2015-05-01', 'value': '142205'},
          {'date': '2015-04-01', 'value': '141264'},
          {'date': '2015-03-01', 'value': '140080'},
          {'date': '2015-02-01', 'value': '139323'},
          {'date': '2015-01-01', 'value': '138491'},
          {'date': '2014-12-01', 'value': '141306'},
          {'date': '2014-11-01', 'value': '141314'},
          {'date': '2014-10-01', 'value': '140848'},
          {'date': '2014-09-01', 'value': '139793'},
          {'date': '2014-08-01', 'value': '139105'},
          {'date': '2014-07-01', 'value': '138727'},
          {'date': '2014-06-01', 'value': '139804'},
          {'date': '2014-05-01', 'value': '139217'},
          {'date': '2014-04-01', 'value': '138306'},
          {'date': '2014-03-01', 'value': '137169'},
          {'date': '2014-02-01', 'value': '136211'},
          {'date': '2014-01-01', 'value': '135471'},
          {'date': '2013-12-01', 'value': '138274'},
          {'date': '2013-11-01', 'value': '138525'},
          {'date': '2013-10-01', 'value': '138001'},
          {'date': '2013-09-01', 'value': '137077'},
          {'date': '2013-08-01', 'value': '136471'},
          {'date': '2013-07-01', 'value': '136034'},
          {'date': '2013-06-01', 'value': '137209'},
          {'date': '2013-05-01', 'value': '136797'},
          {'date': '2013-04-01', 'value': '135905'},
          {'date': '2013-03-01', 'value': '134901'},
          {'date': '2013-02-01', 'value': '134102'},
          {'date': '2013-01-01', 'value': '133063'},
          {'date': '2012-12-01', 'value': '135947'},
          {'date': '2012-11-01', 'value': '136023'},
          {'date': '2012-10-01', 'value': '135633'},
          {'date': '2012-09-01', 'value': '134783'},
          {'date': '2012-08-01', 'value': '134156'},
          {'date': '2012-07-01', 'value': '133778'},
          {'date': '2012-06-01', 'value': '134986'},
          {'date': '2012-05-01', 'value': '134648'},
          {'date': '2012-04-01', 'value': '133836'},
          {'date': '2012-03-01', 'value': '132954'},
          {'date': '2012-02-01', 'value': '132050'},
          {'date': '2012-01-01', 'value': '131094'},
          {'date': '2011-12-01', 'value': '133701'},
          {'date': '2011-11-01', 'value': '133876'},
          {'date': '2011-10-01', 'value': '133540'},
          {'date': '2011-09-01', 'value': '132617'},
          {'date': '2011-08-01', 'value': '131870'},
          {'date': '2011-07-01', 'value': '131599'},
          {'date': '2011-06-01', 'value': '132871'},
          {'date': '2011-05-01', 'value': '132382'},
          {'date': '2011-04-01', 'value': '131698'},
          {'date': '2011-03-01', 'value': '130482'},
          {'date': '2011-02-01', 'value': '129576'},
          {'date': '2011-01-01', 'value': '128760'},
          {'date': '2010-12-01', 'value': '131622'},
          {'date': '2010-11-01', 'value': '131930'},
          {'date': '2010-10-01', 'value': '131624'},
          {'date': '2010-09-01', 'value': '130650'},
          {'date': '2010-08-01', 'value': '130158'},
          {'date': '2010-07-01', 'value': '130094'},
          {'date': '2010-06-01', 'value': '131431'},
          {'date': '2010-05-01', 'value': '131313'},
          {'date': '2010-04-01', 'value': '130195'},
          {'date': '2010-03-01', 'value': '129073'},
          {'date': '2010-02-01', 'value': '128240'},
          {'date': '2010-01-01', 'value': '127804'},
          {'date': '2009-12-01', 'value': '130673'},
          {'date': '2009-11-01', 'value': '131220'},
          {'date': '2009-10-01', 'value': '131172'},
          {'date': '2009-09-01', 'value': '130571'},
          {'date': '2009-08-01', 'value': '130216'},
          {'date': '2009-07-01', 'value': '130337'},
          {'date': '2009-06-01', 'value': '131933'},
          {'date': '2009-05-01', 'value': '132114'},
          {'date': '2009-04-01', 'value': '131842'},
          {'date': '2009-03-01', 'value': '131659'},
          {'date': '2009-02-01', 'value': '131792'},
          {'date': '2009-01-01', 'value': '132021'},
          {'date': '2008-12-01', 'value': '135713'},
          {'date': '2008-11-01', 'value': '136744'},
          {'date': '2008-10-01', 'value': '137424'},
          {'date': '2008-09-01', 'value': '137130'},
          {'date': '2008-08-01', 'value': '137077'},
          {'date': '2008-07-01', 'value': '137184'},
          {'date': '2008-06-01', 'value': '138665'},
          {'date': '2008-05-01', 'value': '138470'},
          {'date': '2008-04-01', 'value': '137894'},
          {'date': '2008-03-01', 'value': '137361'},
          {'date': '2008-02-01', 'value': '136770'},
          {'date': '2008-01-01', 'value': '136252'},
          {'date': '2007-12-01', 'value': '139279'},
          {'date': '2007-11-01', 'value': '139494'},
          {'date': '2007-10-01', 'value': '139181'},
          {'date': '2007-09-01', 'value': '138435'},
          {'date': '2007-08-01', 'value': '137872'},
          {'date': '2007-07-01', 'value': '137760'},
          {'date': '2007-06-01', 'value': '139156'},
          {'date': '2007-05-01', 'value': '138654'},
          {'date': '2007-04-01', 'value': '137712'},
          {'date': '2007-03-01', 'value': '136907'},
          {'date': '2007-02-01', 'value': '136008'},
          {'date': '2007-01-01', 'value': '135317'},
          {'date': '2006-12-01', 'value': '138107'},
          {'date': '2006-11-01', 'value': '138217'},
          {'date': '2006-10-01', 'value': '137831'},
          {'date': '2006-09-01', 'value': '137129'},
          {'date': '2006-08-01', 'value': '136462'},
          {'date': '2006-07-01', 'value': '136256'},
          {'date': '2006-06-01', 'value': '137432'},
          {'date': '2006-05-01', 'value': '136927'},
          {'date': '2006-04-01', 'value': '136124'},
          {'date': '2006-03-01', 'value': '135209'},
          {'date': '2006-02-01', 'value': '134229'},
          {'date': '2006-01-01', 'value': '133302'},
          {'date': '2005-12-01', 'value': '135954'},
          {'date': '2005-11-01', 'value': '136158'},
          {'date': '2005-10-01', 'value': '135599'},
          {'date': '2005-09-01', 'value': '134869'},
          {'date': '2005-08-01', 'value': '134244'},
          {'date': '2005-07-01', 'value': '133993'},
          {'date': '2005-06-01', 'value': '135053'},
          {'date': '2005-05-01', 'value': '134384'},
          {'date': '2005-04-01', 'value': '133571'},
          {'date': '2005-03-01', 'value': '132358'},
          {'date': '2005-02-01', 'value': '131519'},
          {'date': '2005-01-01', 'value': '130695'},
          {'date': '2004-12-01', 'value': '133399'},
          {'date': '2004-11-01', 'value': '133630'},
          {'date': '2004-10-01', 'value': '133380'},
          {'date': '2004-09-01', 'value': '132398'},
          {'date': '2004-08-01', 'value': '131685'},
          {'date': '2004-07-01', 'value': '131664'},
          {'date': '2004-06-01', 'value': '132824'},
          {'date': '2004-05-01', 'value': '132380'},
          {'date': '2004-04-01', 'value': '131477'},
          {'date': '2004-03-01', 'value': '130361'},
          {'date': '2004-02-01', 'value': '129320'},
          {'date': '2004-01-01', 'value': '128709'},
          {'date': '2003-12-01', 'value': '131368'},
          {'date': '2003-11-01', 'value': '131548'},
          {'date': '2003-10-01', 'value': '131383'},
          {'date': '2003-09-01', 'value': '130590'},
          {'date': '2003-08-01', 'value': '129935'},
          {'date': '2003-07-01', 'value': '129884'},
          {'date': '2003-06-01', 'value': '131221'},
          {'date': '2003-05-01', 'value': '130892'},
          {'date': '2003-04-01', 'value': '130131'},
          {'date': '2003-03-01', 'value': '129474'},
          {'date': '2003-02-01', 'value': '128977'},
          {'date': '2003-01-01', 'value': '128561'},
          {'date': '2002-12-01', 'value': '131242'},
          {'date': '2002-11-01', 'value': '131651'},
          {'date': '2002-10-01', 'value': '131530'},
          {'date': '2002-09-01', 'value': '130859'},
          {'date': '2002-08-01', 'value': '130341'},
          {'date': '2002-07-01', 'value': '130255'},
          {'date': '2002-06-01', 'value': '131695'},
          {'date': '2002-05-01', 'value': '131314'},
          {'date': '2002-04-01', 'value': '130543'},
          {'date': '2002-03-01', 'value': '129955'},
          {'date': '2002-02-01', 'value': '129347'},
          {'date': '2002-01-01', 'value': '128876'},
          {'date': '2001-12-01', 'value': '131758'},
          {'date': '2001-11-01', 'value': '132142'},
          {'date': '2001-10-01', 'value': '132329'},
          {'date': '2001-09-01', 'value': '132128'},
          {'date': '2001-08-01', 'value': '131860'},
          {'date': '2001-07-01', 'value': '131931'},
          {'date': '2001-06-01', 'value': '133421'},
          {'date': '2001-05-01', 'value': '133042'},
          {'date': '2001-04-01', 'value': '132335'},
          {'date': '2001-03-01', 'value': '131929'},
          {'date': '2001-02-01', 'value': '131334'},
          {'date': '2001-01-01', 'value': '130667'},
          {'date': '2000-12-01', 'value': '133541'},
          {'date': '2000-11-01', 'value': '133601'},
          {'date': '2000-10-01', 'value': '133236'},
          {'date': '2000-09-01', 'value': '132677'},
          {'date': '2000-08-01', 'value': '132009'},
          {'date': '2000-07-01', 'value': '131997'},
          {'date': '2000-06-01', 'value': '133218'},
          {'date': '2000-05-01', 'value': '132706'},
          {'date': '2000-04-01', 'value': '131749'},
          {'date': '2000-03-01', 'value': '130752'},
          {'date': '2000-02-01', 'value': '129655'},
          {'date': '2000-01-01', 'value': '128993'},
          {'date': '1999-12-01', 'value': '131633'},
          {'date': '1999-11-01', 'value': '131496'},
          {'date': '1999-10-01', 'value': '131038'},
          {'date': '1999-09-01', 'value': '130102'},
          {'date': '1999-08-01', 'value': '129325'},
          {'date': '1999-07-01', 'value': '129268'},
          {'date': '1999-06-01', 'value': '130137'},
          {'date': '1999-05-01', 'value': '129412'},
          {'date': '1999-04-01', 'value': '128544'},
          {'date': '1999-03-01', 'value': '127399'},
          {'date': '1999-02-01', 'value': '126684'},
          {'date': '1999-01-01', 'value': '125697'},
          {'date': '1998-12-01', 'value': '128448'},
          {'date': '1998-11-01', 'value': '128278'},
          {'date': '1998-10-01', 'value': '127877'},
          {'date': '1998-09-01', 'value': '127098'},
          {'date': '1998-08-01', 'value': '126287'},
          {'date': '1998-07-01', 'value': '126047'},
          {'date': '1998-06-01', 'value': '127118'},
          {'date': '1998-05-01', 'value': '126456'},
          {'date': '1998-04-01', 'value': '125372'},
          {'date': '1998-03-01', 'value': '124332'},
          {'date': '1998-02-01', 'value': '123608'},
          {'date': '1998-01-01', 'value': '122832'},
          {'date': '1997-12-01', 'value': '125383'},
          {'date': '1997-11-01', 'value': '125245'},
          {'date': '1997-10-01', 'value': '124851'},
          {'date': '1997-09-01', 'value': '123948'},
          {'date': '1997-08-01', 'value': '122944'},
          {'date': '1997-07-01', 'value': '122876'},
          {'date': '1997-06-01', 'value': '123861'},
          {'date': '1997-05-01', 'value': '123211'},
          {'date': '1997-04-01', 'value': '122132'},
          {'date': '1997-03-01', 'value': '121155'},
          {'date': '1997-02-01', 'value': '120274'},
          {'date': '1997-01-01', 'value': '119413'},
          {'date': '1996-12-01', 'value': '121955'},
          {'date': '1996-11-01', 'value': '121976'},
          {'date': '1996-10-01', 'value': '121516'},
          {'date': '1996-09-01', 'value': '120795'},
          {'date': '1996-08-01', 'value': '120051'},
          {'date': '1996-07-01', 'value': '119758'},
          {'date': '1996-06-01', 'value': '120795'},
          {'date': '1996-05-01', 'value': '120132'},
          {'date': '1996-04-01', 'value': '119005'},
          {'date': '1996-03-01', 'value': '118167'},
          {'date': '1996-02-01', 'value': '117364'},
          {'date': '1996-01-01', 'value': '116423'},
          {'date': '1995-12-01', 'value': '119123'},
          {'date': '1995-11-01', 'value': '119125'},
          {'date': '1995-10-01', 'value': '118888'},
          {'date': '1995-09-01', 'value': '118286'},
          {'date': '1995-08-01', 'value': '117370'},
          {'date': '1995-07-01', 'value': '117106'},
          {'date': '1995-06-01', 'value': '118340'},
          {'date': '1995-05-01', 'value': '117625'},
          {'date': '1995-04-01', 'value': '116902'},
          {'date': '1995-03-01', 'value': '116071'},
          {'date': '1995-02-01', 'value': '115315'},
          {'date': '1995-01-01', 'value': '114655'},
          {'date': '1994-12-01', 'value': '116964'},
          {'date': '1994-11-01', 'value': '116926'},
          {'date': '1994-10-01', 'value': '116318'},
          {'date': '1994-09-01', 'value': '115693'},
          {'date': '1994-08-01', 'value': '114634'},
          {'date': '1994-07-01', 'value': '114324'},
          {'date': '1994-06-01', 'value': '115271'},
          {'date': '1994-05-01', 'value': '114479'},
          {'date': '1994-04-01', 'value': '113467'},
          {'date': '1994-03-01', 'value': '112389'},
          {'date': '1994-02-01', 'value': '111414'},
          {'date': '1994-01-01', 'value': '110833'},
          {'date': '1993-12-01', 'value': '113084'},
          {'date': '1993-11-01', 'value': '112935'},
          {'date': '1993-10-01', 'value': '112591'},
          {'date': '1993-09-01', 'value': '111926'},
          {'date': '1993-08-01', 'value': '110935'},
          {'date': '1993-07-01', 'value': '110825'},
          {'date': '1993-06-01', 'value': '111693'},
          {'date': '1993-05-01', 'value': '111103'},
          {'date': '1993-04-01', 'value': '110140'},
          {'date': '1993-03-01', 'value': '109136'},
          {'date': '1993-02-01', 'value': '108701'},
          {'date': '1993-01-01', 'value': '108098'},
          {'date': '1992-12-01', 'value': '110265'},
          {'date': '1992-11-01', 'value': '110275'},
          {'date': '1992-10-01', 'value': '110036'},
          {'date': '1992-09-01', 'value': '109449'},
          {'date': '1992-08-01', 'value': '108664'},
          {'date': '1992-07-01', 'value': '108608'},
          {'date': '1992-06-01', 'value': '109626'},
          {'date': '1992-05-01', 'value': '109137'},
          {'date': '1992-04-01', 'value': '108331'},
          {'date': '1992-03-01', 'value': '107494'},
          {'date': '1992-02-01', 'value': '106977'},
          {'date': '1992-01-01', 'value': '106723'},
          {'date': '1991-12-01', 'value': '109110'},
          {'date': '1991-11-01', 'value': '109226'},
          {'date': '1991-10-01', 'value': '109210'},
          {'date': '1991-09-01', 'value': '108840'},